    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">Inicio</a>
                            </li>
                            <li class="active">
                                <a href="#">Iniciar Sesion</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">Iniciar Sesion</h1>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START LOGIN AREA
    =================================-->
    <section class="login_area section--padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <form action="#">
                        <div class="cardify login">
                            <div class="login--header">
                                <h3>Bienvenido de Nuevo</h3>
                                <p>Completa los campos para acceder a tu cuenta</p>
                            </div>
                            <!-- end .login_header -->

                            <div class="login--form">
                                <div class="form-group">
                                    <label for="user_name">Usuario</label>
                                    <input id="user_name" [(ngModel)] = 'Usuario' [ngModelOptions]="{standalone: true}" type="text" class="text_field" placeholder="Escribe tu usuario...">
                                </div>

                                <div class="form-group">
                                    <label for="pass">Contrasena</label>
                                    <input id="pass" [(ngModel)] = 'Contrasena' [ngModelOptions]="{standalone: true}" type="password" class="text_field" placeholder="Escribe tu contraseña...">
                                </div>

                                <div class="form-group">
                                    <div class="custom_checkbox">
                                        <input (change)="mon($event)" [checked]="false" type="checkbox" id="ch2">
                                        <label for="ch2">
                                            <span class="shadow_checkbox"></span>
                                            <span class="label_text">Recuerdame</span>
                                        </label>
                                    </div>
                                </div>

                                <button data-dismiss="modal" data-toggle="modal" data-target="#push-login" (click) = "login()" class="btn btn--md btn--round" type="submit">Acceder</button>

                                <div class="login_assist">
                                    <p class="recover">Olvidaste tu 
                                        <a (click)="olvideC()" href="" data-toggle="modal" data-target="#push-login">contraseña</a>?</p>
                                    <p class="signup">No tienes una
                                        <a routerLink='/registro'>cuenta</a>?</p>
                                </div>
                            </div>
                            <!-- end .login--form -->
                        </div>
                        <!-- end .cardify -->
                    </form>
                </div>
                <!-- end .col-md-6 -->
            </div>
            <!-- end .row -->
        </div>
        <!-- end .container -->
    </section>
    <!--================================
            END LOGIN AREA
    =================================-->

    <div data-dismiss="modal" class="modal fade" id="push-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content" style="text-align: center;">
                <div *ngIf="Fallo == true" role="alert" class="alert alert-danger alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="far fa-frown"></i></div>
                    <div class="message"><strong>¡Error!</strong> Usuario o Contraseña incorrectos</div>
                </div>
                <div *ngIf="Olvide == true" role="alert" class="alert alert-success alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="far fa-smile"></i></div>
                    <div class="message"><strong>¡Querido Usuario!</strong> <br> Para continuar debes ingresar tu usuario </div>
                    <br>
                    <div class="form-group">
                        <input style="text-align: center" id="user_name" [(ngModel)] = 'Usuario' [ngModelOptions]="{standalone: true}" type="text" class="text_field" placeholder="Ingresa tu usuario...">
                    </div>
                    <button (click)="buscarU()" class="btn btn--icon btn-sm btn--round btn-success"><i class="fas fa-user-lock"></i> Aceptar </button> 
                </div>
                <div *ngIf="Encontrado == true" role="alert" class="alert alert-success alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="far fa-smile"></i></div>
                    <div class="message"><strong>¡Hola {{NombreUsuario}}!</strong> <br> Para restablecer tu contraseña ingresa el codigo que enviamos a tu correo electronico </div>
                    <br>
                    <div class="form-group">
                        <input style="text-align: center" id="user_name" [(ngModel)] = 'Codigo' [ngModelOptions]="{standalone: true}" type="text" class="text_field" placeholder="Ingresa el codigo...">
                    </div>
                    <button (click)="verificar2()" class="btn btn--icon btn-sm btn--round btn-success"><i class="fas fa-user-lock"></i> Verificar Codigo </button> 
                </div>
                <div *ngIf="Cambiar == true" role="alert" class="alert alert-success alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="far fa-smile"></i></div>
                    <div class="message"><strong>¡Hola {{NombreUsuario}}!</strong> <br> Ingresa una nueva contraseña </div>
                    <br>
                    <div class="form-group">
                        <input style="text-align: center" id="user_name" [(ngModel)] = 'Contrasena' [ngModelOptions]="{standalone: true}" type="text" class="text_field" placeholder="Ingresa la contraseña...">
                    </div>
                    <button (click)="nuevaC()" class="btn btn--icon btn-sm btn--round btn-success"><i class="fas fa-user-lock"></i> Restablecer </button> 
                </div>
                <div *ngIf="Encontrado == false" role="alert" class="alert alert-danger alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="far fa-frown"></i></div>
                    <div class="message"><strong>¡Error!</strong> Este usuario no existe</div>
                </div>
                <div *ngIf="Fallo == false" role="alert" class="alert alert-success alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="far fa-smile"></i></div>
                    <div class="message"><strong>¡Bienvenido {{NombreUsuario}}!</strong> <br> Nos alegra tenerte de nuevo con nosotros </div>
                    <button data-dismiss="modal" routerLink="/perfil" class="btn btn--icon btn-sm btn--round btn-success"><i class="fa fa-user"></i> Ir a Perfil</button> 
                </div>
                <div *ngIf="Verificar == true" role="alert" class="alert alert-success alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="far fa-smile"></i></div>
                    <div class="message">
                        <strong>¡Hola {{NombreUsuario}}!</strong> 
                        <br> 
                        Para continuar debes ingresar el codigo de verificacion que hemos enviado a tu correo electronico 
                    </div>
                    <br>
                    <div class="form-group">
                        <input style="text-align: center" id="user_name" [(ngModel)] = 'Codigo' [ngModelOptions]="{standalone: true}" type="text" class="text_field" placeholder="Ingresa el codigo...">
                    </div>
                    <button (click)="verificar()" class="btn btn--icon btn-sm btn--round btn-success"><i class="fas fa-user-lock"></i> Verificar Cuenta</button> 
                </div>
                <div *ngIf="Verificar == false" role="alert" class="alert alert-danger alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="far fa-frown"></i></div>
                    <div class="message"><strong>¡Error!</strong> El codigo es incorrecto</div>
                </div>
                <div *ngIf="Vacio == true" role="alert" class="alert alert-warning alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="fas fa-exclamation-triangle"></i></div>
                    <div class="message"><strong>¡Error!</strong> <br> Completa todos los campos </div>
                </div>
            </div>
        </div>
    </div>