<footer class="footer-area">
        <div class="footer-big section--padding">
            <!-- start .container -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="info-footer">
                            <div class="info__logo">
                                <img src="../../../assets/images/logo-woomper.png" width="200" alt="footer logo">
                            </div>
                            <p class="info--text">
                                Con Woomper comprar nunca fue tan facil, eliges, ordenas, pagas y llega a la puerta de tu casa.
                            </p>
                            <ul class="info-contact">
                                <li>
                                    <span class="lnr lnr-phone info-icon"></span>
                                    <span class="info">Telefono: +502 4554 - 5433</span>
                                </li>
                                <li>
                                    <span class="lnr lnr-envelope info-icon"></span>
                                    <span class="info">info@woomper.com</span>
                                </li>
                                <li>
                                    <span class="lnr lnr-map-marker info-icon"></span>
                                    <span class="info">5av Zona 10</span>
                                </li>
                            </ul>
                        </div>
                        <!-- end /.info-footer -->
                    </div>
                    <!-- end /.col-md-3 -->

                    <div class="col-lg-5 col-md-6">
                        <div class="footer-menu">
                            <h4 class="footer-widget-title text--white">Woomper</h4>
                            <ul>
                                <li>
                                    <a routerLink="/documentacion">Documentacion</a>
                                </li>
                                <li>
                                    <a routerLink="/politicas">Politicas de privacidad</a>
                                </li>
                                <li>
                                    <a routerLink="/nosotros">Nosotros</a>
                                </li>
                                <li>
                                    <a routerLink="/comentarios">Comentarios</a>
                                </li>
                                <li>
                                    <a routerLink="/tienda">Tienda</a>
                                </li>
                                <li>
                                    <a routerLink="/soporte">Soporte</a>
                                </li>
                            </ul>
                        </div>
                        <!-- end /.footer-menu -->

                        <div class="footer-menu">
                            <h4 class="footer-widget-title text--white">Ayuda</h4>
                            <ul>
                                <li>
                                    <a href="#">¿Como comprar?</a>
                                </li>
                                <li>
                                    <a href="#">¿Devoluciones?</a>
                                </li>
                                <li>
                                    <a href="#">¿Como crear cuenta?</a>
                                </li>
                                <li>
                                    <a href="#">¿Como eliminar cuenta?</a>
                                </li>
                                <li>
                                    <a href="#">¿Como pago?</a>
                                </li>
                                <li>
                                    <a href="#">¿Como veo pedidos?</a>
                                </li>
                                <li>
                                    <a href="#">¿Como cancelo pedido?</a>
                                </li>
                            </ul>
                        </div>
                        <!-- end /.footer-menu -->
                    </div>
                    <!-- end /.col-md-5 -->

                    <div class="col-lg-4 col-md-12">
                        <div class="newsletter">
                            <h4 class="footer-widget-title text--white">Suscripcion</h4>
                            <p>
                                Suscribete para recibir notificaciones y promociones a tu correo
                            </p>
                            <div class="newsletter__form">
                                <form action="#">
                                    <div class="field-wrapper">
                                        <input class="relative-field rounded" type="text" placeholder="Enter email">
                                        <button class="btn btn--round" type="submit">Suscribirme</button>
                                    </div>
                                </form>
                            </div>

                            <!-- start .social -->
                            <div class="social social--color--filled">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-google-plus"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-pinterest"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-linkedin"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.social -->
                        </div>
                        <!-- end /.newsletter -->
                    </div>
                    <!-- end /.col-md-4 -->
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.footer-big -->

        <div class="mini-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-text">
                            <p>&copy; 2018
                                <a routerLink="/inicio" >Woomper</a>. Todos los derechos reservados
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- <div class="go_top2">
        <button (click)="chat()" data-toggle="modal" data-target="#chat" class="btn btn--icon btn-sm btn--round btn-secondary">
            <i class="fas fa-comments"></i> Chat
        </button>
    </div> -->

    <div class="modal fade" id="chat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content" style="text-align: center;">
                <div class="row">
                    <div class="forum_detail_area ">
                        <div class="cardify forum--issue">
                            <div class="title_vote clearfix">
                                <h3>Hola {{NombreUsuario}} Chatea con nosotros</h3>
                            </div>
                            <div class="suppot_query_tag">
                                <a href="#" class="user"> Soporte Tecnico </a>
                                <span>conectado</span>
                                <span class="support_tag">Adminstrador</span>
                            </div>
                            
                            <div *ngFor="let i of listaFiltroChats">
                                <p *ngIf="i.Emisor == 1" style="text-align: left">{{i.Mensaje}}</p>
                                <p *ngIf="i.Emisor != 1" style="text-align: right">{{i.Mensaje}}</p>
                            </div>

                            <div class="media comment-form">
                                <div class="media-left">
                                    <a href="#">
                                        <img alt="" class="media-object" style="border-radius: 30px; margin-right: 3px" src="http://localhost:3000/usuarios/imagen/Fondo.png" width="50">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <form action="#" class="comment-reply-form ng-untouched ng-pristine ng-valid" novalidate="">
                                        <textarea [(ngModel)] = 'Mensaje' [ngModelOptions]="{standalone: true}" name="reply-comment" placeholder="Escribe tu mensaje..." ng-reflect-name="reply-comment" ng-reflect-options="[object Object]" class="ng-untouched ng-pristine ng-valid"></textarea>
                                        <button (click)="postChats()" class="btn btn--sm btn--round">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  