    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">Inicio</a>
                            </li>
                            <li>
                                <a href="dashboard.html">Panel</a>
                            </li>
                            <li class="active">
                                <a href="#">Productos</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">Productos</h1>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START DASHBOARD AREA
    =================================-->
    <section class="dashboard-area">

        <app-menu></app-menu>

        <div class="dashboard_contents dashboard_statement_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dashboard_title_area">
                            <div class="dashboard__title pull-left">
                                <h3 style="display: inline;">Productos</h3>
                            </div>
                            <input [(ngModel)]="data" (keyup)="buscar(data)" class="relative-field rounded ng-pristine ng-valid ng-touched" placeholder="Busca tus productos" style="width: 30%; margin-left: 40px" type="text">
                            <div class="pull-right">
                                <a (click) = "limpiar()" data-target="#agregarProducto" data-toggle="modal" style="color: #fff" class="btn btn--md btn--round">Agregar</a>
                            </div>
                        </div>
                    </div>
                    <!-- end /.col-md-12 -->
                </div>
                <!-- end /.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="statement_table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr style="text-align: center">
                                        <th>Imagen</th>
                                        <th>IDProducto</th>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Fecha</th>
                                        <th>Estado</th>
                                        <th>IDCategoria</th>
                                        <th>IDSubCategoria</th>
                                        <th>IDProveedor</th>
                                        <th>IDSucursal</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="text-align: center" *ngFor="let i of listaProductos">
                                        <td style="width: 50px">
                                            <img *ngIf="i.Imagen != null" src="http://localhost:3000/productos/imagen/{{i.Imagen}}" alt="Sin Imagen">
                                            <img *ngIf="i.Imagen == null" src="../../../../assets/images/sin-imagen.jpg" alt="Sin Imagen">
                                        </td>
                                        <td>{{i.IDProducto}}</td>
                                        <td>{{i.Producto}}</td>
                                        <td>{{i.Precio}}</td>
                                        <td>{{i.Cantidad}}</td>
                                        <td>{{i.Fecha}}</td>
                                        <td *ngIf="i.Cantidad == 0" style="color:crimson">{{i.Estado}}</td>
                                        <td *ngIf="i.Cantidad != 0" style="color:limegreen">{{i.Estado}}</td>
                                        <td>{{getCategoria(i.IDCategoria)}}</td>
                                        <td>{{getSubCategoria(i.IDSubCategoria)}}</td>
                                        <td>{{getProveedor(i.IDProveedor)}}</td>
                                        <td>{{getSucursal(i.IDSucursal)}}</td>
                                        <td>
                                            <button (click) = "setData(i)" data-target="#editarProducto" data-toggle="modal" class="btn btn-sm btn--round btn-primary">
                                                <span class="lnr lnr-cog"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="pagination-area pagination-area2">
                                <nav class="navigation pagination " role="navigation">
                                    <div class="nav-links">
                                        <a class="prev page-numbers" href="#">
                                            <span class="lnr lnr-arrow-left"></span>
                                        </a>
                                        <a class="page-numbers current" href="#">1</a>
                                        <a class="page-numbers" href="#">2</a>
                                        <a class="page-numbers" href="#">3</a>
                                        <a class="next page-numbers" href="#">
                                            <span class="lnr lnr-arrow-right"></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.dashboard_menu_area -->
    </section>
    <!--================================
            END DASHBOARD AREA
    =================================-->

    <div class="modal fade rating_modal" id="agregarProducto" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 style="text-align: center" class="modal-title" id="rating_modal"><i class="fas fa-box-open"></i> Agregar Producto</h3>
                </div>
                <div class="modal-body">
                    <div class="information_wrapper form--fields">
                        <div class="form-group">
                            <label for="acname">Producto
                                <sup>*</sup>
                            </label>
                            <input [(ngModel)] = 'Producto' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Producto" type="text">
                        </div>
                        <div class="form-group">
                            <label for="acname">Precio
                                <sup>*</sup>
                            </label>
                            <input [(ngModel)] = 'Precio' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Precio" type="text">
                        </div>
                        <div class="form-group">
                            <label for="acname">Cantidad
                                <sup>*</sup>
                            </label>
                            <input [(ngModel)] = 'Cantidad' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Cantidad" type="text">
                        </div>
                        <div class="form-group">
                            <label for="country">Categoria
                                <sup>*</sup>
                            </label>
                            <div class="select-wrap select-wrap2">
                                <select (change)="filtrarSubCategorias(IDCategoria)" [(ngModel)] = 'IDCategoria' [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let i of listaCategorias" value="{{i.IDCategoria}}">{{i.Categoria}}</option>
                                </select>
                                <span class="lnr lnr-chevron-down"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="country">SubCategoria
                                <sup>*</sup>
                            </label>
                            <div class="select-wrap select-wrap2">
                                <select [(ngModel)] = 'IDSubCategoria' [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let i of filtroSubCategorias" value="{{i.IDSubCategoria}}">{{i.SubCategoria}}</option>
                                </select>
                                <span class="lnr lnr-chevron-down"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="country">Proveedor
                                <sup>*</sup>
                            </label>
                            <div class="select-wrap select-wrap2">
                                <select [(ngModel)] = 'IDProveedor' [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let i of listaProveedores" value="{{i.IDProveedor}}">{{i.Proveedor}}</option>
                                </select>
                                <span class="lnr lnr-chevron-down"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="country">Sucursal
                                <sup>*</sup>
                            </label>
                            <div class="select-wrap select-wrap2">
                                <select [(ngModel)] = 'IDSucursal' [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let i of listaSucursales" value="{{i.IDSucursal}}">{{i.Sucursal}}</option>
                                </select>
                                <span class="lnr lnr-chevron-down"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="dashboard_setting_btn">
                            <button data-dismiss="modal" (click) = "postProductos()" data-target="#subirImagen" data-toggle="modal" type="submit" class="btn btn--round btn--md">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade rating_modal" id="editarProducto" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 style="text-align: center" class="modal-title" id="rating_modal"><i class="fas fa-box-open"></i> Editar Productos</h3>
                </div>
                <div class="modal-body">
                    <div class="information_wrapper form--fields">
                        <div class="form-group">
                            <label for="acname">IDProducto
                                <sup>*</sup>
                            </label>
                            <input disabled="disabled" [(ngModel)] = 'IDProducto' [ngModelOptions]="{standalone: true}" id="acname" placeholder="IDProducto" type="text">
                        </div>
                        <div class="form-group">
                            <label for="acname">Producto
                                <sup>*</sup>
                            </label>
                            <input [(ngModel)] = 'Producto' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Producto" type="text">
                        </div>
                        <div class="form-group">
                            <label for="acname">Precio
                                <sup>*</sup>
                            </label>
                            <input [(ngModel)] = 'Precio' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Precio" type="text">
                        </div>
                        <div class="form-group">
                            <label for="acname">Cantidad
                                <sup>*</sup>
                            </label>
                            <input [(ngModel)] = 'Cantidad' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Cantidad" type="text">
                        </div>
                        <div class="form-group">
                            <label for="country">Categoria
                                <sup>*</sup>
                            </label>
                            <div class="select-wrap select-wrap2">
                                <select (click)="filtrarSubCategorias(IDCategoria)" [(ngModel)] = 'IDCategoria' [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let i of listaCategorias" value="{{i.IDCategoria}}">{{i.Categoria}}</option>
                                </select>
                                <span class="lnr lnr-chevron-down"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="country">SubCategoria
                                <sup>*</sup>
                            </label>
                            <div class="select-wrap select-wrap2">
                                <select [(ngModel)] = 'IDSubCategoria' [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let i of filtroSubCategorias" value="{{i.IDSubCategoria}}">{{i.SubCategoria}}</option>
                                </select>
                                <span class="lnr lnr-chevron-down"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="country">Proveedor
                                <sup>*</sup>
                            </label>
                            <div class="select-wrap select-wrap2">
                                <select [(ngModel)] = 'IDProveedor' [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let i of listaProveedores" value="{{i.IDProveedor}}">{{i.Proveedor}}</option>
                                </select>
                                <span class="lnr lnr-chevron-down"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="country">Sucursal
                                <sup>*</sup>
                            </label>
                            <div class="select-wrap select-wrap2">
                                <select [(ngModel)] = 'IDSucursal' [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let i of listaSucursales" value="{{i.IDSucursal}}">{{i.Sucursal}}</option>
                                </select>
                                <span class="lnr lnr-chevron-down"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="dashboard_setting_btn">
                            <button data-dismiss="modal" (click) = "putProductos()" type="submit" data-target="#subirImagen" data-toggle="modal" class="btn btn--round btn--md">Guardar</button>
                            <button data-dismiss="modal" (click) = "deleteProductos(IDProducto)" type="submit" class="btn btn--round btn--md">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade rating_modal" id="subirImagen" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 style="text-align: center" class="modal-title" id="rating_modal"><i class="fas fa-box-open"></i> Subir Imagen</h3>
                </div>
                <div class="modal-body">
                    <div class="information_wrapper form--fields">
                        <img src="http://localhost:3000/productos/imagen/{{i.Imagen}}" alt="Author profile area">
                        <div class="form-group">
                            <div class="upload_wrapper">
                                <p>Subir Imagen
                                    <span>(JPEG o PNG 100x100px)</span>
                                </p>
                                <div class="custom_upload">
                                    <label for="thumbnail">
                                        <input (change)="subirPortada(IDProducto,$event)" id="thumbnail" class="files" type="file">
                                        <span class="btn btn--round btn--sm">Seleccionar Archivo</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="dashboard_setting_btn">
                            <button data-dismiss="modal" type="submit" class="btn btn--round btn--md">Subir Imagen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>