/* You can add global styles to this file, and also import other style files */

.no-puntero{
    cursor: no-drop;
}

.puntero{
    cursor: pointer;
}

.porcentaje-0{
    width: 0%;
}

.porcentaje-20{
    width: 20%;
}

.porcentaje-40{
    width: 40%;
}

.porcentaje-60{
    width: 60%;
}

.porcentaje-80{
    width: 80%;
}

.porcentaje-100{
    width: 100%;
}