    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="breadcrumb">
                      <ul>
                          <li>
                              <a href="index.html">Inicio</a>
                          </li>
                          <li>
                              <a href="dashboard.html">Panel</a>
                          </li>
                          <li class="active">
                              <a href="#">Usuarios</a>
                          </li>
                      </ul>
                  </div>
                  <h1 class="page-title">Usuarios</h1>
              </div>
              <!-- end /.col-md-12 -->
          </div>
          <!-- end /.row -->
      </div>
      <!-- end /.container -->
  </section>
  <!--================================
      END BREADCRUMB AREA
  =================================-->

  <!--================================
          START DASHBOARD AREA
  =================================-->
  <section class="dashboard-area">
      
      <app-menu></app-menu>

      <div class="dashboard_contents dashboard_statement_area">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard_title_area">
                        <div class="dashboard__title pull-left">
                            <h3>Usuarios</h3>
                        </div>
                        <input [(ngModel)]="data" (keyup)="buscar(data)" class="relative-field rounded ng-pristine ng-valid ng-touched" placeholder="Busca tus usuarios" style="width: 30%; margin-left: 40px" type="text">
                        <div class="pull-right">
                            <a (click) = "limpiar()" data-target="#agregarUsuario" data-toggle="modal" style="color: #fff" class="btn btn--md btn--round">Agregar</a>
                        </div>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->

              <div class="row">
                  <div class="col-md-12">
                      <div class="statement_table table-responsive">
                          <table class="table">
                              <thead>
                                  <tr style="text-align: center">
                                      <th>IDUsuario</th>
                                      <th>Nombre</th>
                                      <th>Apellido</th>
                                      <th>Direccion</th>
                                      <th>Correo</th>
                                      <th>Telefono</th>
                                      <th>Usuario</th>
                                      <th>Rol</th>
                                      <th>Acciones</th>
                                  </tr>
                              </thead>

                              <tbody>
                                  <tr style="text-align: center" *ngFor="let i of listaUsuarios">
                                      <td>{{i.IDUsuario}}</td>
                                      <td>{{i.NombreUsuario}}</td>
                                      <td>{{i.ApellidoUsuario}}</td>
                                      <td>{{i.DireccionUsuario}}</td>
                                      <td>{{i.CorreoUsuario}}</td>
                                      <td>{{i.TelefonoUsuario}}</td>
                                      <td>{{i.Usuario}}</td>
                                      <td>{{getRol(i.IDRol)}}</td>
                                      <td>
                                          <button (click) = "setData(i)" data-target="#editarUsuario" data-toggle="modal" class="btn btn-sm btn--round btn-primary">
                                              <span class="lnr lnr-cog"></span>
                                          </button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>

                          <div class="pagination-area pagination-area2">
                              <nav class="navigation pagination " role="navigation">
                                  <div class="nav-links">
                                      <a class="prev page-numbers" href="#">
                                          <span class="lnr lnr-arrow-left"></span>
                                      </a>
                                      <a class="page-numbers current" href="#">1</a>
                                      <a class="page-numbers" href="#">2</a>
                                      <a class="page-numbers" href="#">3</a>
                                      <a class="next page-numbers" href="#">
                                          <span class="lnr lnr-arrow-right"></span>
                                      </a>
                                  </div>
                              </nav>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end /.row -->
          </div>
          <!-- end /.container -->
      </div>
      <!-- end /.dashboard_menu_area -->
  </section>
  <!--================================
          END DASHBOARD AREA
  =================================-->

  <div class="modal fade rating_modal" id="agregarUsuario" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <h3 style="text-align: center" class="modal-title" id="rating_modal"><i class="fas fa-users"></i> Agregar Usuarios</h3>
              </div>
              <div class="modal-body">
                  <div class="information_wrapper form--fields">
                      <div class="form-group">
                          <label for="acname">Nombre
                              <sup>*</sup>
                          </label>
                          <input [(ngModel)] = 'NombreUsuario' [ngModelOptions]="{standalone: true}" id="acname" placeholder="NombreUsuario" type="text">
                      </div>
                      <div class="form-group">
                          <label for="acname">Apellido
                              <sup>*</sup>
                          </label>
                          <input [(ngModel)] = 'ApellidoUsuario' [ngModelOptions]="{standalone: true}" id="acname" placeholder="ApellidoUsuario" type="text">
                      </div>
                      <div class="form-group">
                          <label for="acname">Direccion
                              <sup>*</sup>
                          </label>
                          <input [(ngModel)] = 'DireccionUsuario' [ngModelOptions]="{standalone: true}" id="acname" placeholder="DireccionUsuario" type="text">
                      </div>
                      <div class="form-group">
                          <label for="acname">Correo
                              <sup>*</sup>
                          </label>
                          <input [(ngModel)] = 'CorreoUsuario' [ngModelOptions]="{standalone: true}" id="acname" placeholder="CorreoUsuario" type="text">
                      </div>
                      <div class="form-group">
                          <label for="acname">Telefono
                              <sup>*</sup>
                          </label>
                          <input [(ngModel)] = 'TelefonoUsuario' [ngModelOptions]="{standalone: true}" id="acname" placeholder="TelefonoUsuario" type="text">
                      </div>
                      <div class="form-group">
                          <label for="acname">Usuario
                              <sup>*</sup>
                          </label>
                          <input [(ngModel)] = 'Usuario' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Usuario" type="text">
                      </div>
                      <div class="form-group">
                          <label for="acname">Contraseña
                              <sup>*</sup>
                          </label>
                          <input [(ngModel)] = 'Contrasena' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Contrasena" type="password">
                      </div>
                      <div class="form-group">
                          <label for="country">Rol
                              <sup>*</sup>
                          </label>
                          <div class="select-wrap select-wrap2">
                              <select [(ngModel)] = 'IDRol' [ngModelOptions]="{standalone: true}">
                                  <option *ngFor="let i of listaRoles" value="{{i.IDRol}}">{{i.Rol}}</option>
                              </select>
                              <span class="lnr lnr-chevron-down"></span>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="dashboard_setting_btn">
                          <button data-dismiss="modal" (click) = "postUsuarios()" type="submit" class="btn btn--round btn--md">Guardar</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="modal fade rating_modal" id="editarUsuario" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <h3 style="text-align: center" class="modal-title" id="rating_modal"><i class="fas fa-users"></i> Editar Usuarios</h3>
              </div>
              <div class="modal-body">
                  <div class="information_wrapper form--fields">
                      <div class="form-group">
                          <label for="acname">IDUsuario
                              <sup>*</sup>
                          </label>
                          <input disabled="disabled" [(ngModel)] = 'IDUsuario' [ngModelOptions]="{standalone: true}" id="acname" placeholder="IDUsuario" type="text">
                      </div>
                      <div class="form-group">
                        <label for="acname">Nombre
                            <sup>*</sup>
                        </label>
                        <input [(ngModel)] = 'NombreUsuario' [ngModelOptions]="{standalone: true}" id="acname" placeholder="NombreUsuario" type="text">
                    </div>
                    <div class="form-group">
                        <label for="acname">Apellido
                            <sup>*</sup>
                        </label>
                        <input [(ngModel)] = 'ApellidoUsuario' [ngModelOptions]="{standalone: true}" id="acname" placeholder="ApellidoUsuario" type="text">
                    </div>
                    <div class="form-group">
                        <label for="acname">Direccion
                            <sup>*</sup>
                        </label>
                        <input [(ngModel)] = 'DireccionUsuario' [ngModelOptions]="{standalone: true}" id="acname" placeholder="DireccionUsuario" type="text">
                    </div>
                    <div class="form-group">
                        <label for="acname">Correo
                            <sup>*</sup>
                        </label>
                        <input [(ngModel)] = 'CorreoUsuario' [ngModelOptions]="{standalone: true}" id="acname" placeholder="CorreoUsuario" type="text">
                    </div>
                    <div class="form-group">
                        <label for="acname">Telefono
                            <sup>*</sup>
                        </label>
                        <input [(ngModel)] = 'TelefonoUsuario' [ngModelOptions]="{standalone: true}" id="acname" placeholder="TelefonoUsuario" type="text">
                    </div>
                    <div class="form-group">
                        <label for="acname">Usuario
                            <sup>*</sup>
                        </label>
                        <input [(ngModel)] = 'Usuario' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Usuario" type="text">
                    </div>
                    <div class="form-group">
                        <label for="acname">Contraseña
                            <sup>*</sup>
                        </label>
                        <input [(ngModel)] = 'Contrasena' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Contrasena" type="password">
                    </div>
                    <div class="form-group">
                        <label for="country">Rol
                            <sup>*</sup>
                        </label>
                        <div class="select-wrap select-wrap2">
                            <select [(ngModel)] = 'IDRol' [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let i of listaRoles" value="{{i.IDRol}}">{{i.Rol}}</option>
                            </select>
                            <span class="lnr lnr-chevron-down"></span>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                      <div class="dashboard_setting_btn">
                          <button data-dismiss="modal" (click) = "putUsuarios()" type="submit" class="btn btn--round btn--md">Guardar</button>
                          <button data-dismiss="modal" (click) = "deleteUsuarios(IDUsuario)" type="submit" class="btn btn--round btn--md">Eliminar</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>