<div class="prev_hero_area">
        <div class="prev_menu_area cardify">
            <div class="container">
                <div class="row">
                    <nav class="navbar fixed-top navbar-light navbar-expand-lg">
                        <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <a class="navbar-brand" href="#">
                                <!-- <img src="assets/images/favicon.png" alt="logo"> -->
                            </a>
                            <h1 style="font-weight: 800">Woom<span style="color: #0674ec;">per</span></h1>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a data-scroll href="#home">Inicio</a>
                                    </li>
                                    <li>
                                        <a data-scroll href="#pages">Documentacion</a>
                                    </li>
                                    <li>
                                        <a data-scroll href="#features">Soporte</a>
                                    </li>
                                    <li>
                                        <a href="https://themeforest.net/item/martplace-multipurpose-online-marketplace-html-template/21212869?ref=aazztech" class="btn btn--round btn--primary">Purchase Now</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>

        <!-- preview hero area -->
        <div class="prev_hero" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="hero__content__title">
                            <br/>
                            <br/>
                            <h1>
                                Created for
                                <span class="highlight">Marketplace</span>
                            </h1>
                            <p class="tagline">Complete Online Multipurpose Marketplace HTML Template with Dashboard</p>
                        </div>

                        <!-- start .hero__btn-area-->
                        <div class="hero__btn-area">
                            <a data-scroll href="#pages" class="btn btn--round btn--lg">Explore Features & Demos</a>
                            <a href="dist/index.html" class="btn btn--round btn--white btn--lg">Live Preview</a>
                        </div>
                        <!-- end .hero__btn-area-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="prev_facts">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="prev_box pcolorbg reveal" data-anim="fadeInUp" data-duration="0.5s">
                            <h1 class="num">03</h1>
                            <span>Home Pages</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="prev_box mcolorbg4 even reveal" data-anim="fadeInUp" data-duration="0.5s">
                            <h1 class="num">90+</h1>
                            <span>HTML Pages</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="prev_box mcolorbg3 reveal" data-anim="fadeInUp" data-duration="0.5s">
                            <h1 class="num">70+</h1>
                            <span>UI Components & Elements</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="prev_box mcolorbg1 even reveal" data-anim="fadeInUp" data-duration="0.5s">
                            <h1 class="num">90+</h1>
                            <span>Home Pages</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- martplace features -->
        <section class="prev_features_area">
            <div class="prev_single_feature bg_color">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="prev_feature_image reveal" data-anim="fadeIn" data-duration="1s">
                                <img src="assets/images/section/s1.png" alt="" srcset="">
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="prev_feature_contents reveal" data-anim="fadeIn" data-duration="1s">
                                <h1>What Can You Create with
                                    <span class="highlight">MartPlace</span>
                                </h1>
                                <p>
                                    <span>MartPlace</span> –is a Complete Online Multipurpose Marketplace HTML Template. This item
                                    is rich in features and includes pages for
                                    <span>products views, product pages, dashboard, author pages, forums, pricing, events, careers,
                                        affiliates, about, blog,
                                    </span> and much more! Everything possibly needed for an online marketplace. This clean and
                                    modern HTML template design will make a huge positive impression on the visitors and potential
                                    buyers.
                                </p>
                                <p class="bold mt">if you're planning to sell items such as...</p>
                                <div class="prev_fe_list">
                                    <ul>
                                        <li>Themes</li>
                                        <li>Code Snippets</li>
                                        <li>Templates</li>
                                        <li>Plugins</li>
                                        <li>PSD Templates</li>
                                    </ul>
                                    <ul>
                                        <li>Arts </li>
                                        <li>Logos</li>
                                        <li>e-Books</li>
                                        <li>Tutorials</li>
                                        <li>Online Goods</li>
                                    </ul>
                                    <ul>
                                        <li>Digital Products</li>
                                        <li>Physical Items </li>
                                        <li>& Others Related Online Products</li>
                                    </ul>
                                </div>
                                <a data-scroll href="#pages" class="btn btn--default btn--round prev_content_btn">Explore Demos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="prev_single_feature" id="pages">
                <div class="prev_section_title_area reveal" data-anim="fadeInUp" data-duration="0.5s">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center prev_demo_title">
                                    <h2>Check Out Our All
                                        <span class="highlight">Demos</span>
                                    </h2>
                                    <p>MartPlace comes with 90+ amazing pages & 70+ components of different styles</p>
                                </div>
    
                                <div class="prev_filter_menu">
                                    <ul id="sorting_control">
                                        <li class="uk-active" data-uk-filter>
                                            <a href="#">All Pages</a>
                                        </li>
                                        <li data-uk-filter="home">
                                            <a href="#">Home Pages</a>
                                        </li>
                                        <li data-uk-filter="products">
                                            <a href="#">Product Pages</a>
                                        </li>
                                        <li data-uk-filter="author">
                                            <a href="#">Author Pages</a>
                                        </li>
                                        <li data-uk-filter="dashboard">
                                            <a href="#">Dashboard</a>
                                        </li>
                                        <li data-uk-filter="user">
                                            <a href="#">Users</a>
                                        </li>
                                        <li data-uk-filter="carrier">
                                            <a href="#">Careers</a>
                                        </li>
                                        <li data-uk-filter="event">
                                            <a href="#">Events</a>
                                        </li>
                                        <li data-uk-filter="blog">
                                            <a href="#">Blog</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="prev_demos reveal" data-anim="fadeIn" data-duration="2s">
                    <div class="container">
                        <div class="row" data-uk-grid="{controls: '#sorting_control'}">
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="home">
                                <div class="demo">
                                    <a class="prev_images" href="dist/index.html">
                                        <img src="assets/images/demo/h1.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/index.html">Home One</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="home">
                                <div class="demo">
                                    <a class="prev_images" href="dist/index-single.html">
                                        <img src="assets/images/demo/h2.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/index-single.html">Home Two</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="home">
                                <div class="demo">
                                    <a class="prev_images" href="dist/index3.html">
                                        <img src="assets/images/demo/h3.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/index3.html">Home Three</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="author">
                                <div class="demo">
                                    <a class="prev_images" href="dist/author.html">
                                        <img src="assets/images/demo/a1.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/author.html">Author Profile</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="author">
                                <div class="demo">
                                    <a class="prev_images" href="dist/author-items.html">
                                        <img src="assets/images/demo/a2.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/author-items.html">Author Items</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="author">
                                <div class="demo">
                                    <a class="prev_images" href="dist/author-reviews.html">
                                        <img src="assets/images/demo/a3.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/author-reviews.html">Customer Reviews</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="author">
                                <div class="demo">
                                    <a class="prev_images" href="dist/author-followers.html">
                                        <img src="assets/images/demo/a4.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/author-followers.html">Followers</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="author">
                                <div class="demo">
                                    <a class="prev_images" href="dist/author-following.html">
                                        <img src="assets/images/demo/a5.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/author-following.html">Follwing</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="author, user">
                                <div class="demo">
                                    <a class="prev_images" href="dist/favourites.html">
                                        <img src="assets/images/demo/a6.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/favourites.html">Favourites Items</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="author, user">
                                <div class="demo">
                                    <a class="prev_images" href="dist/notification.html">
                                        <img src="assets/images/demo/a7.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/notification.html">Notifications</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="author, user">
                                <div class="demo">
                                    <a class="prev_images" href="dist/message.html">
                                        <img src="assets/images/demo/a8.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/message.html">Messages</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="author, user">
                                <div class="demo">
                                    <a class="prev_images" href="dist/message.html">
                                        <img src="assets/images/demo/a9.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/message.html">Message Compose</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="products">
                                <div class="demo">
                                    <a class="prev_images" href="dist/all-products.html">
                                        <img src="assets/images/demo/p1.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/all-products.html">Products Grid</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="products">
                                <div class="demo">
                                    <a class="prev_images" href="dist/all-products-list.html">
                                        <img src="assets/images/demo/p2.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/all-products-list.html">Products List</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="products">
                                <div class="demo">
                                    <a class="prev_images" href="dist/category-grid.html">
                                        <img src="assets/images/demo/p3.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/category-grid.html">Category Grid</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="products">
                                <div class="demo">
                                    <a class="prev_images" href="dist/category-list.html">
                                        <img src="assets/images/demo/p4.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/category-list.html">Category List</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="products">
                                <div class="demo">
                                    <a class="prev_images" href="dist/search-product.html">
                                        <img src="assets/images/demo/p5.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/search-product.html">Search Products</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="products">
                                <div class="demo">
                                    <a class="prev_images" href="dist/single-product.html">
                                        <img src="assets/images/demo/p6.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/single-product.html">Single Product V1</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="products">
                                <div class="demo">
                                    <a class="prev_images" href="dist/single-product-v2.html">
                                        <img src="assets/images/demo/p7.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/single-product-v2.html">Single Product V2</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="products">
                                <div class="demo">
                                    <a class="prev_images" href="dist/single-product-v3.html">
                                        <img src="assets/images/demo/p8.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/single-product-v3.html">Single Product V3</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="products">
                                <div class="demo">
                                    <a class="prev_images" href="dist/cart.html">
                                        <img src="assets/images/demo/p9.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/cart.html">Shopping Cart</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="products">
                                <div class="demo">
                                    <a class="prev_images" href="dist/checkout.html">
                                        <img src="assets/images/demo/p10.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/checkout.html">Checkout</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="dashboard">
                                <div class="demo">
                                    <a class="prev_images" href="dist/dashboard.html">
                                        <img src="assets/images/demo/d1.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/dashboard.html">Dashboard</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="dashboard">
                                <div class="demo">
                                    <a class="prev_images" href="dist/dashboard-setting.html">
                                        <img src="assets/images/demo/d2.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/dashboard-setting.html">Account Settings</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="dashboard">
                                <div class="demo">
                                    <a class="prev_images" href="dist/dashboard-purchase.html">
                                        <img src="assets/images/demo/d3.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/dashboard-purchase.html">Author Purchases</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="dashboard">
                                <div class="demo">
                                    <a class="prev_images" href="dist/dashboard-add-credit.html">
                                        <img src="assets/images/demo/d4.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/dashboard-add-credit.html">Add Credits</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="dashboard">
                                <div class="demo">
                                    <a class="prev_images" href="dist/dashboard-statement.html">
                                        <img src="assets/images/demo/d5.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/dashboard-statement.html">Sales Statements</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="dashboard">
                                <div class="demo">
                                    <a class="prev_images" href="dist/invoice.html">
                                        <img src="assets/images/demo/d6.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/invoice.html">Invoice</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="dashboard">
                                <div class="demo">
                                    <a class="prev_images" href="dist/dashboard-upload.html">
                                        <img src="assets/images/demo/d7.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/dashboard-upload.html">Upload</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="dashboard">
                                <div class="demo">
                                    <a class="prev_images" href="dist/dashboard-manage-item.html">
                                        <img src="assets/images/demo/d8.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/dashboard-manage-item.html">Manage Items</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="dashboard">
                                <div class="demo">
                                    <a class="prev_images" href="dist/dashboard-withdrawal.html">
                                        <img src="assets/images/demo/d9.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/dashboard-withdrawal.html">Withdrawal</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="dashboard">
                                <div class="demo">
                                    <a class="prev_images" href="dist/add-payment-method.html">
                                        <img src="assets/images/demo/d10.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/add-payment-method.html">Add Payment methods</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="user">
                                <div class="demo">
                                    <a class="prev_images" href="dist/support-forum.html">
                                        <img src="assets/images/demo/u1.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/support-forum.html">Support Forum</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="user">
                                <div class="demo">
                                    <a class="prev_images" href="dist/support-forum-detail.html">
                                        <img src="assets/images/demo/u2.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/support-forum-detail.html">Forum Details</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="user">
                                <div class="demo">
                                    <a class="prev_images" href="dist/login.html">
                                        <img src="assets/images/demo/u3.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/login.html">Login</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="user">
                                <div class="demo">
                                    <a class="prev_images" href="dist/signup.html">
                                        <img src="assets/images/demo/u4.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/signup.html">Register</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="user">
                                <div class="demo">
                                    <a class="prev_images" href="dist/recover-pass.html">
                                        <img src="assets/images/demo/u5.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/recover-pass.html">Recover Password</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="user">
                                <div class="demo">
                                    <a class="prev_images" href="dist/customer-dashboard.html">
                                        <img src="assets/images/demo/cd1.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/customer-dashboard.html">Customer Dashboard</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="user">
                                <div class="demo">
                                    <a class="prev_images" href="dist/customer-downloads.html">
                                        <img src="assets/images/demo/cd2.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/customer-downloads.html">Customer Downloads</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="user">
                                <div class="demo">
                                    <a class="prev_images" href="dist/customer-info.html">
                                        <img src="assets/images/demo/cd3.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/customer-info.html">Customer Info</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="carrier">
                                <div class="demo">
                                    <a class="prev_images" href="dist/carieer.html">
                                        <img src="assets/images/demo/c1.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/carieer.html">Job Post</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="carrier">
                                <div class="demo">
                                    <a class="prev_images" href="dist/job-detail.html">
                                        <img src="assets/images/demo/c2.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/job-detail.html">Job Details</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="event">
                                <div class="demo">
                                    <a class="prev_images" href="dist/event.html">
                                        <img src="assets/images/demo/e1.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/event.html">Events</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="event">
                                <div class="demo">
                                    <a class="prev_images" href="dist/event-detail.html">
                                        <img src="assets/images/demo/e2.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/event-detail.html">Event Details</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="blog">
                                <div class="demo">
                                    <a class="prev_images" href="dist/blog1.html">
                                        <img src="assets/images/demo/b1.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/blog1.html">Blog Version 01</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="blog">
                                <div class="demo">
                                    <a class="prev_images" href="dist/blog2.html">
                                        <img src="assets/images/demo/b2.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/blog2.html">Blog Version 02</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="blog">
                                <div class="demo">
                                    <a class="prev_images" href="dist/event-detail.html">
                                        <img src="assets/images/demo/b3.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/event-detail.html">Single Blog</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="other">
                                <div class="demo">
                                    <a class="prev_images" href="dist/about.html">
                                        <img src="assets/images/demo/o1.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/about.html">About Us</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="other">
                                <div class="demo">
                                    <a class="prev_images" href="dist/how-it-works.html">
                                        <img src="assets/images/demo/o2.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/how-it-works.html">How it works</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="other">
                                <div class="demo">
                                    <a class="prev_images" href="dist/pricing.html">
                                        <img src="assets/images/demo/o3.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/pricing.html">Pricing Plane</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="other">
                                <div class="demo">
                                    <a class="prev_images" href="dist/testimonial.html">
                                        <img src="assets/images/demo/o4.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/testimonial.html">Testimonial</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="other">
                                <div class="demo">
                                    <a class="prev_images" href="dist/faq.html">
                                        <img src="assets/images/demo/o5.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/faq.html">Faq</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="other">
                                <div class="demo">
                                    <a class="prev_images" href="dist/affiliate.html">
                                        <img src="assets/images/demo/o7.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/affiliate.html">Affiliate</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="other">
                                <div class="demo">
                                    <a class="prev_images" href="dist/term-condition.html">
                                        <img src="assets/images/demo/o8.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/term-condition.html">Terms & Conditions</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="other">
                                <div class="demo">
                                    <a class="prev_images" href="dist/contact.html">
                                        <img src="assets/images/demo/o9.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/contact.html">Contacts</a>
                                </div>
                            </div>
    
                            <div class="col-md-4 col-sm-6 col-xs-12" data-uk-filter="other">
                                <div class="demo">
                                    <a class="prev_images" href="dist/404.html">
                                        <img src="assets/images/demo/o10.jpg" alt="Demo Image">
                                    </a>
                                    <a class="text_link" href="dist/404.html">404</a>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="prev_single_feature">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="prev_feature_contents pl reveal" data-anim="fadeIn" data-duration="1s">
                                <h1>Amazing Complete
                                    <span class="highlight">Dashboard Design</span>
                                </h1>
                                <p>
                                    We have included an awesome dashboard. The dashboard has A-Z all information of author and buyer. Such as weekly, monthly,
                                    yearly and lifetime earning and sell statistics with chart graph. Also has country statistics,
                                    visiting sources, recent buyers, recent item sell, recent comments, notification, messages
                                    etc and more.</p>
                                <p class="bold mt">We have included below pages on the Dashboard</p>
                                <div class="prev_fe_list">
                                    <ul>
                                        <li>Dashboard Home</li>
                                        <li>Account Settings</li>
                                        <li>Author Purchases</li>
                                        <li>Add Credits</li>
                                        <li>Sales Statements</li>
                                    </ul>
                                    <ul>
                                        <li>Invoice</li>
                                        <li>Upload Item</li>
                                        <li>Edit Items</li>
                                        <li>Withdrawals</li>
                                        <li>Add Payment Method</li>
                                    </ul>
                                </div>
    
                                <a data-scroll href="#pages" class="btn btn--default btn--round prev_content_btn">Explore Dashboard</a>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="prev_feature_image reveal" data-anim="fadeIn" data-duration="0.5s">
                                <img src="assets/images/section/s2.png" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="prev_single_feature bg_color">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="prev_feature_image reveal" data-anim="fadeIn" data-duration="0.5s">
                                <img src="assets/images/section/s1.png" alt="" srcset="">
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="prev_feature_contents reveal" data-anim="fadeIn" data-duration="1s">
                                <h1>Different Veriations of
                                    <span class="highlight"> Products Pages</span>
                                </h1>
                                <h3>With 4 Product Card Styles!</h3>
                                <p class="fz18">
                                    We have included 4 different versions for the products views. Choose the one you like the most.
                                </p>
                                <div class="prev_fe_list">
                                    <ul>
                                        <li>Search Product Options</li>
                                        <li>Grid & List Style Views</li>
                                        <li>Awesome Filtering Options</li>
                                        <li>Category Widgets</li>
                                        <li>Pricing Range Widgets</li>
                                    </ul>
                                </div>
    
    
                                <a data-scroll href="#pages" class="btn btn--default btn--round prev_content_btn">Explore Product Pgaes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="prev_single_feature bg_color2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="prev_feature_contents pl reveal" data-anim="fadeIn" data-duration="1s">
                                <h1>3 Different Single
                                    <span class="highlight">Product Pages</span>
                                </h1>
                                <p class="fz18">
                                    We have included 4 different versions for the products views. Choose the one you like the most.
                                </p>
                                <div class="prev_fe_list">
                                    <ul>
                                        <li>Different Pricing Options</li>
                                        <li>Total Sales Views</li>
                                        <li>Total Favorites Views</li>
                                        <li>Item Ratings Views</li>
                                        <li>Product Short Informations</li>
                                        <li>Item Author Widgets</li>
                                    </ul>
                                    <ul>
                                        <li>Item Details Section</li>
                                        <li>Item Comments Section</li>
                                        <li>Item Review Section</li>
                                        <li>Item Support Section</li>
                                        <li>Item FAQs Section</li>
                                        <li>Item Share Option</li>
                                    </ul>
                                </div>
    
                                <a data-scroll href="#pages" class="btn btn--default btn--round prev_content_btn">Explore Dashboard</a>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="prev_feature_image reveal" data-anim="fadeIn" data-duration="0.5s">
                                <img src="assets/images/section/s4.png" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </section>
    
        <section class="prev_element_area">
            <div class="prev_elem_title_area reveal" data-anim="fadeInUp" data-duration="0.5s">
                <h1>70+</h1>
                <h2>UI Components & Elements</h2>
            </div>
    
            <div class="prev_elem_slider reveal" data-anim="fadeIn" data-duration="0.5s">
                <div class="slide">
                    <img src="assets/images/elements/e1.png" alt="Elements images">
                </div>
                <div class="slide">
                    <img src="assets/images/elements/e2.png" alt="Elements images">
                </div>
                <div class="slide">
                    <img src="assets/images/elements/e3.png" alt="Elements images">
                </div>
                <div class="slide">
                    <img src="assets/images/elements/e4.png" alt="Elements images">
                </div>
                <div class="slide">
                    <img src="assets/images/elements/e5.png" alt="Elements images">
                </div>
                <div class="slide">
                    <img src="assets/images/elements/e6.png" alt="Elements images">
                </div>
                <div class="slide">
                    <img src="assets/images/elements/e7.png" alt="Elements images">
                </div>
                <div class="slide">
                    <img src="assets/images/elements/e8.png" alt="Elements images">
                </div>
                <div class="slide">
                    <img src="assets/images/elements/e9.png" alt="Elements images">
                </div>
                <div class="slide">
                    <img src="assets/images/elements/e10.png" alt="Elements images">
                </div>
            </div>
        </section>
    
        <section class="prev_features_area">
            <div class="prev_single_feature bg_color">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="prev_feature_image reveal" data-anim="fadeIn" data-duration="0.5s">
                                <img src="assets/images/section/s5.png" alt="" srcset="">
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="prev_feature_contents reveal" data-anim="fadeIn" data-duration="1s">
                                <h1>Beautiful
                                    <span class="highlight">MailBox</span>
                                    <br/>Templates
                                </h1>
                                <p class="bold mt">Key features of the MailBox...</p>
                                <div class="prev_fe_list">
                                    <ul>
                                        <li>WYSIWYG Mail Composer</li>
                                        <li>Mail Search Option</li>
                                        <li>Favourite/Marking Inbox Option</li>
                                        <li>Attachment Adding Option</li>
                                        <li>Attachment Adding Option</li>
                                        <li>Filtering Options</li>
                                        <li>Message Folder such (Inbox, Outbox, Spam, Starred)</li>
                                    </ul>
                                </div>
    
    
                                <a data-scroll href="#pages" class="btn btn--default btn--round prev_content_btn">Explore Mailbox </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="prev_single_feature bg_color2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="prev_feature_contents pl reveal" data-anim="fadeIn" data-duration="1s">
                                <h1>
                                    <span class="highlight">Profile Area</span> for Vendors & Customers
                                </h1>
                                <p class="bold mt">Key features of the MailBox...</p>
                                <div class="prev_fe_list">
                                    <ul>
                                        <li>Users Total Sales Views</li>
                                        <li>Users Total Items Views</li>
                                        <li>Users Reviews Views</li>
                                        <li>Users Profile Details</li>
                                        <li>Customer Reviews Views</li>
                                        <li>Users Followers & Following Section</li>
                                        <li>Message Option to the Users & Customers</li>
                                    </ul>
                                </div>
    
                                <a data-scroll href="#pages" class="btn btn--default btn--round prev_content_btn">Explore Profile</a>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="prev_feature_image reveal" data-anim="fadeIn" data-duration="0.5s">
                                <img src="assets/images/section/s6.png" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="features_box_area bg_color" id="features">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="feature_box_title text-center">
                            <h1>Just Some of the Features of
                                <span class="highlight">MartPlace</span>
                            </h1>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-layers"></span>
                                <p>90+ HTML Pages</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-smile"></span>
                                <p>70+ Components of Different Style</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-dice"></span>
                                <p>Beautiful Card Style Design</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-move"></span>
                                <p>Modular Structure</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-users"></span>
                                <p>Single and Multi-vendor Options
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-chart-bars"></span>
                                <p>Dedicated Dashboard
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-question-circle"></span>
                                <p>Forum Pages
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-envelope"></span>
                                <p>Messaging Feature
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-bullhorn"></span>
                                <p>Notification Page
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-cart"></span>
                                <p>Cart & Checkout Pages
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-calendar-full"></span>
                                <p>Events Pages
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-briefcase"></span>
                                <p>Careers Pages
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-file-add"></span>
                                <p>Detailed Documentation
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-eye"></span>
                                <p>4 Different Product Viewing Style
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-database"></span>
                                <p>3 Different Single Pages with Lots of Features
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-sort-amount-asc"></span>
                                <p>7+ Header and Footer Styles
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-thumbs-up"></span>
                                <p>Gulp Task Automation
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-cog"></span>
                                <p>Easy Customization
                                </p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-diamond"></span>
                                <p>SCSS
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-pie-chart"></span>
                                <p>Different Chart Options
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-smartphone"></span>
                                <p>smartphone
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-code"></span>
                                <p>BEM HTML Structure
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-sun"></span>
                                <p>Font-awesome & Linearicons
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="prev_feature_box">
                            <div class="perv_feature_wrapper">
                                <span class="lnr lnr-bubble"></span>
                                <p>Dedicated Support
                                </p>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </section>
    
        <section class="call-to-action prev_call_to_act">
            <div class="container content_above">
                <div class="row">
                    <div class="col-md-12">
                        <div class="call-to-wrap">
                            <h4 class="text--white">You are at the right step now</h4>
                            <h1 class="text--white">Launch Your Marketplace Today!</h1>
                            <a href="https://themeforest.net/item/martplace-multipurpose-online-marketplace-html-template/21212869?ref=aazztech" class="btn btn--lg btn--round btn--white callto-action-btn">Purchase MartPlace
    
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="mini-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright-text">
                                <p>© 2017
                                    <a href="https://themeforest.net/item/martplace-multipurpose-online-marketplace-html-template/21212869?ref=aazztech">MartPlace</a>. All rights reserved. Created by
                                    <a href="http://aazztech.com/">AazzTech</a>
                                </p>
                            </div>
            
                            <div class="go_top">
                                <span class="lnr lnr-chevron-up"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>