    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">Inicio</a>
                            </li>
                            <li class="active">
                                <a href="#">Perfil</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">Perfil</h1>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
        START AUTHOR AREA
    =================================-->
    <section class="author-profile-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <aside class="sidebar sidebar_author">
                        <div class="author-card sidebar-card">
                            <div class="author-infos">
                                <div class="form-group">
                                        <div class="upload_wrapper">
                                            <div class="custom_upload">
                                                <label for="thumbnail">
                                                    <input (change)="subirPortada(IDUsuario,$event)" id="thumbnail" class="files" type="file">
                                                    <div class="author_avatar">
                                                            <img *ngIf="Image != null" src="http://localhost:3000/usuarios/imagen/{{Image}}" width="100%" alt="">
                                                            <img *ngIf="Image == null" src="../../../assets/images/usr_avatar.png" width="100%" alt="">
                                                        </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                <div class="author">
                                    <h4>{{Name}} {{LastName}}</h4>
                                    <p>Hora de sesion: {{Hora}}</p>
                                </div>
                                <!-- end /.author -->

                                <div class="author-badges">
                                    <ul class="list-unstyled">
                                        <li>
                                            <span data-toggle="tooltip" data-placement="bottom" title="Diamnond Author">
                                                <img src="assets/images/svg/author_rank_diamond.svg" alt="" class="svg">
                                            </span>
                                        </li>
                                        <li>
                                            <span data-toggle="tooltip" data-placement="bottom" title="Has sold more than $10k">
                                                <img src="assets/images/svg/author_level_3.svg" alt="" class="svg">
                                            </span>
                                        </li>
                                        <li>
                                            <span data-toggle="tooltip" data-placement="bottom" title="Referred 10+ members">
                                                <img src="assets/images/svg/affiliate_level_1.svg" alt="" class="svg">
                                            </span>
                                        </li>
                                        <li>
                                            <span data-toggle="tooltip" data-placement="bottom" title="Has Collected 2+ Items">
                                                <img src="assets/images/svg/collection_level_1.svg" alt="" class="svg">
                                            </span>
                                        </li>
                                        <li>
                                            <span data-toggle="tooltip" data-placement="bottom" title="Exclusive Author">
                                                <img src="assets/images/svg/exclusive_author.svg" alt="" class="svg">
                                            </span>
                                        </li>
                                        <li>
                                            <span data-toggle="tooltip" data-placement="bottom" title="Weekly Featured Author">
                                                <img src="assets/images/svg/featured_author.svg" alt="" class="svg">
                                            </span>
                                        </li>
                                        <li>
                                            <span data-toggle="tooltip" data-placement="bottom" title="Member for 2 Year">
                                                <img src="assets/images/svg/members_years.svg" alt="" class="svg">
                                            </span>
                                        </li>
                                        <li>
                                            <span data-toggle="tooltip" data-placement="bottom" title="The seller is recommended by authority">
                                                <img src="assets/images/svg/recommended.svg" alt="" class="svg">
                                            </span>
                                        </li>
                                        <li>
                                            <span data-toggle="tooltip" data-placement="bottom" title="Won a contest">
                                                <img src="assets/images/svg/contest_winner.svg" alt="" class="svg">
                                            </span>
                                        </li>
                                        <li>
                                            <span data-toggle="tooltip" data-placement="bottom" title="Helped to resolve copyright issues">
                                                <img src="assets/images/svg/copyright.svg" alt="" class="svg">
                                            </span>
                                        </li>
                                    </ul>
                                    <div class="author-btn">
                                        <a data-target="#medallas" data-toggle="modal" style="color: #fff" class="btn btn--md btn--round">Mis Medallas</a>
                                    </div>
                                </div>
                                <!-- end /.author-badges -->

                                <div class="social social--color--filled">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-facebook"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-twitter"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-dribbble"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- end /.social -->

                                <div class="author-btn">
                                    <a (click) = 'setData(i)' data-target="#perfil" data-toggle="modal" style="color: #fff" class="btn btn--md btn--round">Editar Perfil</a>
                                    <a (click) = 'limpiar()' data-target="#contrasena" data-toggle="modal" style="color: #fff" class="btn btn--md btn--round">Contraseña</a>
                                </div>
                                <!-- end /.author-btn -->
                            </div>
                            <!-- end /.author-infos -->


                        </div>
                        <!-- end /.author-card -->

                    </aside>
                </div>
                <!-- end /.sidebar -->

                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="author-info mcolorbg4">
                                <p>Pedidos</p>
                                <h3>{{listaPedidosFiltro.length}}</h3>
                            </div>
                        </div>
                        <!-- end /.col-md-4 -->

                        <div class="col-md-4 col-sm-4">
                            <div class="author-info pcolorbg">
                                <p>Medallas</p>
                                <h3>36,957</h3>
                            </div>
                        </div>
                        <!-- end /.col-md-4 -->

                        <div class="col-md-4 col-sm-4">
                            <div class="author-info scolorbg">
                                <p>Puntos</p>
                                <h3>36,957</h3>
                            </div>
                        </div>
                        <!-- end /.col-md-4 -->

                        <div class="col-md-12 col-sm-12">
                            <div class="author_module about_author">
                                <h2>About
                                    <span>AazzTech</span>
                                </h2>
                                <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattisleo
                                    quam aliquet congue. Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo
                                    ut scelerisque the mattisleo quam aliquet congue. Nunc placerat mi id nisi interdum mollis.
                                    Prae sent pharetra, justo ut scelerisque the mattisleo quam aliquet congue.</p>
                                <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattisleo
                                    quam aliquet congue. Nunc placerat mi id nisi interdum mollis. Praesent pharetra.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end /.row -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="product-title-area">
                                <div class="product__title">
                                    <h2>Mis Pedidos</h2>
                                </div>

                                <a routerLink="/panel/pedidos" class="btn btn--sm">Ver mis pedidos</a>
                            </div>
                            <!-- end /.product-title-area -->
                        </div>
                        <!-- end /.col-md-12 -->
                    </div>
                    <!-- end /.row -->
                </div>
                <!-- end /.col-md-8 -->

            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END AUTHOR AREA
    =================================-->


        <!--================================
        START CALL TO ACTION AREA
    =================================-->
    <section class="call-to-action bgimage">
        <div class="bg_image_holder">
            <img src="assets/images/calltobg.jpg" alt="">
        </div>
        <div class="container content_above">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-wrap">
                        <h1 class="text--white">¿Estas listo para comprar?</h1>
                        <h4 class="text--white">Empieza en Woomper.</h4>
                        <a routerLink="/tienda" class="btn btn--lg btn--round btn--white callto-action-btn">Tienda</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================================
    END CALL TO ACTION AREA
    =================================-->

    <div class="modal fade rating_modal" id="perfil" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title" id="rating_modal">Informacion del Perfil</h3>
                    </div>
                    <div class="modal-body">
                            <div class="information_wrapper form--fields">
                                    <div class="form-group">
                                        <label for="acname">IDUsuario
                                            <sup>*</sup>
                                        </label>
                                        <input disabled="disabled" [(ngModel)] = 'IDUsuario' [ngModelOptions]="{standalone: true}" id="acname" placeholder="IDUsuario" type="text">
                                    </div>

                                    <div class="form-group">
                                        <label for="acname">Nombre
                                            <sup>*</sup>
                                        </label>
                                        <input [(ngModel)] = 'NombreUsuario' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Nombre" type="text">
                                    </div>

                                    <div class="form-group">
                                        <label for="acname">Apellido
                                            <sup>*</sup>
                                        </label>
                                        <input [(ngModel)] = 'ApellidoUsuario' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Apellido" type="text">
                                    </div>

                                    <div class="form-group">
                                        <label for="emailad">Correo Electronico
                                            <sup>*</sup>
                                        </label>
                                        <input [(ngModel)] = 'CorreoUsuario' [ngModelOptions]="{standalone: true}" id="emailad" placeholder="Correo Electronico" type="text">
                                    </div>

                                    <div class="form-group">
                                        <label for="emailad">Direccion
                                            <sup>*</sup>
                                        </label>
                                        <input [(ngModel)] = 'DireccionUsuario' [ngModelOptions]="{standalone: true}" id="emailad" placeholder="Direccion" type="text">
                                    </div>

                                    <div class="form-group">
                                        <label for="emailad">Telefono
                                            <sup>*</sup>
                                        </label>
                                        <input [(ngModel)] = 'TelefonoUsuario' [ngModelOptions]="{standalone: true}" id="emailad" placeholder="Telefono" type="text">
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="emailad">Usuario
                                                    <sup>*</sup>
                                                </label>
                                                <input [(ngModel)] = 'Usuario' [ngModelOptions]="{standalone: true}" id="emailad" placeholder="Usuario" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        <div class="col-md-12">
                            <div class="dashboard_setting_btn">
                                <button data-dismiss="modal" (click) = "editarPerfil()" type="submit" class="btn btn--round btn--md">Guardar Cambios</button>
                                <button data-dismiss="modal" (click) = "eliminarPerfil()" routerLink="/inicio" type="submit" class="btn btn--round btn--md">Eliminar Cuenta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade rating_modal" id="contrasena" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="modal-title" id="rating_modal">Cambiar mi Perfil</h3>
                        </div>
                        <div class="modal-body">
                                <div *ngIf="Correcta == true" class="alert alert-success" role="alert">
                                        <span class="alert_icon lnr lnr-checkmark-circle"></span>
                                        <strong>Enhorabuena</strong> tu contraseña ha sido actualizada.
                                        <button (click) = "cerrarAlert" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span class="lnr lnr-cross" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div *ngIf="Vacio == true" class="alert alert-warning" role="alert">
                                        <span class="alert_icon lnr lnr-warning"></span>
                                        <strong>Error</strong> complete los campos.
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span class="lnr lnr-cross" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div *ngIf="Correcta == false" class="alert alert-danger" role="alert">
                                        <span class="alert_icon lnr lnr-warning"></span>
                                        <strong>Error</strong> tu contraseña antigua no coincide
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span class="lnr lnr-cross" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <br>
                                <div class="information_wrapper form--fields">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="conpassword">Antigua Contraseña
                                                        <sup>*</sup>
                                                    </label>
                                                    <input [(ngModel)] = 'ContrasenaA' [ngModelOptions]="{standalone: true}" id="conpassword" placeholder="Antigua Contraseña" type="password">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="conpassword">Nueva Contraseña
                                                        <sup>*</sup>
                                                    </label>
                                                    <input [(ngModel)] = 'ContrasenaN' [ngModelOptions]="{standalone: true}" id="conpassword" placeholder="Nueva Contraseña" type="password">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            <div class="col-md-12">
                                <div class="dashboard_setting_btn">
                                    <button (click) = "editarContrasena()" type="submit" class="btn btn--round btn--md">Guardar Cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="modal fade rating_modal" id="medallas" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title" id="rating_modal">Tus medallas</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="author-badges">
                                    <div class="badge-single">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-203 297 203.4 200" enable-background="new -203 297 203.4 200" xml:space="preserve" class="svg replaced-svg">
                                            <path id="XMLID_2092_" fill="#FFFFFF" d="M-31,358.3v77.6c0,0.8-1.3,2.9-2,3.3L-99.1,478c-0.2,0.1-0.9,0.3-1.9,0.3s-1.7-0.2-1.9-0.3  l-66.1-38.8c-0.7-0.4-1.9-2.5-1.9-3.3v-77.6c0-0.8,1.2-2.9,1.9-3.3l66-38.8c0.2-0.1,0.9-0.3,1.9-0.3s1.7,0.2,1.9,0.3L-33,355  C-32.3,355.4-31,357.5-31,358.3z"></path>
                                            <g id="XMLID_1_">
                                                <polygon id="XMLID_2065_" fill="#713EB5" points="-69.1,454 -89.9,454 -106.4,426 -85.7,426  "></polygon>
                                                <polygon id="XMLID_2042_" fill="#713EB5" points="-95.2,426 -111.8,454 -132.5,454 -116,426  "></polygon>
                                            </g>
                                            <g id="XMLID_2062_">
                                                <g id="XMLID_2063_">
                                                    <path id="XMLID_2064_" fill="#F58220" d="M-107.1,434.5l-8.8-6c-1.2-0.8-2.5-1.3-3.8-1.6l-10.4-2.1c-4.2-0.8-7.4-4.2-8.2-8.4    l-2-10.6c-0.3-1.4-0.8-2.7-1.6-3.9l-5.9-9c-2.4-3.6-2.4-8.3,0-11.9l5.9-9c0.8-1.2,1.3-2.5,1.6-3.9l2-10.6c0.8-4.3,4.1-7.6,8.2-8.4    l10.4-2.1c1.4-0.3,2.7-0.8,3.8-1.6l8.8-6c3.5-2.4,8.1-2.4,11.6,0l8.8,6c1.2,0.8,2.5,1.3,3.8,1.6l10.4,2.1c4.2,0.8,7.4,4.2,8.2,8.4    l2,10.6c0.3,1.4,0.8,2.7,1.6,3.9l5.9,9c2.4,3.6,2.4,8.3,0,11.9l-5.9,9c-0.8,1.2-1.3,2.5-1.6,3.9l-2,10.6c-0.8,4.3-4.1,7.6-8.2,8.4    l-10.4,2.1c-1.4,0.3-2.7,0.8-3.8,1.6l-8.8,6C-99,436.9-103.6,436.9-107.1,434.5z"></path>
                                                </g>
                                            </g>
                                            <g id="XMLID_2059_">
                                                <g id="XMLID_47_">
                                                    <g id="XMLID_48_">
                                                        <ellipse id="XMLID_49_" fill="#FAA61A" cx="-101.3" cy="386.8" rx="32.9" ry="33.8"></ellipse>
                                                    </g>
                                                </g>
                                            </g>
                                            <text id="XMLID_618_" transform="matrix(0.9757 0 0 1 -112.19 403.3691)" fill="#FFFFFF" font-family="'Quicksand-Bold'" font-size="43.7004px">3</text>
                                            <path id="XMLID_12_" fill="#FBCDA6" d="M-29.2,347.3L-95,308.4c-1.6-1-4-1.5-6-1.5l0,0c-3,0-4.8,0.5-6.4,1.5l-66.2,38.9  c-3.4,2-6.4,7-6.4,11v20.1v39.7v17.8c0,4,3,9.1,6.3,11l66.1,38.8c1.6,1,3.9,1.5,6.3,1.5s4.6-0.5,6.3-1.5l65.9-38.8  c3.4-2,6.2-7,6.2-11v-17.8v-59.8C-23,354.3-25.8,349.3-29.2,347.3z M-31,418.2V436c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8  c-0.2,0.1-1,0.3-2,0.3s-1.7-0.2-1.9-0.3l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3v-17.8v-39.8v-20.1c0-0.8,1.1-2.9,1.8-3.3l66.2-38.8  c0.2-0.1,1-0.3,2-0.3l0,0c1,0,1.5,0.2,1.7,0.3l66.2,38.8c0.7,0.4,2.1,2.5,2.1,3.3V418.2z"></path>
                                            <path id="XMLID_4_" fill="#0674EC" d="M-5.7,401.2c-0.8-1.7-0.8-4.6,0-6.3L0,383.1c0.6-1.3,0.6-2.6,0-3.6s-1.7-1.5-3-1.5h-10v-19.7  c0-7.6-4.7-15.9-11.2-19.7l-66-38.8c-3.1-1.8-7-2.8-11.1-2.8s-8,1-11.1,2.8l-65.7,38.9c-6.5,3.8-10.9,12-10.9,19.6V378h-10.5  c-1.3,0-2.4,0.5-3,1.5s-0.6,2.3,0,3.6l5.7,11.8c0.8,1.7,0.8,4.6,0,6.3l-5.7,11.6c-0.6,1.2-0.6,2.6-0.1,3.5c0.6,1,1.7,1.6,3.1,1.6  h10.5v17.9c0,7.6,4.4,15.9,10.8,19.7l65.9,38.9c3.1,1.8,7,2.8,11,2.8s7.9-1,11-2.8l66.1-38.9c6.4-3.8,11.1-12,11.1-19.7V418h10  c1.4,0,2.5-0.7,3.1-1.6s0.5-2.2-0.1-3.5L-5.7,401.2z M-23,378.4L-23,378.4v39.7l0,0v17.8c0,4-2.8,9.1-6.1,11l-66,38.8  c-1.6,1-3.8,1.5-6.2,1.5s-4.6-0.5-6.2-1.5l-66.2-38.7c-3.4-2-6.3-7-6.3-11v-17.8l0,0v-39.8l0,0v-20.1c0-4,3-9,6.3-11l66.1-38.8  c1.6-1,3.9-1.5,6.3-1.5s4.6,0.5,6.3,1.5l65.9,38.8c3.4,2,6.2,7,6.2,11L-23,378.4L-23,378.4z"></path>
                                        </svg>
                                        <h3>Author Level</h3>
                                        <p>Sold more than $50,000 on MartPlace</p>
                                    </div>
                                    <div class="badge-single">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-203 297 203.4 200" enable-background="new -203 297 203.4 200" xml:space="preserve" class="svg replaced-svg">
                                            <path id="XMLID_12_" fill="#FFC1B7" d="M-29.2,347.2L-95,308.4c-1.6-1-4-1.5-6-1.5l0,0c-3,0-4.8,0.5-6.4,1.5l-66.2,38.8  c-3.4,2-6.4,7-6.4,11v20.1V418v17.8c0,4,3,9,6.3,11l66.1,38.8c1.6,1,3.9,1.5,6.3,1.5s4.6-0.5,6.3-1.5l65.9-38.8c3.4-2,6.2-7,6.2-11  V418v-59.8C-23,354.3-25.8,349.2-29.2,347.2z M-31,418v17.8c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3  s-1.7-0.2-1.9-0.3l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3V418v-39.7v-20.1c0-0.8,1.1-2.9,1.8-3.3l66.2-38.8c0.2-0.1,1-0.3,2-0.3l0,0  c1,0,1.5,0.2,1.7,0.3l66.2,38.8c0.7,0.4,2.1,2.5,2.1,3.3V418z"></path>
                                            <path id="XMLID_6_" fill="#0674EC" d="M-5.7,401.1c-0.8-1.7-0.8-4.6,0-6.3L0,383c0.6-1.3,0.6-2.5,0-3.5s-1.7-1.5-3-1.5h-10v-19.8  c0-7.6-4.7-15.8-11.2-19.6l-66-38.8c-3.1-1.8-7-2.8-11.1-2.8s-8,1-11.1,2.8l-65.7,38.8c-6.5,3.8-10.9,12.1-10.9,19.6V378h-10.5  c-1.3,0-2.4,0.5-3,1.5s-0.6,2.3,0,3.6l5.7,11.8c0.8,1.7,0.8,4.6,0,6.2l-5.7,11.6c-0.6,1.2-0.6,2.7-0.1,3.6c0.6,1,1.7,1.7,3.1,1.7  h10.5v17.8c0,7.6,4.4,15.9,10.8,19.6l65.9,38.8c3.1,1.8,7,2.8,11,2.8s7.9-1,11-2.8l66.1-38.8c6.4-3.8,11.1-12,11.1-19.6V418h10  c1.4,0,2.5-0.8,3.1-1.7c0.6-0.9,0.5-2.2-0.1-3.5L-5.7,401.1z M-23,378.3L-23,378.3V418l0,0v17.8c0,4-2.8,9-6.1,11l-66,38.8  c-1.6,1-3.8,1.5-6.2,1.5s-4.6-0.5-6.2-1.5l-66.1-38.8c-3.4-2-6.3-7-6.3-11V418l0,0v-39.7l0,0v-20.1c0-4,3-9,6.3-11l66.1-38.8  c1.6-1,3.9-1.5,6.3-1.5s4.6,0.5,6.3,1.5l65.9,38.8c3.4,2,6.2,7,6.2,11v20.1H-23z"></path>
                                            <path id="XMLID_14_" fill="#FFFFFF" d="M-31,358.2v77.5c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3s-1.7-0.2-1.9-0.3  l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3v-77.5c0-0.8,1.1-2.9,1.8-3.3l66-38.8c0.2-0.1,0.9-0.3,1.9-0.3s1.7,0.2,1.9,0.3l66.3,38.8  C-32.4,355.4-31,357.4-31,358.2z"></path>
                                            <g id="XMLID_5_">
                                                <g id="XMLID_777_">
                                                    <path id="XMLID_2431_" fill="#FF5A54" d="M-105.6,407.3c-0.4,1-0.9,2-1.3,3.1c0,0.1-0.1,0.1-0.1,0.2l0,0c0,0,0,0.1,0,0.2    c-0.8,2.2-1.6,4.4-2.4,6.6c-0.3,0.8-0.7,1.6-0.8,2.5c-0.4,0.8-0.6,1.6-0.9,2.4c-0.6,1.5-1.1,2.9-1.7,4.4c-0.3,0.8-0.7,1.5-0.8,2.3    c0,0,0,0.1-0.1,0.1c-1.1-0.7-2.3-1.1-3.5-1.4c0.7-2,1.5-4,2.2-6c0.2-0.6,0.4-1.3,0.7-1.9c0.5-0.9,0.7-1.9,1.1-2.8    c0.5-1.4,1-2.8,1.6-4.2c0.7-2,1.5-3.9,2.2-5.9c0.1-0.3,0.3-0.5,0.6-0.4c1,0.1,2,0.3,3.1,0.3C-105.3,406.8-105.5,407.1-105.6,407.3    z"></path>
                                                    <path id="XMLID_2426_" fill="#FF5A54" d="M-117,387.8c-1.2,1.1-2.3,2.2-3,3.7c-0.2,0.3-0.4,0.6-0.4,0.9c-0.2,0.1-0.4,0.1-0.5,0.2    c-1.1,0.3-2.1,0.6-3.2,0.8c-1.4,0.4-2.8,0.7-4.2,1.1c-0.1,0-0.3,0-0.3,0.1c0,0,0,0-0.1,0c-1.2,0.3-2.5,0.6-3.7,0.9    c-1.7,0.4-3.5,0.9-5.2,1.3c-0.1,0-0.1,0-0.1,0.1c-0.1,0-0.2,0-0.4,0.1c0-1.3-0.3-2.6-0.8-3.8c0.2,0,0.4-0.1,0.6-0.2    c0.3-0.1,0.6-0.1,0.8-0.2c0.3,0,0.6-0.1,0.9-0.2c2.6-0.6,5.2-1.3,7.8-2c0.9-0.2,1.8-0.4,2.7-0.6c1.5-0.4,2.9-0.7,4.4-1.1    c0.6-0.2,1.2-0.2,1.8-0.5c0.8,0,1.5-0.3,2.2-0.5C-117.5,387.9-117.3,387.8-117,387.8z"></path>
                                                    <path id="XMLID_2428_" fill="#FF5A54" d="M-111.4,378.4c-0.8-0.6-1.6-1.2-2.4-1.8c-1.1-0.8-2.2-1.7-3.3-2.5    c-0.9-0.7-1.8-1.4-2.7-2.1c-0.8-0.6-1.6-1.3-2.5-1.9c-0.9-0.7-1.8-1.3-2.6-2c0.4-0.4,0.7-0.8,1.1-1.3c0.4-0.6,0.8-1.2,1.1-1.9    l0.1,0.1c0.8,0.7,1.7,1.3,2.6,1.9c1.1,1,2.4,1.8,3.5,2.7c1.5,1.2,3.1,2.3,4.6,3.5c0.2,0.1,0.3,0.3,0.3,0.6    c-0.2,0.8-0.3,1.7-0.2,2.5C-111.8,377.1-111.5,377.6-111.4,378.4z"></path>
                                                    <path id="XMLID_2418_" fill="#FF5A54" d="M-73.1,371.4c-0.8,0.5-1.5,0.9-2.3,1.4c-0.8,0.4-1.6,0.9-2.4,1.4    c-0.7,0.4-1.4,0.8-2.1,1.3c-1.5,0.9-3.1,1.9-4.6,2.8c-0.1,0-0.1,0.1-0.2,0.1c-1.1,0.6-2,1.2-3.1,1.8c-0.3,0.2-0.6,0.5-1.1,0.6    c0-0.1,0-0.2,0.1-0.2c0.9-1.6,1.5-3.2,1.7-5c0-0.2,0.1-0.2,0.2-0.3c0.6-0.3,1.1-0.7,1.6-1c0.3-0.1,0.6-0.3,0.8-0.5    c1-0.5,2-1.2,2.9-1.7c1.9-1.1,3.7-2.3,5.5-3.4c0.2-0.1,0.4-0.2,0.6-0.4c0.1,0,0.2-0.1,0.2-0.1C-74.6,369.2-73.9,370.4-73.1,371.4z    "></path>
                                                    <path id="XMLID_2451_" fill="#FF5A54" d="M-54.7,363.9c0,4.3-2.7,7.9-6.4,9.2c-1,0.4-2,0.5-3.1,0.5c-2.8,0-5.4-1.3-7.2-3.3    c-0.8-1-1.5-2.1-1.9-3.3c-0.3-1-0.5-2.1-0.5-3.2c0-4.3,2.7-7.9,6.4-9.2c1-0.4,2.1-0.6,3.2-0.6C-59,354.1-54.7,358.5-54.7,363.9z"></path>
                                                    <path id="XMLID_2430_" fill="#FF5A54" d="M-44.1,415.4c0,1.3-0.2,2.5-0.7,3.6c-0.1,0.1-0.1,0.3-0.2,0.5c0,0.1-0.1,0.1-0.1,0.2    c-1.6,3.3-4.8,5.5-8.6,5.5c-5.3,0-9.5-4.2-9.5-9.6c0-2.7,1-5.6,2.7-6.6l0,0c1.7-2,4.1-3.1,6.8-3.1    C-48.4,405.9-44.1,410-44.1,415.4z"></path>
                                                    <path id="XMLID_2447_" fill="#FF5A54" d="M-110,439.2c0,2.2-0.7,4.2-1.9,5.8c-1.7,2.4-4.5,4-7.7,4c-5.3,0-9.5-4.4-9.5-9.8    c0-0.5,0-1.1,0.1-1.6c0.7-4.7,4.7-8.2,9.4-8.2c0.5,0,1.1,0,1.6,0.1c1.3,0.2,2.4,0.7,3.5,1.4C-111.8,432.7-110,435.8-110,439.2z"></path>
                                                    <path id="XMLID_2389_" fill="#FF5A54" d="M-140,397.6c0,2.2-0.7,4.2-1.9,5.8c-1.7,2.4-4.5,4-7.7,4c-5.3,0-9.5-4.4-9.5-9.8    c0-0.5,0-1.1,0.1-1.6c0.7-4.7,4.7-8.2,9.4-8.2c0.5,0,1.1,0,1.6,0.1c1.3,0.2,2.4,0.7,3.5,1.4C-141.8,391-140,394.1-140,397.6z"></path>
                                                    <path id="XMLID_2400_" fill="#FF5A54" d="M-123.6,359.9c0,1.3-0.3,2.6-0.7,3.8c-0.3,0.7-0.7,1.4-1.1,2c-0.3,0.4-0.7,0.9-1.1,1.3    c-1.7,1.7-4,2.7-6.6,2.7c-5.3,0-9.5-4.4-9.5-9.8c0-0.5,0-1.1,0.1-1.6c0.1-0.6,0.2-1.2,0.4-1.7l0,0c1.3-3.8,4.8-6.5,9-6.5    c0.5,0,1.1,0,1.6,0.1c1.3,0.2,2.4,0.7,3.5,1.4C-125.3,353.3-123.6,356.4-123.6,359.9z"></path>
                                                    <path id="XMLID_2414_" fill="#FF5A54" d="M-61.9,407.7c-1,0.7-1.7,1.9-2.3,3.1l-12.9-8.6c0,0,1-2.1,0.3-4.3L-61.9,407.7z"></path>
                                                </g>
                                                <path id="XMLID_2391_" fill="#FF5A54" d="M-79.9,399.5c-0.3-1.5-0.5-3-1.1-4.4c-0.3-0.8-0.6-1.5-1-2.2c-0.1-0.1-0.1-0.2-0.1-0.3   c-0.6-0.9-1.3-1.8-2.2-2.4c-0.3-0.2-0.6-0.3-0.9-0.5c-0.9-0.5-2.9-1.4-2.9-1.4l0,0c-0.9-0.4-1.8-0.8-2.7-1.3   c-0.8-0.4-1.7-0.7-2.4-1.3c-0.5-0.1-0.9-0.5-1.3-0.7c-0.2-0.1-0.1-0.2,0-0.3c0.3-0.4,0.6-0.8,0.9-1.2c0.1-0.3,0.1-0.6,0.4-0.8l0,0   c0-0.1,0-0.1,0.1-0.2c0.3-0.8,0.4-1.6,1-2.3c1-1.2,1.6-2.6,1.8-4.1c0-0.1-0.1-0.2,0-0.2c0-0.5,0-1,0-1.4c-0.1-0.5-0.2-0.9-0.7-1.1   c-0.2-0.1-0.1-0.3-0.1-0.4c0-1.1-0.1-2.1-0.1-3.2c0-1.6-0.3-3-1.1-4.3c0-0.1,0-0.2,0-0.2c-0.3-0.3-0.6-0.7-0.9-1.1   c-0.4-0.1-0.7-0.5-1-0.7c-1.2-0.8-2.6-1.2-4.1-1.3c-1.2-0.1-2.3-0.1-3.5,0.2c-0.1,0-0.1,0-0.2,0c-0.7,0.2-1.3,0.4-2,0.8   c-1,0.5-1.8,1.3-2.4,2.2c-0.2,0.7-0.6,1.2-0.8,1.9c-0.2,0.8-0.3,1.5-0.4,2.3c0,1.2-0.1,2.4-0.1,3.5c0,0.2,0,0.4-0.3,0.5   c-0.4,0.1-0.3,0.5-0.5,0.8v0.1c-0.3,2.3,0.5,4.2,1.9,5.9c0.3,0.4,0.5,0.7,0.6,1.2c0.2,0.6,0.4,1.3,0.7,1.9c0.3,0.5,0.7,1,1,1.4   c0.2,0.2,0.1,0.3-0.1,0.4c-1,0.6-2,1.1-3,1.6s-2.1,1-3.1,1.4c-0.1,0.1-0.3,0.1-0.5,0.1c-0.5,0.4-1.1,0.6-1.7,0.8   c-0.9,0.4-1.8,0.8-2.5,1.5c-0.6,0.5-1.1,1.2-1.5,1.8c0,0.1,0,0.1-0.1,0.1l0,0c-0.1,0.3-0.3,0.6-0.4,0.8c-1,2-1.6,4.1-1.8,6.3   c-0.2,1.9,0.8,1.9,0.8,2c0.9,0.3,1.9,0.6,2.8,0.8c1,0.2,3,0.6,3,0.6s7.3,1.8,19.1,0.8l0,0l0,0c2.7-0.2,5.6-0.6,8.8-1.2h0.1   c1.2-0.3,2.4-0.5,3.5-0.9c0,0,0.2-0.1,0.4-0.4l0,0C-79.9,400.7-79.8,400.1-79.9,399.5z"></path>
                                            </g>
                                            <g id="XMLID_1_">
                                                <path id="XMLID_38_" fill="#0674EC" d="M-57.7,348.5c-13.5,0-24.5-11-24.5-24.5s11-24.5,24.5-24.5s24.5,11,24.5,24.5   S-44.1,348.5-57.7,348.5z"></path>
                                                <path id="XMLID_35_" fill="#FFFFFF" d="M-57.7,302c12.1,0,22,9.9,22,22s-9.9,22-22,22s-22-9.9-22-22S-69.8,302-57.7,302 M-57.7,297   c-14.9,0-27,12.1-27,27s12.1,27,27,27s27-12.1,27-27S-42.7,297-57.7,297L-57.7,297z"></path>
                                            </g>
                                            <text id="XMLID_23_" transform="matrix(1 0 0 1 -63.937 335.8357)" fill="#FFFFFF" font-family="'Quicksand-Bold'" font-size="34px">1</text>
                                        </svg>
                                        <h3>Affiliate Level</h3>
                                        <p>Has referred 50+ members on MartPlace</p>
                                    </div>
                                    <div class="badge-single">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-203 297 203.4 200" enable-background="new -203 297 203.4 200" xml:space="preserve" class="svg replaced-svg">
                                            <path id="XMLID_120_" fill="#FFE2A5" d="M-29.2,347.2L-95,308.4c-1.6-1-4-1.5-6-1.5l0,0c-3,0-4.8,0.5-6.4,1.5l-66.2,38.8  c-3.4,2-6.4,7-6.4,11v20.1V418v17.8c0,4,3,9,6.3,11l66.1,38.8c1.6,1,3.9,1.5,6.3,1.5s4.6-0.5,6.3-1.5l65.9-38.8c3.4-2,6.2-7,6.2-11  V418v-59.8C-23,354.3-25.8,349.2-29.2,347.2z M-31,418v17.8c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3  s-1.7-0.2-1.9-0.3l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3V418v-39.7v-20.1c0-0.8,1.1-2.9,1.8-3.3l66.2-38.8c0.2-0.1,1-0.3,2-0.3l0,0  c1,0,1.5,0.2,1.7,0.3l66.2,38.8c0.7,0.4,2.1,2.5,2.1,3.3V418z"></path>
                                            <path id="XMLID_101_" fill="#0674EC" d="M-5.7,401.1c-0.8-1.7-0.8-4.6,0-6.3L0,383c0.6-1.3,0.6-2.5,0-3.5s-1.7-1.5-3-1.5h-10v-19.8  c0-7.6-4.7-15.8-11.2-19.6l-66-38.8c-3.1-1.8-7-2.8-11.1-2.8s-8,1-11.1,2.8l-65.7,38.8c-6.5,3.8-10.9,12.1-10.9,19.6V378h-10.5  c-1.3,0-2.4,0.5-3,1.5s-0.6,2.3,0,3.6l5.7,11.8c0.8,1.7,0.8,4.6,0,6.2l-5.7,11.6c-0.6,1.2-0.6,2.7-0.1,3.6c0.6,1,1.7,1.7,3.1,1.7  h10.5v17.8c0,7.6,4.4,15.9,10.8,19.6l65.9,38.8c3.1,1.8,7,2.8,11,2.8s7.9-1,11-2.8l66.1-38.8c6.4-3.8,11.1-12,11.1-19.6V418h10  c1.4,0,2.5-0.8,3.1-1.7c0.6-0.9,0.5-2.2-0.1-3.5L-5.7,401.1z M-23,378.3L-23,378.3V418l0,0v17.8c0,4-2.8,9-6.1,11l-66,38.8  c-1.6,1-3.8,1.5-6.2,1.5s-4.6-0.5-6.2-1.5l-66.1-38.8c-3.4-2-6.3-7-6.3-11V418l0,0v-39.7l0,0v-20.1c0-4,3-9,6.3-11l66.1-38.8  c1.6-1,3.9-1.5,6.3-1.5s4.6,0.5,6.3,1.5l65.9,38.8c3.4,2,6.2,7,6.2,11v20.1H-23z"></path>
                                            <path id="XMLID_100_" fill="#FFFFFF" d="M-31,358.2v77.5c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3s-1.7-0.2-1.9-0.3  l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3v-77.5c0-0.8,1.1-2.9,1.8-3.3l66-38.8c0.2-0.1,0.9-0.3,1.9-0.3s1.7,0.2,1.9,0.3l66.3,38.8  C-32.4,355.4-31,357.4-31,358.2z"></path>
                                            <g id="XMLID_10_">
                                                <path id="XMLID_22_" fill="#212121" d="M-108.4,358.9l-19,33.7c-0.2,0.3-0.6,0.4-0.9,0.2l-2.6-1.6c-0.3-0.2-0.4-0.6-0.2-0.9   l18.6-32.9C-111.4,358.4-109.9,358.9-108.4,358.9z"></path>
                                                <path id="XMLID_14_" fill="#212121" d="M-71.6,391.3l-2.6,1.6c-0.3,0.2-0.7,0.1-0.9-0.2l-19-33.7c1.6,0,3-0.5,4.2-1.4l18.6,32.9   C-71.2,390.8-71.3,391.1-71.6,391.3z"></path>
                                            </g>
                                            <g id="XMLID_4_">
                                                <path id="XMLID_13_" fill="#673AB7" d="M-101.3,349.4c-0.8-3.2-3.7-5.5-7.1-5.5c-4,0-7.3,3.4-7.3,7.5c0,2.5,1.2,4.8,3.1,6.1   c1.2,0.9,2.6,1.4,4.2,1.4l0,0c3.4,0,6.2-2.4,7-5.5c0.2-0.6,0.3-1.4,0.3-2.1C-101,350.7-101.1,350-101.3,349.4z M-108.3,355.3   c-2.1,0-3.8-1.7-3.8-3.9c0-2.1,1.7-3.9,3.8-3.9c2.1,0,3.8,1.7,3.8,3.9C-104.6,353.5-106.2,355.3-108.3,355.3z"></path>
                                                <path id="XMLID_26_" fill="#673AB7" d="M-94.2,343.9c-3.4,0-6.2,2.3-7.1,5.5c-0.2,0.6-0.3,1.3-0.3,2c0,0.7,0.1,1.4,0.3,2   c0.9,3.2,3.7,5.6,7.1,5.6l0,0c1.6,0,3-0.6,4.2-1.4c1.9-1.4,3.1-3.6,3.1-6.2C-86.9,347.3-90.2,343.9-94.2,343.9z M-94.2,355.3   c-2.1,0-3.8-1.7-3.8-3.9c0-2.1,1.7-3.9,3.8-3.9c2.1,0,3.8,1.7,3.8,3.9C-90.4,353.5-92.1,355.3-94.2,355.3z"></path>
                                            </g>
                                            <g id="XMLID_1_">
                                                <path id="XMLID_38_" fill="#0674EC" d="M-57.7,348.5c-13.5,0-24.5-11-24.5-24.5s11-24.5,24.5-24.5s24.5,11,24.5,24.5   S-44.1,348.5-57.7,348.5z"></path>
                                                <path id="XMLID_35_" fill="#FFFFFF" d="M-57.7,302c12.1,0,22,9.9,22,22s-9.9,22-22,22s-22-9.9-22-22S-69.8,302-57.7,302 M-57.7,297   c-14.9,0-27,12.1-27,27s12.1,27,27,27s27-12.1,27-27S-42.7,297-57.7,297L-57.7,297z"></path>
                                            </g>
                                            <text id="XMLID_23_" transform="matrix(1 0 0 1 -63.937 335.8357)" fill="#FFFFFF" font-family="'Quicksand-Bold'" font-size="34px">1</text>
                                            <g id="XMLID_24_">
                                                <g id="XMLID_2201_">
                                                    <path id="XMLID_2202_" fill="#FEB71D" d="M-147.1,392.4l4.2,38.7c0.7,7.9,7.1,13.9,14.8,13.9h53.7c7.7,0,14.1-6,14.8-13.9    l4.2-38.7C-55.4,392.4-147.1,392.4-147.1,392.4z M-126.7,439.3c0,1.2-0.9,2.1-2.1,2.1c-1.1,0-2.1-1-2.1-2.1v-34.2    c0-1.2,0.9-2.1,2.1-2.1c1.1,0,2.1,1,2.1,2.1V439.3z M-115.8,439.3c0,1.2-0.9,2.1-2.1,2.1c-1.1,0-2.1-1-2.1-2.1v-34.2    c0-1.2,0.9-2.1,2.1-2.1c1.1,0,2.1,1,2.1,2.1V439.3z M-105,439.3c0,1.2-0.9,2.1-2.1,2.1c-1.1,0-2.1-1-2.1-2.1v-34.2    c0-1.2,0.9-2.1,2.1-2.1c1.1,0,2.1,1,2.1,2.1V439.3z M-94.1,439.3c0,1.2-0.9,2.1-2.1,2.1c-1.1,0-2.1-1-2.1-2.1v-34.2    c0-1.2,0.9-2.1,2.1-2.1c1.1,0,2.1,1,2.1,2.1V439.3z M-83.2,439.3c0,1.2-0.9,2.1-2.1,2.1c-1.1,0-2.1-1-2.1-2.1v-34.2    c0-1.2,0.9-2.1,2.1-2.1c1.1,0,2.1,1,2.1,2.1V439.3z M-72.3,439.3c0,1.2-0.9,2.1-2.1,2.1c-1.1,0-2.1-1-2.1-2.1v-34.2    c0-1.2,0.9-2.1,2.1-2.1c1.1,0,2.1,1,2.1,2.1V439.3z"></path>
                                                </g>
                                                <g id="XMLID_2195_">
                                                    <path id="XMLID_33_" fill="#FEB71D" d="M-54,387.5v3.5h-95v-3.5c0-1,0.8-1.5,1.8-1.5h91.8C-54.4,386-54,386.5-54,387.5z"></path>
                                                </g>
                                            </g>
                                            <path id="XMLID_34_" fill="#BF8916" d="M-54,391v5c0,0.4,0.1,1-0.2,1h-94.1c-0.4,0-0.7-0.6-0.7-1v-5H-54z"></path>
                                        </svg>
                                        <h3>Collection Level</h3>
                                        <p>Has collected 20+ items on MartPlace</p>
                                    </div>
                                    <div class="badge-single">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-203 297 203.4 200" enable-background="new -203 297 203.4 200" xml:space="preserve" class="svg replaced-svg">
            <path id="XMLID_166_" fill="#FFEDBE" d="M-29.2,347.2L-95,308.4c-1.6-1-4-1.5-6-1.5l0,0c-3,0-4.8,0.5-6.4,1.5l-66.2,38.8  c-3.4,2-6.4,7-6.4,11v20.1V418v17.8c0,4,3,9,6.3,11l66.1,38.8c1.6,1,3.9,1.5,6.3,1.5s4.6-0.5,6.3-1.5l65.9-38.8c3.4-2,6.2-7,6.2-11  V418v-59.8C-23,354.3-25.8,349.2-29.2,347.2z M-31,418v17.8c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3  s-1.7-0.2-1.9-0.3l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3V418v-39.7v-20.1c0-0.8,1.1-2.9,1.8-3.3l66.2-38.8c0.2-0.1,1-0.3,2-0.3l0,0  c1,0,1.5,0.2,1.7,0.3l66.2,38.8c0.7,0.4,2.1,2.5,2.1,3.3V418z"></path>
            <path id="XMLID_161_" fill="#0674EC" d="M-5.7,401.1c-0.8-1.7-0.8-4.6,0-6.3L0,383c0.6-1.3,0.6-2,0-3s-1.7-1-3-1h-10v-20.8  c0-7.6-4.7-15.8-11.2-19.6l-66-38.8c-3.1-1.8-7-2.8-11.1-2.8s-8,1-11.1,2.8l-65.7,38.8c-6.5,3.8-10.9,12.1-10.9,19.6V379h-10.5  c-1.3,0-2.4,0-3,1s-0.6,2,0,3.3l5.6,11.7c0.8,1.7,0.8,4.5,0,6.2l-5.7,11.5c-0.6,1.2-0.6,2.7-0.1,3.6c0.6,1,1.7,1.7,3.1,1.7h10.6  v17.8c0,7.6,4.4,15.9,10.8,19.6l65.9,38.8c3.1,1.8,7,2.8,11,2.8s7.9-1,11-2.8l66.1-38.8c6.4-3.8,11.1-12,11.1-19.6V418h10  c1.4,0,2.5-0.8,3.1-1.7c0.6-0.9,0.5-2.2-0.1-3.5L-5.7,401.1z M-23,378.3L-23,378.3V418l0,0v17.8c0,4-2.8,9-6.1,11l-66,38.8  c-1.6,1-3.8,1.5-6.2,1.5s-4.6-0.5-6.2-1.5l-66.1-38.8c-3.4-2-6.3-7-6.3-11V418l0,0v-39.7l0,0v-20.1c0-4,3-9,6.3-11l66.1-38.8  c1.6-1,3.9-1.5,6.3-1.5s4.6,0.5,6.3,1.5l65.9,38.8c3.4,2,6.2,7,6.2,11v20.1H-23z"></path>
            <path id="XMLID_160_" fill="#FFFFFF" d="M-31,358.2v77.5c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3s-1.7-0.2-1.9-0.3  l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3v-77.5c0-0.8,1.1-2.9,1.8-3.3l66-38.8c0.2-0.1,0.9-0.3,1.9-0.3s1.7,0.2,1.9,0.3l66.3,38.8  C-32.4,355.4-31,357.4-31,358.2z"></path>
            <polygon id="XMLID_2559_" fill="#FFD15C" points="-93.3,436.4 -110.5,436.4 -107.5,430 -105,424 -98.7,424 -96.2,430 "></polygon>
            <g id="XMLID_1_">
                <g id="XMLID_1839_">
                    <path id="XMLID_1840_" fill="#713EB5" d="M-98.2,352c-2,0.6-2.5,1.1-3.1,3.2c-0.6-2.1-1.1-2.6-3.1-3.2c2-0.6,2.5-1.1,3.1-3.2    C-100.7,350.9-100.2,351.4-98.2,352z"></path>
                </g>
                <g id="XMLID_1837_">
                    <path id="XMLID_1838_" fill="#713EB5" d="M-82.7,343.4c-2.2,0.7-2.7,1.2-3.4,3.5c-0.7-2.3-1.2-2.8-3.4-3.5    c2.2-0.7,2.7-1.2,3.4-3.5C-85.4,342.1-84.9,342.7-82.7,343.4z"></path>
                </g>
                <g id="XMLID_1821_">
                    <path id="XMLID_1822_" fill="#713EB5" d="M-112.4,348.8c-3.3,1-4.1,1.8-5,5.2c-1-3.3-1.8-4.2-5-5.2c3.3-1,4.1-1.8,5-5.2    C-116.5,347-115.7,347.8-112.4,348.8z"></path>
                </g>
                <path id="XMLID_2558_" fill="#713EB5" d="M-82.3,436.4h-39.1c-2.2,0-3.9,1.8-3.9,4v13h46.7v-13C-78.4,438.2-80.2,436.4-82.3,436.4z   "></path>
            </g>
            <g id="XMLID_4_">
                <path id="XMLID_2557_" fill="#F8B64C" d="M-96.2,430c-1.6,0.8-3.1,1.6-4.7,2.2l-1,0.2l-1-0.4c-1.6-0.6-3.1-1.4-4.7-2.2l2.5-6h6.1   L-96.2,430z"></path>
                <g id="XMLID_2552_">
                    <path id="XMLID_2554_" fill="#F8B64C" d="M-148.8,368.4v8.2c0,20,12.1,37.2,29.1,44.4c5.5,2.4,11.5,3.6,17.8,3.6    s12.3-1.2,17.8-3.6c17-7.2,29.1-24.4,29.1-44.4v-8.2H-148.8z M-62.8,376.6c0,9.6-3.3,18.4-9,25.4c-7.2,8.8-18,14.6-30.1,14.6    S-124.7,411-132,402c-5.5-6.8-9-15.8-9-25.4v-0.2h78v0.2H-62.8z"></path>
                    <path id="XMLID_2553_" fill="#F8B64C" d="M-71.4,357.4h-61c-1.4,0-2.3,1.2-2.3,2.4c0,1.4,1,2.6,2.3,2.6h61c1.4,0,2.3-1.2,2.3-2.4    C-69,358.6-70,357.4-71.4,357.4z"></path>
                </g>
            </g>
            <path id="XMLID_2562_" fill="#FFD15C" d="M-133,361v22.8c0,20.2,12.1,38.2,30.5,45.6C-84.1,422.2-72,404-72,384v-23H-133z   M-92.1,407.9l-9.6-7.3l-9.6,7.3l3.6-11.7l-9.8-7.2h12l3.7-11.7L-98,389h12l-9.6,7.3L-92.1,407.9z"></path>
            <rect id="XMLID_2549_" x="-132.4" y="362.4" fill="#FFC952" width="60.8" height="3"></rect>
            </svg>
                                        <h3>Contest Winner</h3>
                                        <p>Won a competition in the MartPlace</p>
                                    </div>
                                    <div class="badge-single">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-203 297 203.4 200" enable-background="new -203 297 203.4 200" xml:space="preserve" class="svg replaced-svg">
            <path id="XMLID_201_" fill="#A8B8DE" d="M-29.2,347.2L-95,308.4c-1.6-1-4-1.5-6-1.5l0,0c-3,0-4.8,0.5-6.4,1.5l-66.2,38.8  c-3.4,2-6.4,7-6.4,11v20.1V418v17.8c0,4,3,9,6.3,11l66.1,38.8c1.6,1,3.9,1.5,6.3,1.5s4.6-0.5,6.3-1.5l65.9-38.8c3.4-2,6.2-7,6.2-11  V418v-59.8C-23,354.3-25.8,349.2-29.2,347.2z M-31,418v17.8c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3  s-1.7-0.2-1.9-0.3l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3V418v-39.7v-20.1c0-0.8,1.1-2.9,1.8-3.3l66.2-38.8c0.2-0.1,1-0.3,2-0.3l0,0  c1,0,1.5,0.2,1.7,0.3l66.2,38.8c0.7,0.4,2.1,2.5,2.1,3.3V418z"></path>
            <path id="XMLID_197_" fill="#0674EC" d="M-5.7,401.1c-0.8-1.7-0.8-4.6,0-6.3L0,383c0.6-1.3,0.6-2,0-3s-1.7-1-3-1h-10v-20.8  c0-7.6-4.7-15.8-11.2-19.6l-66-38.8c-3.1-1.8-7-2.8-11.1-2.8s-8,1-11.1,2.8l-65.7,38.8c-6.5,3.8-10.9,12.1-10.9,19.6V379h-10.5  c-1.3,0-2.4,0-3,1s-0.6,2,0,3.3l5.6,11.7c0.8,1.7,0.8,4.5,0,6.2l-5.7,11.5c-0.6,1.2-0.6,2.7-0.1,3.6c0.6,1,1.7,1.7,3.1,1.7h10.6  v17.8c0,7.6,4.4,15.9,10.8,19.6l65.9,38.8c3.1,1.8,7,2.8,11,2.8s7.9-1,11-2.8l66.1-38.8c6.4-3.8,11.1-12,11.1-19.6V418h10  c1.4,0,2.5-0.8,3.1-1.7c0.6-0.9,0.5-2.2-0.1-3.5L-5.7,401.1z M-23,378.3L-23,378.3V418l0,0v17.8c0,4-2.8,9-6.1,11l-66,38.8  c-1.6,1-3.8,1.5-6.2,1.5s-4.6-0.5-6.2-1.5l-66.1-38.8c-3.4-2-6.3-7-6.3-11V418l0,0v-39.7l0,0v-20.1c0-4,3-9,6.3-11l66.1-38.8  c1.6-1,3.9-1.5,6.3-1.5s4.6,0.5,6.3,1.5l65.9,38.8c3.4,2,6.2,7,6.2,11v20.1H-23z"></path>
            <path id="XMLID_196_" fill="#FFFFFF" d="M-31,358.2v77.5c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3s-1.7-0.2-1.9-0.3  l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3v-77.5c0-0.8,1.1-2.9,1.8-3.3l66-38.8c0.2-0.1,0.9-0.3,1.9-0.3s1.7,0.2,1.9,0.3l66.3,38.8  C-32.4,355.4-31,357.4-31,358.2z"></path>
            <path id="XMLID_1829_" fill="#FEB71D" d="M-102.5,391.1c-0.8-0.2-1.6-0.3-2.4-0.3c-5,0-9,4.1-9,9.2c0,5.1,4,9.2,9,9.2s9-4.1,9-9.2  c0-0.9-0.1-1.7-0.3-2.5l25.1-25.7l4.1,0.6l12.7-13l-9.6-1.3l-1.3-9.8l-12.7,13l0.5,4.2L-102.5,391.1z"></path>
            <g id="XMLID_1819_">
                <path id="XMLID_1826_" fill="#0059AC" d="M-103.9,382.3l7.4-7.6c-9.1-3.2-19.6-1-26.9,6.4c-10.2,10.4-10.2,27.4,0,37.8   c10.2,10.4,26.8,10.4,37,0c7.3-7.4,9.4-18.2,6.3-27.5l-7.4,7.6c0.3,4.9-1.4,9.8-5,13.6c-6.8,6.9-17.8,6.9-24.5,0s-6.8-18.2,0-25.1   C-113.5,383.7-108.6,382-103.9,382.3L-103.9,382.3z"></path>
                <path id="XMLID_1823_" fill="#0059AC" d="M-73.7,384.8c6.1,13.1,3.8,29.2-6.8,40.1c-13.5,13.8-35.3,13.8-48.8,0   c-13.5-13.8-13.5-36.1,0-49.9c10.6-10.9,26.4-13.1,39.2-6.9l7.1-7.3c-16.8-9.8-38.6-7.4-53,7.3c-17.2,17.6-17.2,46.2,0,63.8   s45.1,17.6,62.3,0c14.4-14.7,16.7-37.1,7.1-54.3L-73.7,384.8z"></path>
            </g>
            </svg>
                                        <h3>Copyright</h3>
                                        <p>Protected the Market against copyright violations</p>
                                    </div>
                                    <div class="badge-single">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-203 297 203.4 200" enable-background="new -203 297 203.4 200" xml:space="preserve" class="svg replaced-svg">
            <path id="XMLID_27_" fill="#FFFFFF" d="M-27.1,347.2l-66-38.8c-1.6-1-3.8-1.5-6.2-1.5s-4.6,0.5-6.2,1.5l-66.2,38.8  c-3.4,2-6.3,7-6.3,11v60.3l0,0v17.3c0,4,3,9,6.3,11l66.1,38.8c1.6,1,3.9,1.5,6.3,1.5s4.6-0.5,6.3-1.5l65.9-38.8c3.4-2,6.2-7,6.2-11  v-17.3v-39.7v-20.6C-21,354.3-23.8,349.2-27.1,347.2z M-29,368.9v66.9c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3  s-1.7-0.2-1.9-0.3l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3v-17.3v-39.7v-20.6c0-0.8,1.1-2.9,1.8-3.3l66-38.8c0.2-0.1,0.9-0.3,1.9-0.3  s1.7,0.2,1.9,0.3l66.3,38.8c0.7,0.4,2.1,2.5,2.1,3.3v20.6V368.9z"></path>
            <path id="XMLID_1_" fill="#0674EC" d="M-3.7,401.1c-0.8-1.7-0.8-4.6,0-6.3L2,383c0.6-1.3,0.6-2.5,0-3.5S0.3,378-1,378h-10v-19.8  c0-7.6-4.7-15.8-11.2-19.6l-66-38.8c-3.1-1.8-7-2.8-11.1-2.8s-8,1-11.1,2.8l-65.7,38.8c-6.5,3.8-10.9,12.1-10.9,19.6V378h-10.5  c-1.3,0-2.4,0.5-3,1.5s-0.6,2.3,0,3.6l5.7,11.8c0.8,1.7,0.8,4.6,0,6.2l-5.7,11.6c-0.6,1.2-0.6,2.7-0.1,3.6c0.6,1,1.7,1.7,3.1,1.7  h10.5v17.8c0,7.6,4.4,15.9,10.8,19.6l65.9,38.8c3.1,1.8,7,2.8,11,2.8s7.9-1,11-2.8l66.1-38.8c6.4-3.8,11.1-12,11.1-19.6V418h10  c1.4,0,2.5-0.8,3.1-1.7c0.6-0.9,0.5-2.2-0.1-3.5L-3.7,401.1z M-21,378.8L-21,378.8v56.9c0,4-2.8,9-6.1,11l-66,38.8  c-1.6,1-3.8,1.5-6.2,1.5s-4.6-0.5-6.2-1.5l-66.1-38.8c-3.4-2-6.3-7-6.3-11v-17.3l0,0v-60.2c0-4,3-9,6.3-11l66.1-38.8  c1.6-1,3.9-1.5,6.3-1.5s4.6,0.5,6.3,1.5l65.9,38.8c3.4,2,6.2,7,6.2,11v20.6H-21z"></path>
            <g>
                <g>
                    <defs>
                        <path id="SVGID_1_" d="M-29,358.2v77.5c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3s-1.7-0.2-1.9-0.3l-66-38.8     c-0.7-0.4-1.8-2.5-1.8-3.3v-77.5c0-0.8,1.1-2.9,1.8-3.3l66-38.8c0.2-0.1,0.9-0.3,1.9-0.3s1.7,0.2,1.9,0.3l66.3,38.8     C-30.4,355.4-29,357.4-29,358.2z"></path>
                    </defs>
                    <clipPath id="SVGID_2_">
                        <use xlink:href="#SVGID_1_" overflow="visible"></use>
                    </clipPath>
                    <g clip-path="url(#SVGID_2_)">
            
                            <image overflow="visible" enable-background="new    " width="1366" height="768" xlink:href="C:\Users\user\Pictures\Screenshot (11).png" transform="matrix(0.2001 0 0 0.2001 -202.3526 320.5584)">
                        </image>
                    </g>
                </g>
            </g>
            </svg>
                                        <h3>United States</h3>
                                        <p>Country of Location: United States</p>
                                    </div>
                                    <div class="badge-single">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-203 297 203.4 200" enable-background="new -203 297 203.4 200" xml:space="preserve" class="svg replaced-svg">
            <path id="XMLID_12_" fill="#E7B8D6" d="M-27.2,347.2L-93,308.4c-1.6-1-4-1.5-6-1.5l0,0c-3,0-4.8,0.5-6.4,1.5l-66.2,38.8  c-3.4,2-6.4,7-6.4,11v20.1V418v17.8c0,4,3,9,6.3,11l66.1,38.8c1.6,1,3.9,1.5,6.3,1.5s4.6-0.5,6.3-1.5l65.9-38.8c3.4-2,6.2-7,6.2-11  V418v-59.8C-21,354.3-23.8,349.2-27.2,347.2z M-29,418v17.8c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3  s-1.7-0.2-1.9-0.3l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3V418v-39.7v-20.1c0-0.8,1.1-2.9,1.8-3.3l66.2-38.8c0.2-0.1,1-0.3,2-0.3l0,0  c1,0,1.5,0.2,1.7,0.3l66.2,38.8c0.7,0.4,2.1,2.5,2.1,3.3V418z"></path>
            <path id="XMLID_11_" fill="#0674EC" d="M-3.7,401.1c-0.8-1.7-0.8-4.6,0-6.3L2,383c0.6-1.3,0.6-2.5,0-3.5S0.3,378-1,378h-10v-19.8  c0-7.6-4.7-15.8-11.2-19.6l-66-38.8c-3.1-1.8-7-2.8-11.1-2.8s-8,1-11.1,2.8l-65.7,38.8c-6.5,3.8-10.9,12.1-10.9,19.6V378h-10.5  c-1.3,0-2.4,0.5-3,1.5s-0.6,2.3,0,3.6l5.7,11.8c0.8,1.7,0.8,4.6,0,6.2l-5.7,11.6c-0.6,1.2-0.6,2.7-0.1,3.6c0.6,1,1.7,1.7,3.1,1.7  h10.5v17.8c0,7.6,4.4,15.9,10.8,19.6l65.9,38.8c3.1,1.8,7,2.8,11,2.8s7.9-1,11-2.8l66.1-38.8c6.4-3.8,11.1-12,11.1-19.6V418h10  c1.4,0,2.5-0.8,3.1-1.7c0.6-0.9,0.5-2.2-0.1-3.5L-3.7,401.1z M-21,378.3L-21,378.3V418l0,0v17.8c0,4-2.8,9-6.1,11l-66,38.8  c-1.6,1-3.8,1.5-6.2,1.5s-4.6-0.5-6.2-1.5l-66.1-38.8c-3.4-2-6.3-7-6.3-11V418l0,0v-39.7l0,0v-20.1c0-4,3-9,6.3-11l66.1-38.8  c1.6-1,3.9-1.5,6.3-1.5s4.6,0.5,6.3,1.5l65.9,38.8c3.4,2,6.2,7,6.2,11v20.1H-21z"></path>
            <path id="XMLID_10_" fill="#FFFFFF" d="M-29,358.2v77.5c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3s-1.7-0.2-1.9-0.3  l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3v-77.5c0-0.8,1.1-2.9,1.8-3.3l66-38.8c0.2-0.1,0.9-0.3,1.9-0.3s1.7,0.2,1.9,0.3l66.3,38.8  C-30.4,355.4-29,357.4-29,358.2z"></path>
            <g id="XMLID_7_">
                <path id="XMLID_9_" fill="#F173AC" d="M-120.5,397.6c-6.4,0-19.2-13.2-24.2-18.7c1.7-0.8,2.9-2.6,2.9-4.6c0-2.8-2.2-5.1-5-5.1   s-5,2.3-5,5.1c0,2.8,2.2,5.1,5,5.1c0.3,0,0.6,0,0.9-0.1l15.3,47.5h31v-66.3C-99.6,360.5-105.8,397.6-120.5,397.6z"></path>
                <rect id="XMLID_8_" x="-130.6" y="429.1" fill="#F173AC" width="31" height="12.1"></rect>
            </g>
            <g id="XMLID_2_">
                <path id="XMLID_6_" fill="#D058A0" d="M-52.4,369.2c-2.8,0-5,2.3-5,5.1c0,2.1,1.2,3.8,2.9,4.6c-5.1,5.5-17.9,18.7-24.2,18.7   c-14.6,0-20.8-37.1-20.8-37.1v66.3h31l15.3-47.5c0.3,0.1,0.6,0.1,0.9,0.1c2.8,0,5-2.3,5-5.1C-47.4,371.5-49.6,369.2-52.4,369.2z"></path>
                <ellipse id="XMLID_5_" fill="#D058A0" cx="-99.6" cy="358.3" rx="5" ry="5.1"></ellipse>
                <rect id="XMLID_3_" x="-99.6" y="429.1" fill="#D058A0" width="31" height="12.1"></rect>
            </g>
            </svg>
                                        <h3>Exclusive Author</h3>
                                        <p>Sells items exclusively on MartPlace</p>
                                    </div>
                                    <div class="badge-single">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-203 297 203.4 200" enable-background="new -203 297 203.4 200" xml:space="preserve" class="svg replaced-svg">
            <path id="XMLID_192_" fill="#FFFFFF" d="M-31,358.2v77.5c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3s-1.7-0.2-1.9-0.3  l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3v-77.5c0-0.8,1.1-2.9,1.8-3.3l66-38.8c0.2-0.1,0.9-0.3,1.9-0.3s1.7,0.2,1.9,0.3l66.3,38.8  C-32.4,355.4-31,357.4-31,358.2z"></path>
            <path id="XMLID_48_" fill="#B4E9FB" d="M-29.2,347.2L-95,308.4c-1.6-1-4-1.5-6-1.5l0,0c-3,0-4.8,0.5-6.4,1.5l-66.2,38.8  c-3.4,2-6.4,7-6.4,11v20.1V418v17.8c0,4,3,9,6.3,11l66.1,38.8c1.6,1,3.9,1.5,6.3,1.5s4.6-0.5,6.3-1.5l65.9-38.8c3.4-2,6.2-7,6.2-11  V418v-59.8C-23,354.3-25.8,349.2-29.2,347.2z M-31,418v17.8c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3  s-1.7-0.2-1.9-0.3l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3V418v-39.7v-20.1c0-0.8,1.1-2.9,1.8-3.3l66.2-38.8c0.2-0.1,1-0.3,2-0.3l0,0  c1,0,1.5,0.2,1.7,0.3l66.2,38.8c0.7,0.4,2.1,2.5,2.1,3.3V418z"></path>
            <path id="XMLID_182_" fill="#0674EC" d="M-5.7,401.1c-0.8-1.7-0.8-4.6,0-6.3L0,383c0.6-1.3,0.6-2.5,0-3.5s-1.7-1.5-3-1.5h-10v-19.8  c0-7.6-4.7-15.8-11.2-19.6l-66-38.8c-3.1-1.8-7-2.8-11.1-2.8s-8,1-11.1,2.8l-65.7,38.8c-6.5,3.8-10.9,12.1-10.9,19.6V378h-10.5  c-1.3,0-2.4,0.5-3,1.5s-0.6,2.3,0,3.6l5.7,11.8c0.8,1.7,0.8,4.6,0,6.2l-5.7,11.6c-0.6,1.2-0.6,2.7-0.1,3.6c0.6,1,1.7,1.7,3.1,1.7  h10.5v17.8c0,7.6,4.4,15.9,10.8,19.6l65.9,38.8c3.1,1.8,7,2.8,11,2.8s7.9-1,11-2.8l66.1-38.8c6.4-3.8,11.1-12,11.1-19.6V418h10  c1.4,0,2.5-0.8,3.1-1.7c0.6-0.9,0.5-2.2-0.1-3.5L-5.7,401.1z M-23,378.3L-23,378.3V418l0,0v17.8c0,4-2.8,9-6.1,11l-66,38.8  c-1.6,1-3.8,1.5-6.2,1.5s-4.6-0.5-6.2-1.5l-66.1-38.8c-3.4-2-6.3-7-6.3-11V418l0,0v-39.7l0,0v-20.1c0-4,3-9,6.3-11l66.1-38.8  c1.6-1,3.9-1.5,6.3-1.5s4.6,0.5,6.3,1.5l65.9,38.8c3.4,2,6.2,7,6.2,11v20.1H-23z"></path>
            <g id="XMLID_175_">
                <path id="XMLID_37_" fill="#00A5E3" d="M-74.7,451.5c0,2.2-1.4,3.2-3.1,2.3l-20.5-13.4c-1.7-0.9-4.4-1-6.1,0l-20.9,13.5   c-1.7,0.9-3.1-0.1-3.1-2.3v-37.3c0-2.2,1.5-4,3.4-4h46.9c1.9,0,3.4,1.8,3.4,4V451.5z"></path>
            </g>
            <g id="XMLID_157_">
                <g id="XMLID_171_">
                    <path id="XMLID_38_" fill="#44C8F5" d="M-100.3,368.1c-3.6,0-6.6,3-6.6,6.8c0,3.7,3,6.8,6.6,6.8s6.6-3,6.6-6.8    C-93.7,371.1-96.6,368.1-100.3,368.1z"></path>
                </g>
                <g id="XMLID_159_">
                    <g id="XMLID_58_">
                        <path id="XMLID_59_" fill="#44C8F5" d="M-101.4,340.8c-23.9,0-43.3,19.9-43.3,44.3s19.4,44.3,43.3,44.3s43.3-19.9,43.3-44.3     C-58.1,360.7-77.4,340.8-101.4,340.8z M-79.5,407.6h-7.9v-3.3c0-8.7-6.7-15.5-14.9-15.5s-14.9,6.8-14.9,15.5v3.3h-6.9v-3.3     c0-5.6,2.7-11.3,7.3-16c1.4-1.5,3.7-2.9,6.3-4.1c-2.2-2.5-3.5-5.8-3.5-9.3c0-7.7,6.1-14,13.6-14s13.5,6.3,13.5,14     c0,3.4-1.3,6.7-3.6,9.3c1.8,1,3.4,2.3,5.1,4.1c3.9,4,5.8,9.6,5.8,16L-79.5,407.6L-79.5,407.6z"></path>
                    </g>
                </g>
            </g>
            </svg>
                                        <h3>Featured Author</h3>
                                        <p>Made it to the Authors' Hall of Fame</p>
                                    </div>
                                    <div class="badge-single">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-203 297 203.4 200" enable-background="new -203 297 203.4 200" xml:space="preserve" class="svg replaced-svg">
            <path id="XMLID_36_" fill="#FFFFFF" d="M-31,358.2v77.5c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3s-1.7-0.2-1.9-0.3  l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3v-77.5c0-0.8,1.1-2.9,1.8-3.3l66-38.8c0.2-0.1,0.9-0.3,1.9-0.3s1.7,0.2,1.9,0.3l66.3,38.8  C-32.4,355.4-31,357.4-31,358.2z"></path>
            <path id="XMLID_111_" fill="#0674EC" d="M-5.7,401.1c-0.8-1.7-0.8-4.6,0-6.3L0,383c0.6-1.3,0.6-2.5,0-3.5s-1.7-1.5-3-1.5h-10v-19.8  c0-7.6-4.7-15.8-11.2-19.6l-66-38.8c-3.1-1.8-7-2.8-11.1-2.8s-8,1-11.1,2.8l-65.7,38.8c-6.5,3.8-10.9,12.1-10.9,19.6V378h-10.5  c-1.3,0-2.4,0.5-3,1.5s-0.6,2.3,0,3.6l5.7,11.8c0.8,1.7,0.8,4.6,0,6.2l-5.7,11.6c-0.6,1.2-0.6,2.7-0.1,3.6c0.6,1,1.7,1.7,3.1,1.7  h10.5v17.8c0,7.6,4.4,15.9,10.8,19.6l65.9,38.8c3.1,1.8,7,2.8,11,2.8s7.9-1,11-2.8l66.1-38.8c6.4-3.8,11.1-12,11.1-19.6V418h10  c1.4,0,2.5-0.8,3.1-1.7c0.6-0.9,0.5-2.3-0.1-3.5L-5.7,401.1z M-23,435.8c0,4-2.8,9-6.1,11l-66,38.8c-1.6,1-3.8,1.5-6.2,1.5  s-4.6-0.5-6.2-1.5l-66.1-38.8c-3.4-2-6.3-7-6.3-11v-77.6c0-4,3-9,6.3-11l66.2-38.8c1.6-1,3.4-1.5,6.4-1.5l0,0c2,0,4.4,0.5,6.1,1.5  l65.9,38.8c2.1,1.2,3.9,3.7,5,6.3c0.7,1.6,1,3.2,1,4.7V435.8z"></path>
            <g id="XMLID_1_">
                <path id="XMLID_35_" fill="#4D2C89" d="M-74.5,451.5c0,2.2-1.4,3.2-3.1,2.3L-98,440.4c-1.7-0.9-4.4-1-6.1,0l-20.9,13.4   c-1.7,0.9-3.1-0.1-3.1-2.3v-37.3c0-2.2,1.5-4,3.4-4h46.9c1.9,0,3.4,1.8,3.4,4v37.3H-74.5z"></path>
            </g>
            <ellipse id="XMLID_46_" fill="#673AB7" cx="-101.3" cy="385.1" rx="43.3" ry="44.3"></ellipse>
            <path id="XMLID_72_" fill="#C2B0E2" d="M-24,353.5c-1.1-2.6-3-5.1-5.1-6.3L-95,308.4c-1.6-1-4-1.5-6-1.5l0,0c-3,0-4.8,0.5-6.4,1.5  l-66.2,38.8c-3.4,2-6.4,7-6.4,11v77.5c0,4,3,9,6.3,11l66.1,38.8c1.6,1,3.9,1.5,6.3,1.5s4.6-0.5,6.3-1.5l65.9-38.8  c3.4-2,6.2-7,6.2-11v-77.5C-23,356.7-23.3,355.1-24,353.5z M-31,435.8c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3  s-1.7-0.2-1.9-0.3l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3v-77.6c0-0.8,1.1-2.9,1.8-3.3l66.2-38.7c0.2-0.1,1-0.3,2-0.3l0,0  c1,0,1.5,0.2,1.7,0.3l66.2,38.8c0.7,0.4,2.1,2.5,2.1,3.3V435.8z"></path>
            <g id="XMLID_60_">
                <path id="XMLID_203_" fill="#FFFFFF" d="M-81.3,357h-38.8c-2.5,0-2.5,2.7-2.5,2.7c-0.1,0.2,0,48.3,0,48.3c0,3.1,1.4,4,2.5,4h38.8   c1.6,0,1.3-1.6,1.3-1.7v-51.7l0,0C-80,358.5-80.1,357-81.3,357z M-116,365h29v11h-29V365z M-86.6,405H-115c-0.7,0-1.3-0.8-1.3-1.5   s0.6-1.5,1.3-1.5h28.3c0.7,0,1.3,0.8,1.3,1.5C-85.4,404.2-85.9,405-86.6,405z M-86.6,398H-115c-0.7,0-1.3-0.8-1.3-1.5   s0.6-1.5,1.3-1.5h28.3c0.7,0,1.3,0.8,1.3,1.5C-85.4,397.2-85.9,398-86.6,398z M-86.6,391H-115c-0.7,0-1.3-0.4-1.3-1.5   s0.6-1.5,1.3-1.5h28.3c0.7,0,1.3,0.4,1.3,1.5C-85.4,390.6-85.9,391-86.6,391z M-86.6,385H-115c-0.7,0-1.3-0.6-1.3-1.5   s0.6-1.5,1.3-1.5h28.3c0.7,0,1.3,0.6,1.3,1.5C-85.4,384.4-85.9,385-86.6,385z"></path>
                <ellipse id="XMLID_105_" fill="#FFFFFF" cx="-97.9" cy="370.3" rx="2.6" ry="2.6"></ellipse>
                <ellipse id="XMLID_104_" fill="#FFFFFF" cx="-104" cy="370.3" rx="2.6" ry="2.6"></ellipse>
                <ellipse id="XMLID_103_" fill="#FFFFFF" cx="-110.1" cy="370.3" rx="2.6" ry="2.6"></ellipse>
            </g>
            </svg>
                                        <h3>Featured Item</h3>
                                        <p>Had an item featured on MartPlace</p>
                                    </div>
                                    <div class="badge-single">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-203 297 203.4 200" enable-background="new -203 297 203.4 200" xml:space="preserve" class="svg replaced-svg">
            <path id="XMLID_128_" fill="#C2B0E2" d="M-29.2,347.2L-95,308.4c-1.6-1-4-1.5-6-1.5l0,0c-3,0-4.8,0.5-6.4,1.5l-66.2,38.8  c-3.4,2-6.4,7-6.4,11v20.1V418v17.8c0,4,3,9,6.3,11l66.1,38.8c1.6,1,3.9,1.5,6.3,1.5s4.6-0.5,6.3-1.5l65.9-38.8c3.4-2,6.2-7,6.2-11  V418v-59.8C-23,354.3-25.8,349.2-29.2,347.2z M-31,418v17.8c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3  s-1.7-0.2-1.9-0.3l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3V418v-39.7v-20.1c0-0.8,1.1-2.9,1.8-3.3l66.2-38.8c0.2-0.1,1-0.3,2-0.3l0,0  c1,0,1.5,0.2,1.7,0.3l66.2,38.8c0.7,0.4,2.1,2.5,2.1,3.3V418z"></path>
            <path id="XMLID_107_" fill="#0674EC" d="M-5.7,401.1c-0.8-1.7-0.8-4.6,0-6.3L0,383c0.6-1.3,0.6-2,0-3s-1.7-1-3-1h-10v-20.8  c0-7.6-4.7-15.8-11.2-19.6l-66-38.8c-3.1-1.8-7-2.8-11.1-2.8s-8,1-11.1,2.8l-65.7,38.8c-6.5,3.8-10.9,12.1-10.9,19.6V379h-10.5  c-1.3,0-2.4,0-3,1s-0.6,2,0,3.3l5.6,11.7c0.8,1.7,0.8,4.5,0,6.2l-5.7,11.5c-0.6,1.2-0.6,2.7-0.1,3.6c0.6,1,1.7,1.7,3.1,1.7h10.6  v17.8c0,7.6,4.4,15.9,10.8,19.6l65.9,38.8c3.1,1.8,7,2.8,11,2.8s7.9-1,11-2.8l66.1-38.8c6.4-3.8,11.1-12,11.1-19.6V418h10  c1.4,0,2.5-0.8,3.1-1.7c0.6-0.9,0.5-2.2-0.1-3.5L-5.7,401.1z M-23,378.3L-23,378.3V418l0,0v17.8c0,4-2.8,9-6.1,11l-66,38.8  c-1.6,1-3.8,1.5-6.2,1.5s-4.6-0.5-6.2-1.5l-66.1-38.8c-3.4-2-6.3-7-6.3-11V418l0,0v-39.7l0,0v-20.1c0-4,3-9,6.3-11l66.1-38.8  c1.6-1,3.9-1.5,6.3-1.5s4.6,0.5,6.3,1.5l65.9,38.8c3.4,2,6.2,7,6.2,11v20.1H-23z"></path>
            <path id="XMLID_99_" fill="#FFFFFF" d="M-31,358.2v77.5c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3s-1.7-0.2-1.9-0.3  l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3v-77.5c0-0.8,1.1-2.9,1.8-3.3l66-38.8c0.2-0.1,0.9-0.3,1.9-0.3s1.7,0.2,1.9,0.3l66.3,38.8  C-32.4,355.4-31,357.4-31,358.2z"></path>
            <g id="XMLID_1_">
                <path id="XMLID_25_" fill="#FFC107" d="M-57,359.8V391c0,4-3.2,6.9-7,6.9h-3v17.2c0,0.8-1,1-1.5,0.4L-86.3,398H-88v-11.8   c0.3,0.5,0.9,0.8,1.5,0.8h21.9c1,0,1.9-1,1.9-2s-0.8-2-1.9-2h-21.9c-0.6,0-1.1,0.3-1.5,0.8V378h23.4c1,0,1.9-1,1.9-2s-0.8-2-1.9-2   H-88v-5.2c0-0.3,0-0.6,0-0.8h23.4c1,0,1.9-1,1.9-2s-0.8-2-1.9-2h-25.5c-1.4-1.3-3.2-2-5.2-2H-130v-2.2c0-4,3.4-6.8,7.2-6.8H-64   C-60.2,353-57,355.9-57,359.8z"></path>
                <g id="XMLID_2570_">
                    <path id="XMLID_2571_" fill="#FFC107" d="M-125.3,444.5l-4.8-2.5c-0.1,0-0.2,0-0.3,0l-4.7,2.6c-0.2,0.1-0.5-0.1-0.5-0.3l0.8-5.4    c0-0.1,0-0.2-0.1-0.3l-3.9-3.8c-0.2-0.2-0.1-0.5,0.2-0.6l5.3-0.9c0.1,0,0.2-0.1,0.2-0.2l2.3-4.9c0.1-0.2,0.4-0.2,0.6,0l2.4,4.9    c0,0.1,0.1,0.2,0.2,0.2l5.3,0.7c0.3,0,0.4,0.4,0.2,0.6l-3.8,3.9c-0.1,0.1-0.1,0.2-0.1,0.3l1,5.4    C-124.8,444.4-125.1,444.6-125.3,444.5z"></path>
                </g>
                <g id="XMLID_2568_">
                    <path id="XMLID_2569_" fill="#FFC107" d="M-106.1,444.5l-4.8-2.5c-0.1,0-0.2,0-0.3,0l-4.7,2.6c-0.2,0.1-0.5-0.1-0.5-0.3l0.8-5.4    c0-0.1,0-0.2-0.1-0.3l-3.9-3.8c-0.2-0.2-0.1-0.5,0.2-0.6l5.3-0.9c0.1,0,0.2-0.1,0.2-0.2l2.3-4.9c0.1-0.2,0.4-0.2,0.6,0l2.4,4.9    c0,0.1,0.1,0.2,0.2,0.2l5.3,0.7c0.3,0,0.4,0.4,0.2,0.6l-3.8,3.9c-0.1,0.1-0.1,0.2-0.1,0.3l1,5.4    C-105.6,444.4-105.9,444.6-106.1,444.5z"></path>
                </g>
                <g id="XMLID_2566_">
                    <path id="XMLID_2567_" fill="#FFC107" d="M-86.9,444.5l-4.8-2.5c-0.1,0-0.2,0-0.3,0l-4.7,2.6c-0.2,0.1-0.5-0.1-0.5-0.3l0.8-5.4    c0-0.1,0-0.2-0.1-0.3l-3.9-3.8c-0.2-0.2-0.1-0.5,0.2-0.6l5.3-0.9c0.1,0,0.2-0.1,0.2-0.2l2.3-4.9c0.1-0.2,0.4-0.2,0.6,0l2.4,4.9    c0,0.1,0.1,0.2,0.2,0.2l5.3,0.7c0.3,0,0.4,0.4,0.2,0.6l-3.8,3.9c-0.1,0.1-0.1,0.2-0.1,0.3l1,5.4    C-86.4,444.4-86.6,444.6-86.9,444.5z"></path>
                </g>
                <g id="XMLID_2564_">
                    <path id="XMLID_2565_" fill="#FFC107" d="M-67.7,444.5l-4.8-2.5c-0.1,0-0.2,0-0.3,0l-4.7,2.6c-0.2,0.1-0.5-0.1-0.5-0.3l0.8-5.4    c0-0.1,0-0.2-0.1-0.3l-3.9-3.8c-0.2-0.2-0.1-0.5,0.2-0.6l5.3-0.9c0.1,0,0.2-0.1,0.2-0.2l2.3-4.9c0.1-0.2,0.4-0.2,0.6,0l2.4,4.9    c0,0.1,0.1,0.2,0.2,0.2l5.3,0.7c0.3,0,0.4,0.4,0.2,0.6l-3.8,3.9c-0.1,0.1-0.1,0.2-0.1,0.3l1,5.4    C-67.2,444.4-67.4,444.6-67.7,444.5z"></path>
                </g>
            </g>
            <path id="XMLID_14_" fill="#673AB7" d="M-88,368c-0.2-1.6-1-3-2.1-4c-1.4-1.3-3.2-2-5.2-2h-43.2c-3.9,0-6.5,2.9-6.5,6.8V400  c0,3.9,2.6,6.9,6.5,6.9h3.5v17.2c0,0.8,0.8,1,1.2,0.4l17.6-17.5h20.8c3.9,0,7.4-3,7.4-6.9v-31.3C-88,368.5-88,368.3-88,368z   M-133.8,385c-1,0-1.9-1-1.9-2s0.8-2,1.9-2h33.8c1,0,1.9,1,1.9,2s-0.8,2-1.9,2H-133.8z M-123.8,392c0-1,0.8-2,1.8-2h22  c1,0,1.9,1,1.9,2s-0.8,2-1.9,2h-22C-123,394-123.8,393-123.8,392z M-100,375h-33.8c-1,0-1.9-0.5-1.9-1.5s0.8-1.5,1.9-1.5h33.8  c1,0,1.9,0.5,1.9,1.5c0,0.2,0,0.3-0.1,0.5C-98.5,374.7-99.2,375-100,375z"></path>
            </svg>
                                        <h3>Forum Superstar</h3>
                                        <p>Provided great contribution to our forums</p>
                                    </div>
                                    <div class="badge-single">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-203 297 203.4 200" enable-background="new -203 297 203.4 200" xml:space="preserve" class="svg replaced-svg">
            <path id="XMLID_47_" fill="#FDBCBC" d="M-27.1,347.2l-66-38.8c-1.6-1-4.3-1.5-6.2-1.5l0,0c-2.4,0-4.6,0.5-6.2,1.5l-66,38.8  c-3.4,2-6.2,7-6.2,11v20.1V418v17.8c0,4,2.9,9,6.2,11l66,38.8c1.6,1,3.9,1.5,6.2,1.5c2.4,0,4.6-0.5,6.2-1.5l66-38.8  c3.4-2,6.2-7,6.2-11V418v-59.8C-20.8,354.3-23.7,349.2-27.1,347.2z M-29.5,418v17.8c0,0.8-1.2,2.9-1.9,3.3l-66,38.8  c-0.2,0.1-0.9,0.3-1.9,0.3s-1.7-0.2-1.9-0.3l-66-38.8c-0.7-0.4-1.9-2.5-1.9-3.3V418v-39.7v-20.1c0-0.8,1.2-2.9,1.9-3.3l66-38.8  c0.2-0.1,0.9-0.3,1.9-0.3l0,0c1,0,1.7,0.2,1.9,0.3l66.1,38.8c0.7,0.4,1.9,2.5,1.9,3.3V418H-29.5z"></path>
            <path id="XMLID_1_" fill="#0674EC" d="M-3.7,401.1c-0.8-1.7-0.8-4.6,0-6.3L2,383c0.6-1.3,0.6-2.5,0-3.5S0.3,378-1,378h-10v-19.8  c0-7.6-4.7-15.8-11.2-19.6l-66-38.8c-3.1-1.8-7-2.8-11.1-2.8s-8,1-11.1,2.8l-65.7,38.8c-6.5,3.8-10.9,12.1-10.9,19.6V378h-10.5  c-1.3,0-2.4,0.5-3,1.5s-0.6,2.3,0,3.6l5.7,11.8c0.8,1.7,0.8,4.6,0,6.2l-5.7,11.6c-0.6,1.2-0.6,2.7-0.1,3.6c0.6,1,1.7,1.7,3.1,1.7  h10.5v17.8c0,7.6,4.4,15.9,10.8,19.6l65.9,38.8c3.1,1.8,7,2.8,11,2.8s7.9-1,11-2.8l66.1-38.8c6.4-3.8,11.1-12,11.1-19.6V418h10  c1.4,0,2.5-0.8,3.1-1.7c0.6-0.9,0.5-2.2-0.1-3.5L-3.7,401.1z M-21,378.3L-21,378.3V418l0,0v17.8c0,4-2.8,9-6.1,11l-66,38.8  c-1.6,1-3.8,1.5-6.2,1.5s-4.6-0.5-6.2-1.5l-66.1-38.8c-3.4-2-6.3-7-6.3-11V418l0,0v-39.7l0,0v-20.1c0-4,3-9,6.3-11l66.1-38.8  c1.6-1,3.9-1.5,6.3-1.5s4.6,0.5,6.3,1.5l65.9,38.8c3.4,2,6.2,7,6.2,11v20.1H-21z"></path>
            <path id="XMLID_33_" fill="#FFFFFF" d="M-29,358.2v77.5c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3s-1.7-0.2-1.9-0.3  l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3v-77.5c0-0.8,1.1-2.9,1.8-3.3l66-38.8c0.2-0.1,0.9-0.3,1.9-0.3s1.7,0.2,1.9,0.3l66.3,38.8  C-30.4,355.4-29,357.4-29,358.2z"></path>
            <path id="XMLID_3_" fill="#F95858" d="M-61.1,436.1c-0.3,0.7-0.3,1.4-0.5,2c-1.1,2.8-2.9,4.7-5.7,5.6c-1.1,0.4-2.2,0.4-3.4,0.4  c-0.2,0-0.4,0-0.6,0.2c-0.6,0.6-1.2,1.2-1.9,1.8c-1.4,1.1-3,2-4.7,2.5c-0.5,0.1-0.9,0.2-1.4,0.2s-1,0-1.5,0.2c-0.2,0-0.3,0-0.5,0  c-1.8-0.2-9.3,0-11.2-0.1c-0.5,0-1.1-0.1-1.6,0.1c-6.8,0-19.2,0-26,0c-1.7,0-3.3,0-5,0c-0.4-0.2-0.8-0.2-1.3-0.2  c-3.7-0.7-6.8-2.6-9.1-5.6c-0.4-0.5-0.8-1.1-1.1-1.7c-0.2-0.3-0.2-0.5,0.3-0.5c0.1,0,0.2,0,0.3,0c11.1,0,27.9,0,39,0  c4.6,0,14.9,0,19.6,0c0.2,0,0.5,0.1,0.6-0.1c0.1-0.2-0.2-0.3-0.3-0.5c-3.1-4.7-1.5-10.8,3.4-13.3c4.6-2.4,10.2-0.2,12.2,4.7  c0.2,0.6,0.4,1.1,0.5,1.8c0,0.2-0.1,0.5,0.1,0.6C-61.1,434.8-61.1,435.5-61.1,436.1z M-70,440.8c3.1,0,5.6-2.5,5.6-5.6  c0-3.1-2.5-5.7-5.6-5.7s-5.5,2.5-5.6,5.7C-75.5,438.3-72.9,440.8-70,440.8z"></path>
            <path id="XMLID_2_" fill="#FEC00F" d="M-98.9,351.4c0.3,1,0.9,1.8,1.4,2.6c1.8,2.9,3.3,5.8,3.1,9.2c-0.1,2.4-0.8,4.6-2.6,6.5  c-1,1-2.4,1.7-3.8,2c1.6-1.7,1.8-3.7,1.5-5.7c-0.2-1.5-0.9-2.8-1.6-4.1c-0.6-1.1-1.2-2.1-1.9-3.2c-0.1-0.1-0.1-0.3-0.3-0.3  c-0.2,0-0.3,0.2-0.4,0.3c-1.2,1.8-2.3,3.5-3,5.5c-0.6,1.9-0.9,3.7-0.2,5.6c0.3,0.7,0.8,1.2,1.4,1.8c-1.9-0.6-3.3-1.5-4.4-2.8  c-0.8-0.9-1.3-1.9-1.7-3c-0.2-0.6-0.2-1.1-0.2-1.7c-0.2-2.5,0.3-4.9,1.1-7.3c0.4-1.5,1.1-2.9,1.6-4.4c0.4-1,1-2,1.6-3  c1.9-3.4,4.2-6.5,7.5-8.9c1.1-0.9,2.4-1.5,4-1.7c0.2,0,0.5-0.1,0.7,0.1c-3.1,1.8-4.6,4.4-4.9,7.5c-0.2,0.5-0.1,1,0,1.5  C-99.8,349.1-99.6,350.3-98.9,351.4z"></path>
            <text transform="matrix(0.9837 0 0 1 -126.2778 435.79)" fill="#F95858" font-family="'ArialMT'" font-size="84.7603px">2</text>
            <text id="XMLID_879_" transform="matrix(0.9837 0 0 1 -126.2778 435.79)" fill="none" stroke="#F95858" stroke-miterlimit="10" font-family="'ArialMT'" font-size="84.7603px">2</text>
            </svg>
                                        <h3>Member for 2 Years</h3>
                                        <p>Has been a member of the market for 2 years.</p>
                                    </div>
                                    <div class="badge-single">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-203 297 203.4 200" enable-background="new -203 297 203.4 200" xml:space="preserve" class="svg replaced-svg">
            <path id="XMLID_226_" fill="#B2CFA9" d="M-27.2,347.2L-93,308.4c-1.6-1-4-1.5-6-1.5l0,0c-3,0-4.8,0.5-6.4,1.5l-66.2,38.8  c-3.4,2-6.4,7-6.4,11v20.1V418v17.8c0,4,2.9,9,6.3,11l66.1,38.8c1.6,1,3.9,1.5,6.3,1.5s4.6-0.5,6.3-1.5l65.9-38.8  c3.4-2,6.2-7,6.2-11V418v-59.8C-21,354.3-23.8,349.2-27.2,347.2z M-29,418v17.8c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8  c-0.2,0.1-1,0.3-2,0.3s-1.8-0.2-1.9-0.3l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3V418v-39.7v-20.1c0-0.8,1.1-2.9,1.8-3.3l66.2-38.8  c0.2-0.1,1-0.3,2-0.3l0,0c1,0,1.5,0.2,1.7,0.3l66.2,38.8c0.7,0.4,2.1,2.5,2.1,3.3V418z"></path>
            <path id="XMLID_218_" fill="#0674EC" d="M-3.7,401.1c-0.8-1.7-0.8-4.6,0-6.3L2,383c0.6-1.3,0.6-2,0-3s-1.7-1-3-1h-10v-20.8  c0-7.6-4.7-15.8-11.2-19.6l-66-38.8c-3.1-1.8-7-2.8-11.1-2.8s-8,1-11.1,2.8l-65.8,38.8c-6.4,3.8-10.8,12.1-10.8,19.6V379h-10.5  c-1.3,0-2.4,0-3,1s-0.6,2,0,3.3l5.6,11.7c0.8,1.7,0.8,4.5,0,6.2l-5.7,11.5c-0.6,1.2-0.6,2.7-0.1,3.6c0.6,1,1.7,1.7,3.1,1.7h10.6  v17.8c0,7.6,4.4,15.9,10.8,19.6l65.9,38.8c3.1,1.8,7,2.8,11,2.8s7.9-1,11-2.8l66.1-38.8c6.4-3.8,11.2-12,11.2-19.6V418h9.9  c1.4,0,2.5-0.8,3.1-1.7c0.6-0.9,0.5-2.2-0.1-3.5L-3.7,401.1z M-21,378.3L-21,378.3V418l0,0v17.8c0,4-2.8,9-6.2,11l-66,38.8  c-1.6,1-3.8,1.5-6.2,1.5c-2.4,0-4.6-0.5-6.2-1.5l-66.1-38.8c-3.4-2-6.3-7-6.3-11V418l0,0v-39.7l0,0v-20.1c0-4,2.9-9,6.3-11  l66.1-38.8c1.6-1,3.9-1.5,6.3-1.5s4.6,0.5,6.3,1.5l65.9,38.8c3.4,2,6.2,7,6.2,11v20.1H-21z"></path>
            <path id="XMLID_213_" fill="#FFFFFF" d="M-29,358.2v77.5c0,0.8-1.4,2.9-2.1,3.3l-66.2,38.8c-0.2,0.1-1,0.3-2,0.3s-1.8-0.2-1.9-0.3  l-66-38.8c-0.7-0.4-1.8-2.5-1.8-3.3v-77.5c0-0.8,1.1-2.9,1.8-3.3l66-38.8c0.2-0.1,0.9-0.3,1.9-0.3s1.7,0.2,1.9,0.3l66.3,38.8  C-30.4,355.4-29,357.4-29,358.2z"></path>
            <path id="XMLID_90_" fill="#F4CC6A" d="M-99.6,388.3L-99.6,388.3L-99.6,388.3z"></path>
            <path id="XMLID_88_" fill="#F4CC6A" d="M-99.6,388.3L-99.6,388.3L-99.6,388.3z"></path>
            <path id="XMLID_86_" fill="#F4CC6A" d="M-99.6,388.3L-99.6,388.3L-99.6,388.3z"></path>
            <g>
                <g id="XMLID_1_">
                    <polygon id="XMLID_2065_" fill="#38A049" points="-67.6,457.5 -88.4,457.5 -104.9,429.5 -84.2,429.5   "></polygon>
                    <polygon id="XMLID_2042_" fill="#38A049" points="-93.7,429.5 -110.3,457.5 -131,457.5 -114.5,429.5   "></polygon>
                </g>
                <path fill="#38A049" d="M-86.1,440.3c-0.8,0-1.6-0.1-2.3-0.3l-6-1.7c-1.3-0.4-3-0.6-4.9-0.6c-1.8,0-3.6,0.2-4.9,0.6l-6,1.7   c-0.7,0.2-1.5,0.3-2.3,0.3c-3.1,0-6.2-1.4-7.9-3.6l-3.9-5c-1.7-2.2-5.3-4.8-7.8-5.7l-5.9-2.1c-3.4-1.2-6.2-5.1-6.3-8.7l-0.2-6.3   c-0.1-2.7-1.5-7-3-9.2l-3.5-5.2c-2-3-2-7.7,0-10.8l3.5-5.2c1.5-2.3,2.9-6.5,3-9.2l0.2-6.3c0.1-3.6,2.9-7.5,6.3-8.7l5.9-2.1   c2.6-0.9,6.2-3.5,7.8-5.7l3.9-5c1.7-2.2,4.9-3.6,7.9-3.6c0.8,0,1.6,0.1,2.3,0.3l6,1.7c1.3,0.4,3,0.6,4.9,0.6s3.6-0.2,4.9-0.6l6-1.7   c0.7-0.2,1.5-0.3,2.3-0.3c3.1,0,6.2,1.4,7.9,3.6l3.9,5c1.7,2.2,5.3,4.8,7.8,5.7l5.9,2.1c3.4,1.2,6.2,5.1,6.3,8.7l0.2,6.3   c0.1,2.7,1.5,7,3,9.2l3.5,5.2c2,3,2,7.7,0,10.8l-3.5,5.2c-1.5,2.3-2.9,6.5-3,9.2l-0.2,6.3c-0.1,3.6-2.9,7.5-6.3,8.7l-5.9,2.1   c-2.6,0.9-6.2,3.5-7.8,5.7l-3.9,5C-79.9,438.8-83,440.3-86.1,440.3z"></path>
            </g>
            <circle fill="#62BB46" cx="-99.2" cy="388.8" r="38.2"></circle>
            <g>
                <path fill="#FFFFFF" d="M-86.1,339.3c2.5,0,5.2,1.2,6.7,3.1l3.9,5c1.9,2.4,5.7,5.2,8.5,6.2l5.9,2.1c2.8,1,5.2,4.3,5.3,7.3l0.2,6.3   c0.1,3,1.6,7.5,3.3,10l3.5,5.2c1.7,2.5,1.7,6.6,0,9.1l-3.5,5.2c-1.7,2.5-3.2,7-3.3,10l-0.2,6.3c-0.1,3-2.5,6.3-5.3,7.3l-5.9,2.1   c-2.8,1-6.7,3.8-8.5,6.2l-3.9,5c-1.5,1.9-4.2,3.1-6.7,3.1c-0.7,0-1.3-0.1-1.9-0.3l-6-1.7c-1.4-0.4-3.4-0.6-5.3-0.6   s-3.8,0.2-5.3,0.6l-6,1.7c-0.6,0.2-1.3,0.3-1.9,0.3c-2.5,0-5.2-1.2-6.7-3.1l-3.9-5c-1.9-2.4-5.7-5.2-8.5-6.2l-5.9-2.1   c-2.8-1-5.2-4.3-5.3-7.3l-0.2-6.3c-0.1-3-1.6-7.5-3.3-10l-3.5-5.2c-1.7-2.5-1.7-6.6,0-9.1l3.5-5.2c1.7-2.5,3.2-7,3.3-10l0.2-6.3   c0.1-3,2.5-6.3,5.3-7.3l5.9-2.1c2.8-1,6.7-3.8,8.5-6.2l3.9-5c1.5-1.9,4.2-3.1,6.7-3.1c0.7,0,1.3,0.1,1.9,0.3l6,1.7   c1.4,0.4,3.4,0.6,5.3,0.6s3.8-0.2,5.3-0.6l6-1.7C-87.4,339.3-86.7,339.3-86.1,339.3 M-86.1,336.3L-86.1,336.3c-1,0-1.9,0.1-2.8,0.4   l-6,1.7c-1.1,0.3-2.7,0.5-4.4,0.5c-1.7,0-3.3-0.2-4.4-0.5l-6-1.7c-0.9-0.2-1.8-0.4-2.8-0.4c-3.5,0-7.1,1.7-9.1,4.2l-3.9,5   c-1.5,1.9-4.9,4.4-7.2,5.2l-5.9,2.1c-4,1.4-7.2,5.9-7.3,10.1l-0.2,6.3c-0.1,2.5-1.4,6.4-2.7,8.4l-3.5,5.2c-2.4,3.5-2.4,9,0,12.4   l3.5,5.2c1.4,2,2.7,6,2.7,8.4l0.2,6.3c0.1,4.2,3.4,8.6,7.3,10.1l5.9,2.1c2.3,0.8,5.7,3.3,7.2,5.2l3.9,5c2,2.6,5.6,4.2,9.1,4.2   c1,0,1.9-0.1,2.8-0.4l6-1.7c1.1-0.3,2.7-0.5,4.4-0.5c1.7,0,3.3,0.2,4.4,0.5l6,1.7c0.9,0.2,1.8,0.4,2.8,0.4c3.5,0,7.1-1.7,9.1-4.2   l3.9-5c1.5-1.9,4.9-4.4,7.2-5.2l5.9-2.1c4-1.4,7.2-5.9,7.3-10.1l0.2-6.3c0.1-2.5,1.4-6.4,2.7-8.4l3.5-5.2c2.4-3.5,2.4-9,0-12.4   l-3.5-5.2c-1.4-2-2.7-6-2.7-8.4l-0.2-6.3c-0.1-4.2-3.4-8.6-7.3-10.1l-5.9-2.1c-2.3-0.8-5.7-3.3-7.2-5.2l-3.9-5   C-79,337.9-82.6,336.3-86.1,336.3L-86.1,336.3z"></path>
                <path fill="#FFFFFF" d="M-99.2,428.5c-21.9,0-39.7-17.8-39.7-39.7c0-21.9,17.8-39.7,39.7-39.7s39.7,17.8,39.7,39.7   C-59.5,410.7-77.3,428.5-99.2,428.5z M-99.2,352.1c-20.2,0-36.7,16.5-36.7,36.7c0,20.2,16.5,36.7,36.7,36.7s36.7-16.5,36.7-36.7   C-62.5,368.6-79,352.1-99.2,352.1z"></path>
                <g>
                    <path fill="#FFFFFF" d="M-110,408.6h-8.5c-0.8,0-1.4-0.6-1.4-1.4v-22.8c0-0.8,0.6-1.4,1.4-1.4h8.5c0.8,0,1.4,0.6,1.4,1.4v22.8    C-108.6,407.9-109.2,408.6-110,408.6z"></path>
                    <path fill="#FFFFFF" d="M-78.7,386.2c-0.2-1.9-1.9-3.2-3.7-3.2h-12.1c3.3-2.7,5.6-6.3,5.9-9.2c0.2-2.2-1.3-4.3-3.5-4.3    c-2,0-3.6,1.6-3.6,3.5c0,1.3-2.8,5.1-8,6.8l0,0c-1.2,0.4-2,1.6-2,2.9v23.1c0,0.8,0.6,1.4,1.4,1.4h18.4c1.4,0,2.7-1,3-2.4    c0.3-1.8-1.1-3.3-2.8-3.3h1.3c1.4,0,2.7-1,3-2.4c0.3-1.8-1.1-3.3-2.8-3.3h1.3c1.4,0,2.7-1,3-2.4c0.3-1.8-1.1-3.3-2.8-3.3h0.7    C-80.1,390.1-78.5,388.3-78.7,386.2z"></path>
                </g>
            </g>
            </svg>
                                        <h3>Recommendation</h3>
                                        <p>This author has a 100% positive recomendations.</p>
                                    </div>
                                    <div class="badge-single">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-203 297 203.4 200" enable-background="new -203 297 203.4 200" xml:space="preserve" class="svg replaced-svg">
            <path id="XMLID_229_" fill="#ADE2AB" d="M-27.2,347.2L-93,308.4c-1.6-1-4-1.5-6-1.5l0,0c-3,0-4.8,0.5-6.4,1.5l-66.2,38.8  c-3.4,2-6.4,7-6.4,11v20.1V418v17.8c0,4,3,9,6.3,11l66,38.8c1.6,1,3.9,1.5,6.3,1.5s4.6-0.5,6.3-1.5l65.9-38.8c3.4-2,6.2-7,6.2-11  V418v-59.8C-21,354.3-23.8,349.2-27.2,347.2z M-30,418v17.8c0,0.8-0.9,2.9-1.6,3.3l-65.9,38.8c-0.2,0.1-0.8,0.3-1.8,0.3  s-1.7-0.2-1.9-0.3l-65.9-38.8c-0.7-0.4-1.8-2.5-1.8-3.3V418v-39.7v-20.1c0-0.8,1.1-2.9,1.8-3.3l66.1-38.8c0.2-0.1,1-0.3,2-0.3l0,0  c1,0,1.5,0.2,1.7,0.3l65.7,38.8c0.7,0.4,1.6,2.5,1.6,3.3V418z"></path>
            <path id="XMLID_222_" fill="#0674EC" d="M-3.7,401.1c-0.8-1.7-0.8-4.6,0-6.3L2,383c0.6-1.3,0.6-2,0-3s-1.7-1-3-1h-10v-20.8  c0-7.6-4.8-15.8-11.2-19.6l-66-38.8c-3.1-1.8-7-2.8-11.1-2.8c-4,0-8,1-11.1,2.8l-65.7,38.8c-6.5,3.8-10.9,12.1-10.9,19.6V379h-10.5  c-1.3,0-2.4,0-3,1s-0.6,2,0,3.3l5.6,11.7c0.8,1.7,0.8,4.5,0,6.2l-5.7,11.5c-0.6,1.2-0.6,2.7-0.1,3.6c0.6,1,1.7,1.7,3.1,1.7h10.6  v17.8c0,7.6,4.4,15.9,10.8,19.6l65.9,38.8c3.1,1.8,7,2.8,11,2.8s7.9-1,11-2.8l66.1-38.8c6.4-3.8,11.2-12,11.2-19.6V418h9.9  c1.4,0,2.5-0.8,3.1-1.7c0.6-0.9,0.5-2.2-0.1-3.5L-3.7,401.1z M-21,378.3L-21,378.3V418l0,0v17.8c0,4-2.8,9-6.2,11l-66,38.8  c-1.6,1-3.8,1.5-6.2,1.5c-2.4,0-4.6-0.5-6.2-1.5l-66.1-38.8c-3.4-2-6.3-7-6.3-11V418l0,0v-39.7l0,0v-20.1c0-4,3-9,6.3-11l66-38.8  c1.6-1,3.9-1.5,6.3-1.5s4.6,0.5,6.3,1.5l65.9,38.8c3.4,2,6.2,7,6.2,11L-21,378.3L-21,378.3z"></path>
            <path id="XMLID_217_" fill="#FFFFFF" d="M-30,358.2v77.5c0,0.8-0.9,2.9-1.6,3.3l-65.9,38.8c-0.2,0.1-0.8,0.3-1.8,0.3  s-1.7-0.2-1.9-0.3l-65.9-38.8c-0.7-0.4-1.8-2.5-1.8-3.3v-77.5c0-0.8,1.1-2.9,1.8-3.3l66-38.8c0.2-0.1,0.9-0.3,1.9-0.3  s1.7,0.2,1.9,0.3l65.8,38.8C-30.9,355.4-30,357.4-30,358.2z"></path>
            <g id="XMLID_1981_">
                <path id="XMLID_2315_" fill="#39B54A" d="M-74,410.9c-3.7,5.2-9.7,8.6-16.4,8.6h-9.4c-3.3,0-6-2.1-7.1-5.1   c-1.3-0.4-2.6-0.9-3.8-1.5c-2.6-1.3-5-3.2-7.1-5.4c-13.6,3.1-23.8,15.5-23.8,30.4v1.9c0,2.7,2.1,4.8,4.7,4.8h73.4   c2.6,0,4.7-2.2,4.7-4.8v-1.9C-58.8,426.3-64.9,416.3-74,410.9L-74,410.9z"></path>
                <path id="XMLID_1982_" fill="#39B54A" d="M-122.8,397.4c2,0,3.8-1.2,4.7-2.9c0,0.1,0,0.1,0.1,0.2v0.1c2.2,5.8,6.3,10.7,11.9,12.8   c1.3-2.2,3.7-3.6,6.4-3.6h9.4c0.9,0,1.8-0.3,2.6-0.7c1.3-0.7,2.5-2.6,3-3.6c1-1.6,1.7-3.3,2.4-5.1c0.4,0.7,0.9,1.3,1.5,1.8v2.4   c0,5.4-4.3,9.7-9.5,9.7h-9.4c-1.8,0-3.2,1.5-3.2,3.3c0,1.8,1.4,3.3,3.2,3.3h9.4c8.8,0,15.9-7.3,15.9-16.3v-2.4   c1.3-1,2.2-2.6,2.2-4.4v-13.9c0-1.8-0.9-3.5-2.2-4.5c-1.1-13.6-12.2-24.3-25.8-24.3c-13.6,0-24.7,10.7-25.8,24.3   c-1.4,1-2.2,2.6-2.2,4.5v13.8C-128.2,395-125.8,397.4-122.8,397.4L-122.8,397.4z M-100.2,355.9c10,0,18.3,7.8,19.3,17.9   c-0.6,0.5-1.2,1.2-1.5,1.9c-3-8.1-9.9-13.8-17.8-13.8c-8.1,0-14.8,5.9-17.8,13.8l0,0c-0.4-0.8-0.9-1.4-1.5-1.9   C-118.5,363.8-110.3,355.9-100.2,355.9L-100.2,355.9z"></path>
            </g>
            </svg>
                                        <h3>Author Support</h3>
                                        <p>The author offers support for their items.</p>
                                    </div>
                                    <div class="badge-single">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-203 297 203.4 200" enable-background="new -203 297 203.4 200" xml:space="preserve" class="svg replaced-svg">
            <path id="XMLID_29_" fill="#FFFFFF" d="M-30,358.2v77.5c0,0.8-0.9,2.9-1.6,3.3l-65.9,38.8c-0.2,0.1-0.8,0.3-1.8,0.3  s-1.7-0.2-1.9-0.3l-65.9-38.8c-0.7-0.4-1.8-2.5-1.8-3.3v-77.5c0-0.8,1.1-2.9,1.8-3.3l66-38.8c0.2-0.1,0.9-0.3,1.9-0.3  s1.7,0.2,1.9,0.3l65.8,38.8C-30.9,355.4-30,357.4-30,358.2z"></path>
            <path id="XMLID_17_" fill="#0674EC" d="M-3.7,401.1c-0.8-1.7-0.8-4.6,0-6.3L2,383c0.6-1.3,0.6-2.5,0-3.5S0.3,378-1,378h-10v-19.8  c0-7.6-4.8-15.8-11.2-19.6l-66-38.8c-3.1-1.8-7-2.8-11.1-2.8c-4,0-8,1-11.1,2.8l-65.7,38.8c-6.5,3.8-10.9,12.1-10.9,19.6V378h-10.5  c-1.3,0-2.4,0.5-3,1.5s-0.6,2.3,0,3.6l5.7,11.8c0.8,1.7,0.8,4.6,0,6.2l-5.7,11.6c-0.6,1.2-0.6,2.7-0.1,3.6c0.6,1,1.7,1.7,3.1,1.7  h10.5v17.8c0,7.6,4.4,15.9,10.8,19.6l65.9,38.8c3.1,1.8,7,2.8,11,2.8s7.9-1,11-2.8l66.1-38.8c6.4-3.8,11.2-12,11.2-19.6V418h9.9  c1.4,0,2.5-0.8,3.1-1.7c0.6-0.9,0.5-2.3-0.1-3.5L-3.7,401.1z M-21,435.8c0,4-2.8,9-6.2,11l-66,38.8c-1.6,1-3.8,1.5-6.2,1.5  c-2.4,0-4.6-0.5-6.2-1.5l-66.1-38.8c-3.4-2-6.3-7-6.3-11v-77.6c0-4,3-9,6.3-11l66.2-38.8c1.6-1,3.5-1.5,6.5-1.5l0,0  c2,0,4.4,0.5,6.1,1.5l65.9,38.8c2.1,1.2,3.9,3.7,5,6.3c0.7,1.6,1,3.2,1,4.7V435.8z"></path>
            <path id="XMLID_50_" fill="#CCB0D4" d="M-22,353.5c-1.1-2.6-3-5.1-5.1-6.3L-93,308.4c-1.6-1-4-1.5-6-1.5l0,0c-3,0-4.8,0.5-6.4,1.5  l-66.2,38.8c-3.4,2-6.4,7-6.4,11v77.5c0,4,3,9,6.3,11l66,38.8c1.6,1,3.9,1.5,6.3,1.5s4.6-0.5,6.3-1.5l65.9-38.8c3.4-2,6.2-7,6.2-11  v-77.5C-21,356.7-21.3,355.1-22,353.5z M-30,435.8c0,0.8-0.9,2.9-1.6,3.3l-65.9,38.8c-0.2,0.1-0.8,0.3-1.8,0.3s-1.7-0.2-1.9-0.3  l-65.9-38.8c-0.7-0.4-1.8-2.5-1.8-3.3v-77.6c0-0.8,1.1-2.9,1.8-3.3l66.1-38.7c0.2-0.1,1-0.3,2-0.3l0,0c1,0,1.5,0.2,1.7,0.3  l65.7,38.8c0.7,0.4,1.6,2.5,1.6,3.3V435.8z"></path>
            <g>
                <path id="XMLID_808_" fill="#9853A1" d="M-100.6,370.6c0.1,0,0.6,0,0.6,0V340c-1,0-1.2,0.3-1.6,0.7c-13.2,14.2-20.2,34.8-20.5,54.4   c0,0,0,13.3,2.2,20.9c0.6,2.6,1.2,5.6,2.2,7.9c0.3,1,0.9,2.1,2.2,2.1h15.5v-26c0,0-0.4,0-0.6,0c-7.9,0-14.4-6.6-14.4-14.7   C-114.9,377.2-108.5,370.6-100.6,370.6z"></path>
                <path id="XMLID_811_" fill="#9853A1" d="M-112.5,430.8c-2.5,0-4.5,1.9-4.5,4.5v13.5c0,2.6,2,4.5,4.5,4.5s4.5-1.9,4.5-4.5v-13.5   C-108,432.7-110,430.8-112.5,430.8z"></path>
                <path id="XMLID_845_" fill="#9853A1" d="M-100,430.8v27.7c-3,0-4-1.9-4-4.5v-18.7C-104,432.7-103,430.8-100,430.8z"></path>
                <g id="XMLID_869_">
                    <path id="XMLID_921_" fill="#9853A1" d="M-101.2,395c-0.1-0.1-0.1-0.2-0.1-0.4v-1.5c-1-0.1-1.8-0.3-2.5-0.7    c-0.7-0.4-1.2-0.9-1.6-1.4c-0.4-0.6-0.6-1.2-0.6-1.8c0-0.1,0-0.2,0.1-0.3s0.2-0.1,0.3-0.1h1.9c0.2,0,0.3,0,0.4,0.1    s0.2,0.2,0.3,0.3c0.2,0.5,0.5,0.9,1,1.2c0.5,0.3,1.2,0.5,2,0.5c0.9,0,1.7-0.2,2.2-0.5s0.7-0.8,0.7-1.4c0-0.4-0.1-0.7-0.4-0.9    c-0.2-0.3-0.6-0.5-1.1-0.7s-1.2-0.4-2.2-0.7c-1.6-0.4-2.8-0.9-3.6-1.6c-0.8-0.6-1.1-1.6-1.1-2.8c0-1.1,0.4-2,1.2-2.8    c0.8-0.8,1.8-1.2,3.2-1.4v-1.5c0-0.2,0-0.3,0.1-0.4s0.2-0.1,0.3-0.1h1.3c0.2,0,0.3,0,0.4,0.1s0.1,0.2,0.1,0.4v1.5    c0.9,0.1,1.7,0.4,2.3,0.8c0.6,0.4,1.1,0.9,1.5,1.4c0.3,0.5,0.5,1.1,0.5,1.6c0,0.1,0,0.2-0.1,0.3c-0.1,0.1-0.2,0.1-0.3,0.1h-2    c-0.3,0-0.5-0.1-0.6-0.4c-0.1-0.4-0.4-0.8-0.8-1.1c-0.5-0.3-1-0.5-1.7-0.5c-0.8,0-1.3,0.1-1.8,0.4c-0.4,0.3-0.6,0.7-0.6,1.3    c0,0.4,0.1,0.7,0.3,0.9c0.2,0.3,0.6,0.5,1,0.7c0.5,0.2,1.1,0.4,2,0.6c1.2,0.3,2.2,0.6,2.9,0.9c0.7,0.4,1.3,0.8,1.6,1.3    c0.3,0.5,0.5,1.2,0.5,2c0,1.2-0.4,2.2-1.3,3c-0.9,0.8-2,1.2-3.5,1.4v1.5c0,0.2,0,0.3-0.1,0.4c-0.1,0.1-0.2,0.1-0.4,0.1h-1.3    C-101,395.1-101.1,395.1-101.2,395z"></path>
                </g>
                <path id="XMLID_929_" fill="#9853A1" d="M-122.1,418.1c-6,3.5-10.4,8.7-12.9,14.5c-5.7-12.9-0.6-27,10.7-35.4   C-124.3,397.2-124.3,410.5-122.1,418.1z"></path>
            </g>
            <g>
                <path id="XMLID_928_" fill="#7C2A90" d="M-80.7,416.4c-0.3,2.3-0.9,5.2-1.9,7.5c-0.3,1-0.9,2.1-1.6,2.1H-100v-26   c7-0.2,14-6.7,14-14.7s-7-14.5-14-14.7V340c0,0,1,0.2,1.5,0.7c13.2,14.2,20,34.7,20,54.7C-78.4,395.4-78.2,406.1-80.7,416.4z"></path>
                <path id="XMLID_810_" fill="#7C2A90" d="M-87.5,430.8c-2.5,0-3.5,1.9-3.5,4.5v13.5c0,2.6,1,4.5,3.5,4.5s3.5-1.9,3.5-4.5v-13.5   C-84,432.7-85,430.8-87.5,430.8z"></path>
                <path id="XMLID_846_" fill="#7C2A90" d="M-96,435.3V454c0,2.6-2,4.5-4,4.5v-27.7C-98,430.8-96,432.7-96,435.3z"></path>
                <path id="XMLID_931_" fill="#7C2A90" d="M-65.8,433c-2.5-5.8-6.9-10.9-12.9-14.4c2.5-10.4,2.2-21,2.2-21   C-64.5,405.9-60.1,420.1-65.8,433z"></path>
            </g>
            </svg>
                                        <h3>Top Seller</h3>
                                        <p>Had an item become a Monthly Best Sellers.</p>
                                    </div>
                                </div>
                                <!-- ends: .author-rank-badges -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        