    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">Inicio</a>
                            </li>
                            <li>
                                <a href="dashboard.html">Panel</a>
                            </li>
                            <li class="active">
                                <a href="#">Pedidos</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">Pedidos</h1>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START DASHBOARD AREA
    =================================-->
    <section class="dashboard-area">
        
        <app-menu></app-menu>

        <div class="dashboard_contents dashboard_statement_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dashboard_title_area">
                            <div class="dashboard__title pull-left">
                                <h3>Pedidos</h3>
                            </div>
                            <input [(ngModel)]="data" (keyup)="buscar(data)" class="relative-field rounded ng-pristine ng-valid ng-touched" placeholder="Busca tus pedidos" style="width: 30%; margin-left: 40px" type="text">
                            <div class="pull-right">
                                <a *ngIf="IDRol == 3" (click) = "refresh()" style="color: #fff" class="btn btn--md btn--round">Refrescar</a>
                                <a *ngIf="IDRol == 1 || IDRol == 2" (click) = "limpiar()" data-target="#agregarPedido" data-toggle="modal" style="color: #fff" class="btn btn--md btn--round">Agregar</a>
                            </div>
                        </div>
                    </div>
                    <!-- end /.col-md-12 -->
                </div>
                <!-- end /.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="statement_table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr style="text-align: center">
                                        <th>No. Pedido</th>
                                        <th>Codigo Pedido</th>
                                        <th>Estado</th>
                                        <th *ngIf="IDRol == 1">Usuario</th>
                                        <th *ngIf="IDRol == 1">Cambiar Estado</th>
                                        <th *ngIf="IDRol == 1">Eliminar</th>
                                        <th>Factura</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr style="text-align: center" *ngFor="let i of filtroPedidos">
                                        <td>{{i.IDPedido}}</td>
                                        <td>{{i.CodigoPedido}}</td>
                                        <td>
                                            <div class="progress_wrapper">
                                                <div class="with_close">
                                                    <div class="labels clearfix">
                                                        <p>{{getEstado(i.IDEstado)}}</p>
                                                        <span data-width="getPorcentaje(i.IDEstado)">{{getPorcentaje(i.IDEstado)}}%</span>
                                                    </div>
                                                    <div *ngIf="i.IDEstado == 1" class="progress">
                                                        <div style="width: 5%; background: #ff3333 " class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    <div *ngIf="i.IDEstado == 2" class="progress">
                                                        <div style="width: 5%; background: #ff3333 " class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    <div *ngIf="i.IDEstado == 3" class="progress">
                                                        <div style="width: 20%; background: #ff8a33 " class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    <div *ngIf="i.IDEstado == 4" class="progress">
                                                        <div style="width: 40%; background: #ffce33 " class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    <div *ngIf="i.IDEstado == 5" class="progress">
                                                        <div style="width: 60%; background: #1dec65  " class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    <div *ngIf="i.IDEstado == 6" class="progress">
                                                        <div style="width: 80%; background: #1de2ec " class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    <div *ngIf="i.IDEstado == 7" class="progress">
                                                        <div style="width: 100%; background: #1d5cec " class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td *ngIf="IDRol == 1">{{getUsuario(i.IDUsuario)}}</td>
                                        <td *ngIf="IDRol == 1">
                                            <button (click) = "setData(i)" data-target="#cambiarEstado" data-toggle="modal" class="btn btn-sm btn--round btn-primary">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </td>
                                        <td *ngIf="IDRol == 1">
                                            <button (click) = "deletePedido(i.IDPedido)" class="btn btn-sm btn--round btn-primary">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button (click) = "Factura(i.IDPedido)" data-target="#detalleFactura" data-toggle="modal" class="btn btn-sm btn--round btn-primary">
                                                <i class="fas fa-receipt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="pagination-area pagination-area2">
                                <nav class="navigation pagination " role="navigation">
                                    <div class="nav-links">
                                        <a class="prev page-numbers" href="#">
                                            <span class="lnr lnr-arrow-left"></span>
                                        </a>
                                        <a class="page-numbers current" href="#">1</a>
                                        <a class="page-numbers" href="#">2</a>
                                        <a class="page-numbers" href="#">3</a>
                                        <a class="next page-numbers" href="#">
                                            <span class="lnr lnr-arrow-right"></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.dashboard_menu_area -->
    </section>
    <!--================================
            END DASHBOARD AREA
    =================================-->

    <div class="modal fade rating_modal" id="detalleFactura" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="invoice">
                                <div class="invoice__head">
                                    <div class="invoice_logo">
                                        <img src="images/logo.png" alt="">
                                    </div>
    
                                    <div class="info">
                                        <h4>Factura {{CodigoFactura}}</h4>
                                        <p>Pedido # {{IDPedido}}</p>
                                    </div>
                                </div>
                                <!-- end /.invoice__head -->
    
                                <div class="invoice__meta">
                                    <div class="address">
                                        <h5 class="bold">Woomper</h5>
                                        <p>{{Sucursal}}</p>
                                        <p>{{Direccion}}</p>
                                        <p>{{Telefono}}</p>
                                    </div>
    
                                    <div class="date_info">
                                        <p>
                                            <span>Fecha</span>May 05, 2017</p>
                                        <p *ngIf="IDEstado == 1" style="color: #ff3333">
                                            <span>Estado</span>{{getEstado(IDEstado)}}
                                        </p>
                                        <p *ngIf="IDEstado == 2" style="color: #ff3333">
                                            <span>Estado</span>{{getEstado(IDEstado)}}
                                        </p>
                                        <p *ngIf="IDEstado == 3" style="color: #ff8a33">
                                            <span>Estado</span>{{getEstado(IDEstado)}}
                                        </p>
                                        <p *ngIf="IDEstado == 4" style="color: #ffce33">
                                            <span>Estado</span>{{getEstado(IDEstado)}}
                                        </p>
                                        <p *ngIf="IDEstado == 5" style="color: #1dec65">
                                            <span>Estado</span>{{getEstado(IDEstado)}}
                                        </p>
                                        <p *ngIf="IDEstado == 6" style="color: #1de2ec">
                                            <span>Estado</span>{{getEstado(IDEstado)}}
                                        </p>
                                        <p *ngIf="IDEstado == 7" style="color: #1d5cec">
                                            <span>Estado</span>{{getEstado(IDEstado)}}
                                        </p>
                                    </div>
                                </div>
                                <!-- end /.invoice__meta -->
    
                                <div class="invoice__detail">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr style="text-align: center">
                                                    <th>Imagen</th>
                                                    <th>Producto</th>
                                                    <th>Cantidad</th>
                                                    <th>Precio</th>
                                                    <th>SubTotal</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr *ngFor="let i of filtroDetalleFacturas" style="text-align: center" >
                                                    <td>
                                                        <img style="border-radius: 45px" *ngIf="!SinImagen" src="http://localhost:3000/productos/imagen/{{getImagen(i.IDProducto)}}" alt="Sin Imagen" width="80" height="80">
                                                        <img style="border-radius: 45px" *ngIf="SinImagen" src="../../../assets/images/sin-imagen.jpg" alt="Sin Imagen">
                                                    </td>
                                                    <td class="detail">
                                                        <a href="#">{{getProducto(i.IDProducto)}}</a>
                                                    </td>
                                                    <td>{{i.Cantidad}}</td>
                                                    <td>Q{{getPrecio(i.IDProducto)}}</td>
                                                    <td>Q{{i.SubTotal}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
    
                                    <div class="pricing_info">
                                        <p>SubTotal: Q{{SubTotal}}</p>
                                        <p class="bold">Total: Q{{Total}}</p>
                                    </div>
                                </div>
                                <!-- end /.invoice_detail -->
                            </div>
                            <!-- end /.invoice -->
    
    
                        </div>
                        <!-- end /.row -->
                    </div>
                    <div class="col-md-12">
                        <div class="dashboard_setting_btn">
                            <button data-dismiss="modal" type="submit" class="btn btn--round btn--md">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade rating_modal" id="cambiarEstado" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 style="text-align: center" class="modal-title" id="rating_modal"><i class="fas fa-box-open"></i> Cambiar Estado de Pedido</h3>
                    </div>
                    <div class="modal-body">
                        <div class="information_wrapper form--fields">
                            <div class="form-group">
                                <label for="acname">IDPedido
                                    <sup>*</sup>
                                </label>
                                <input disabled="disabled" [(ngModel)] = 'IDPedido' [ngModelOptions]="{standalone: true}" id="acname" placeholder="IDPedido" type="text">
                            </div>
                            <div class="form-group">
                                <label for="country">Estado
                                    <sup>*</sup>
                                </label>
                                <div class="select-wrap select-wrap2">
                                    <select [(ngModel)] = 'IDEstado' [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let i of listaEstados" value="{{i.IDEstado}}">{{i.Estado}}</option>
                                    </select>
                                    <span class="lnr lnr-chevron-down"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="dashboard_setting_btn">
                                <button data-dismiss="modal" (click) = "cambiarEstado()" type="submit" class="btn btn--round btn--md">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>