    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">Inicio</a>
                            </li>
                            <li class="active">
                                <a href="#">FAQs</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">FAQs</h1>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START FAQ AREA
    =================================-->
    <section class="faq_area section--padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="cardify faq_module">
                        <div class="faq-title">
                            <span class="lnr lnr-file-add"></span>
                            <h4>Dudas (10)</h4>
                        </div>

                        <div class="faqs">
                            <div class="panel-group accordion" role="tablist" id="accordion">
                                <div class="panel accordion__single" id="panel-one">
                                    <div class="single_acco_title">
                                        <h4>
                                            <a data-toggle="collapse" href="#collapse1" class="collapsed" aria-expanded="false" data-target="#collapse1" aria-controls="collapse1">
                                                <span>¿Como compro en linea?</span>
                                                <i class="lnr lnr-chevron-down indicator"></i>
                                            </a>
                                        </h4>
                                    </div>

                                    <div id="collapse1" class="panel-collapse collapse" aria-labelledby="panel-one" data-parent="#accordion">
                                        <div class="panel-body">
                                            <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut sceleris
                                                que the mattis, leo quam aliquet congue placerat mi id nisi interdum mollis.
                                                Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                                                apparel, butcher. Nunc placerat mi id nisi interdum mollis. Praesent pharetra,
                                                justo ut sceleris que the mattis, leo quam aliquet congue placerat mi id
                                                nisi interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip
                                                quis cardigan american apparel, butcher .</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end /.accordion -->
                        </div>
                    </div>
                    <!-- end /.cardify -->
                </div>
                <!-- end /.col-md-8 -->

                <div class="col-lg-4">
                    <aside class="sidebar faq--sidebar">
                        <div class="sidebar-card faq--card">
                            <div class="faq-title">
                                <span class="lnr lnr-file-add"></span>
                                <h4>Para Compradores</h4>
                            </div>
                            <div class="collapsible-content">
                                <ul class="card-content">
                                    <li>
                                        <a href="#">
                                            <span></span>¿Como puedo comprar?</a>
                                    </li>
                                </ul>
                                <a routerLink="/tienda" class="btn btn--round btn--sm btn--faq">Tienda</a>
                            </div>
                            <!-- end /.collapsible_content -->
                        </div>
                        <!-- end /.sidebar-card -->

                    </aside>
                    <!-- end /.aside -->
                </div>
                <!-- end /.col-md-4 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
            END FAQ AREA
    =================================-->