    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">Inicio</a>
                            </li>
                            <li class="active">
                                <a href="#">Resistro</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">Registro</h1>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START SIGNUP AREA
    =================================-->
    <section class="signup_area section--padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <form action="#">
                        <div class="cardify signup_form">
                            <div class="login--header">
                                <h3>Crea tu Cuenta</h3>
                                <p>
                                    Porfavor, completa los siguientes campos para crear tu cuenta en Woomper
                                </p>
                            </div>
                            <!-- end .login_header -->

                            <div class="login--form">
                                <div class="form-group">
                                    <label for="user_name">Nombre</label>
                                    <input id="user_name" [(ngModel)] = 'NombreUsuario' [ngModelOptions]="{standalone: true}" type="text" class="text_field" placeholder="Ingresa tu nombre...">
                                </div>

                                <div class="form-group">
                                    <label for="user_name">Apellido</label>
                                    <input id="user_name" [(ngModel)] = 'ApellidoUsuario' [ngModelOptions]="{standalone: true}" type="text" class="text_field" placeholder="Ingresa tu apellido...">
                                </div>

                                <div class="form-group">
                                    <label for="user_name">Direccion</label>
                                    <input id="user_name" [(ngModel)] = 'DireccionUsuario' [ngModelOptions]="{standalone: true}" type="text" class="text_field" placeholder="Ingresa tu direccion...">
                                </div>

                                <div class="form-group">
                                    <label for="user_name">Telefono</label>
                                    <input id="user_name" [(ngModel)] = 'TelefonoUsuario' [ngModelOptions]="{standalone: true}" type="text" class="text_field" placeholder="Ingresa tu telefono...">
                                </div>

                                <div class="form-group">
                                    <label for="user_name">Correo</label>
                                    <input id="user_name" [(ngModel)] = 'CorreoUsuario' [ngModelOptions]="{standalone: true}" type="text" class="text_field" placeholder="Ingresa tu correo...">
                                </div>

                                <div class="form-group">
                                    <label for="user_name">Usuario</label>
                                    <input id="user_name" [(ngModel)] = 'Usuario' [ngModelOptions]="{standalone: true}" type="text" class="text_field" placeholder="Ingresa tu usuario...">
                                </div>

                                <div class="form-group">
                                    <label for="password">Contraseña</label>
                                    <input id="password" [(ngModel)] = 'Contrasena' [ngModelOptions]="{standalone: true}" type="password" class="text_field" placeholder="Ingresa tu contraseña...">
                                </div>

                                <div class="form-group">
                                    <label for="con_pass">Confirmar Contraseña</label>
                                    <input id="con_pass" [(ngModel)] = 'Contrasena2' [ngModelOptions]="{standalone: true}" type="password" class="text_field" placeholder="Confirma tu contraseña">
                                </div>

                                <button data-toggle="modal" data-target="#push-register" (click) = "register()" class="btn btn--md btn--round register_btn" type="submit">Crear Cuenta</button>

                                <div class="login_assist">
                                    <p>¿Ya tienes una cuenta?
                                        <a [routerLink]="['/login']">Iniciar Sesion</a>
                                    </p>
                                </div>
                            </div>
                            <!-- end .login--form -->
                        </div>
                        <!-- end .cardify -->
                    </form>
                </div>
                <!-- end .col-md-6 -->
            </div>
            <!-- end .row -->
        </div>
        <!-- end .container -->
    </section>
    <!--================================
            END SIGNUP AREA
    =================================-->

    <div class="modal fade" id="push-register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content" style="text-align: center;">
                <div *ngIf="Existe == false" role="alert" class="alert alert-success alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="far fa-smile"></i></div>
                    <div class="message"><strong>¡Enhorabuena {{NombreUsuario}}!</strong> Tu cuenta ha sido creada con éxito 
                        <button data-dismiss="modal" (click)="login()" data-toggle="modal" data-target="#push-login" class="btn btn--icon btn-sm btn--round btn-success"><i class="fas fa-user-lock"></i> Verificar Cuenta</button> 
                    </div>
                </div>
                <div *ngIf="Vacio == true" role="alert" class="alert alert-warning alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="fas fa-exclamation-triangle"></i></div>
                    <div class="message"><strong>¡Error!</strong> <br> Completa todos los campos </div>
                </div>
                <div *ngIf="Repetir == false" role="alert" class="alert alert-warning alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="fas fa-exclamation-triangle"></i></div>
                    <div class="message"><strong>¡Error!</strong> <br> Las Contraseñas no coinciden </div>
                </div>
                <div *ngIf="Existe == true" role="alert" class="alert alert-danger alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="far fa-frown"></i></div>
                    <div class="message"><strong>¡Error!</strong> <br> Este nombre de usuario ya esta registrado </div>
                </div>
            </div>
        </div>
    </div>
    
    <div data-dismiss="modal" class="modal fade" id="push-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content" style="text-align: center;">
                <div *ngIf="Fallo == true" role="alert" class="alert alert-danger alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="far fa-frown"></i></div>
                    <div class="message"><strong>¡Error!</strong> Usuario o Contraseña incorrectos</div>
                </div>
                <div *ngIf="Fallo == false" role="alert" class="alert alert-success alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="far fa-smile"></i></div>
                    <div class="message"><strong>¡Bienvenido {{NombreUsuario}}!</strong> <br> Nos alegra tenerte de nuevo con nosotros </div>
                    <button data-dismiss="modal" routerLink="/perfil" class="btn btn--icon btn-sm btn--round btn-success"><i class="fa fa-user"></i> Ir a Perfil</button> 
                </div>
                <div *ngIf="Verificar == true" role="alert" class="alert alert-success alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="far fa-smile"></i></div>
                    <div class="message">
                            <strong>¡Hola {{NombreUsuario}}!</strong> 
                            <br> 
                            Para continuar debes ingresar el codigo de verificacion que hemos enviado a tu correo electronico 
                        </div>
                    <br>
                    <div class="form-group">
                        <input style="text-align: center" id="user_name" [(ngModel)] = 'Codigo' [ngModelOptions]="{standalone: true}" type="text" class="text_field" placeholder="Ingresa el codigo...">
                    </div>
                    <button (click)="verificar()" class="btn btn--icon btn-sm btn--round btn-success"><i class="fas fa-user-lock"></i> Verificar Cuenta</button> 
                </div>
                <div *ngIf="Verificar == false" role="alert" class="alert alert-danger alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="far fa-frown"></i></div>
                    <div class="message"><strong>¡Error!</strong> El codigo es incorrecto</div>
                </div>
                <div *ngIf="Vacio == true" role="alert" class="alert alert-warning alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="fas fa-exclamation-triangle"></i></div>
                    <div class="message"><strong>¡Error!</strong> <br> Completa todos los campos </div>
                </div>
            </div>
        </div>
    </div>