    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">Inicio</a>
                            </li>
                            <li class="active">
                                <a href="#">Caja</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">Caja</h1>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START DASHBOARD AREA
    =================================-->
    <section class="dashboard-area">
        <div class="dashboard_contents">
            <div class="container">
                <form action="#" class="setting_form">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="information_module">
                                <div class="toggle_title">
                                    <h4>Datos Personales </h4>
                                </div>

                                <div class="information__set">
                                    <div class="information_wrapper form--fields">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="first_name">Nombre
                                                        <sup>*</sup>
                                                    </label>
                                                    <input [(ngModel)] = 'NombreUsuario' [ngModelOptions]="{standalone: true}" type="text" id="first_name" class="text_field" placeholder="NombreUsuario" value="Ron">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="last_name">Apellido
                                                        <sup>*</sup>
                                                    </label>
                                                    <input [(ngModel)] = 'ApellidoUsuario' [ngModelOptions]="{standalone: true}" type="text" id="last_name" class="text_field" placeholder="ApellidoUsuario" value="Doe">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end /.row -->

                                        <div class="form-group">
                                            <label for="email1">Correo
                                                <sup>*</sup>
                                            </label>
                                            <input [(ngModel)] = 'CorreoUsuario' [ngModelOptions]="{standalone: true}" type="text" id="email1" class="text_field" placeholder="CorreoUsuario" value="contact@aazztech.com">
                                        </div>

                                        <div class="form-group">
                                            <label for="country1">Pais
                                                <sup>*</sup>
                                            </label>
                                            <div class="select-wrap select-wrap2">
                                                <select name="country" id="country1" class="text_field">
                                                    <option value="">Seleccionar</option>
                                                    <option value="bangladesh">Guatemala</option>
                                                </select>
                                                <span class="lnr lnr-chevron-down"></span>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="address1">Direccion</label>
                                            <input [(ngModel)] = 'DireccionUsuario' [ngModelOptions]="{standalone: true}" type="text" id="address1" class="text_field" placeholder="DireccionUsuario">
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="city">Departamento
                                                        <sup>*</sup>
                                                    </label>
                                                    <div class="select-wrap select-wrap2">
                                                        <select name="city" id="city" class="text_field">
                                                            <option value="">Seleccionar</option>
                                                            <option value="bangladesh">Guatemala</option>
                                                        </select>
                                                        <span class="lnr lnr-chevron-down"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="zipcode">Codigo Postal
                                                        <sup>*</sup>
                                                    </label>
                                                    <input type="text" id="zipcode" class="text_field" placeholder="zip/postal code">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end /.information__set -->
                            </div>
                            <!-- end /.information_module -->
                        </div>
                        <!-- end /.col-md-6 -->

                        <div class="col-lg-6">
                            <div class="information_module order_summary">
                                <div class="toggle_title">
                                    <h4>Recargo por Compra</h4>
                                </div>

                                <ul>
                                    <li class="item">
                                        <a [routerLink]="['/carrito']">SubTotal</a>
                                        <span>Q{{SubTotal}}</span>
                                    </li>
                                    <li>
                                        <p>Recargo del 5%</p>
                                        <span>{{Recargo}}</span>
                                    </li>
                                    <li class="total_ammount">
                                        <p>Total</p>
                                        <span>Q{{Total}}</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.information_module-->

                            <div class="information_module payment_options">
                                <div class="toggle_title">
                                    <h4>Selecciona tu método de pago</h4>
                                </div>

                                <ul>
                                    <li (click)="pago2()">
                                        <div class="custom-radio">
                                            <input type="radio" id="opt1" class="" name="filter_opt">
                                            <label for="opt1">
                                                <span class="circle"></span>Tarjeta de Crédito</label>
                                        </div>
                                        <img src="images/cards.png" alt="Visa Cards">
                                    </li>

                                    <li (click)="pago()">
                                        <div class="custom-radio">
                                            <input type="radio" id="opt2" class="" name="filter_opt">
                                            <label for="opt2">
                                                <span class="circle"></span>Paypal</label>
                                        </div>
                                        <img src="images/paypal.png" alt="Visa Cards">
                                    </li>

                                    <li (click)="pago()" >
                                        <div class="custom-radio">
                                            <input type="radio" id="opt3" class="" name="filter_opt">
                                            <label for="opt3">
                                                <span class="circle"></span>Contra Entrega</label>
                                        </div>
                                        <p>
                                            <span class="bold"></span>
                                        </p>
                                    </li>
                                </ul>

                                <div *ngIf="PagoT == true" class="payment_info modules__content">
                                    <div class="form-group">
                                        <label for="card_number">Número de Tarjeta</label>
                                        <input id="card_number" type="text" class="text_field" placeholder="Ingresa tu número de tarjeta...">
                                    </div>

                                    <!-- lebel for date selection -->
                                    <label for="name">Expiración</label>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <div class="select-wrap select-wrap2">
                                                    <select name="months" id="name">
                                                        <option value="">Mes</option>
                                                        <option value="jan">jan</option>
                                                        <option value="feb">Feb</option>
                                                        <option value="mar">Mar</option>
                                                        <option value="apr">Apr</option>
                                                        <option value="may">May</option>
                                                        <option value="jun">Jun</option>
                                                        <option value="jul">Jul</option>
                                                        <option value="aug">Aug</option>
                                                        <option value="sep">Sep</option>
                                                        <option value="oct">Oct</option>
                                                        <option value="nov">Nov</option>
                                                        <option value="dec">Dec</option>
                                                    </select>
                                                    <span class="lnr lnr-chevron-down"></span>
                                                </div>
                                                <!-- end /.select-wrap -->
                                            </div>
                                            <!-- end /.form-group -->
                                        </div>
                                        <!-- end /.col-md-6-->

                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <div class="select-wrap select-wrap2">
                                                    <select name="years" id="years">
                                                        <option value="">Año</option>
                                                        <option value="28">2028</option>
                                                        <option value="27">2027</option>
                                                        <option value="26">2026</option>
                                                        <option value="25">2025</option>
                                                        <option value="24">2024</option>
                                                        <option value="23">2023</option>
                                                        <option value="22">2022</option>
                                                        <option value="21">2021</option>
                                                        <option value="20">2020</option>
                                                        <option value="19">2019</option>
                                                        <option value="18">2018</option>
                                                        <option value="17">2017</option>
                                                    </select>
                                                    <span class="lnr lnr-chevron-down"></span>
                                                </div>
                                                <!-- end /.select-wrap -->
                                            </div>
                                            <!-- end /.form-group -->
                                        </div>
                                        <!-- end /.col-md-6-->
                                    </div>
                                    <!-- end /.row -->

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="cv_code">CVV</label>
                                                <input id="cv_code" type="text" class="text_field" placeholder="Enter code here...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end /.information_module-->
                            <button data-target="#comprado" data-toggle="modal" (click) = "postPedido()" type="submit" class="btn btn--round btn--default">Confirmar Pedido</button>
                        </div>
                        <!-- end /.col-md-6 -->
                    </div>
                    <!-- end /.row -->
                </form>
                <!-- end /form -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.dashboard_menu_area -->
    </section>
    <!--================================
            END DASHBOARD AREA
    =================================-->

    
    <div class="modal fade rating_modal" id="comprado" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="text-align: center;">
                <div role="alert" class="alert alert-success alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="far fa-smile"></i></div>
                    <div class="message"><strong>EnhoraBuena {{NombreUsuario}}!</strong> <br> Tu compra se a realizado con exito </div>
                    <br/>
                    <button routerLink="/panel/pedidos" data-dismiss="modal" class="btn btn--icon btn-sm btn--round btn-success">
                        <i class="fas fa-shipping-fast"></i> Ver mis Pedidos
                    </button>
                </div>
            </div>
        </div>
    </div>