    <!--================================
    START HERO AREA
=================================-->
<section class="hero-area bgimage">
        <div class="bg_image_holder">
            <img src="assets/images/hero_area_bg1.jpg" alt="background-image">
        </div>
        <!-- start hero-content -->
        <div class="hero-content content_above">
            <!-- start .contact_wrapper -->
            <div class="content-wrapper">
                <!-- start .container -->
                <div class="container">
                    <!-- start row -->
                    <div class="row">
                        <!-- start col-md-12 -->
                        <div class="col-md-12">
                            <div class="hero__content__title">
                                <h1>
                                    <span class="bold">{{APP}}</span>
                                    <span style="font-size: 30px" class="light">¡Elige y Compra!</span>
                                </h1>
                                <p class="tagline">Tus productos favoritos a la puerta de tu casa.</p>
                            </div>

                            <!-- start .hero__btn-area-->
                            <div class="hero__btn-area">
                                <a [routerLink]="['/tienda']" class="btn btn--round btn--lg">IR A LA TIENDA</a>
                            </div>
                            <!-- end .hero__btn-area-->
                        </div>
                        <!-- end /.col-md-12 -->
                    </div>
                    <!-- end /.row -->
                </div>
                <!-- end /.container -->
            </div>
            <!-- end .contact_wrapper -->
        </div>
        <!-- end hero-content -->

        <!--start search-area -->
        <div class="search-area">
            <!-- start .container -->
            <div class="container">
                <!-- start .container -->
                <div class="row">
                    <!-- start .col-sm-12 -->
                    <div class="col-sm-12">
                        <!-- start .search_box -->
                        <div class="search_box">
                            <form action="#">
                                <input type="text" class="text_field" placeholder="Busca tus productos...">
                                <div class="search__select select-wrap">
                                    <select name="category" class="select--field" id="blah">
                                        <option value="">Categorías</option>
                                        <option *ngFor="let i of listaCategorias">{{i.Categoria}}</option>
                                    </select>
                                    <span class="lnr lnr-chevron-down"></span>
                                </div>
                                <button type="submit" class="search-btn btn--lg">Buscar</button>
                            </form>
                        </div>
                        <!-- end ./search_box -->
                    </div>
                    <!-- end /.col-sm-12 -->
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!--start /.search-area -->
    </section>
    <!--================================
    END HERO AREA
=================================-->

    <!--================================
    START FEATURE AREA
=================================-->
    <section class="features section--padding">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <!-- start search-area -->
                <div class="col-lg-4 col-md-6">
                    <div class="feature">
                        <div class="feature__img">
                            <img src="assets/images/feature1.png" alt="feature">
                        </div>
                        <div class="feature__title">
                            <h3>La mejor busqueda</h3>
                        </div>
                        <div class="feature__desc">
                            <p>
                                No te preocupes mas por las busquedas, ahora con {{APP}}, puedes filtrar tus productos
                                por categorias, precio y hasta sucursal.
                            </p>
                        </div>
                    </div>
                    <!-- end /.feature -->
                </div>
                <!-- end /.col-lg-4 col-md-6 -->

                <!-- start search-area -->
                <div class="col-lg-4 col-md-6">
                    <div class="feature">
                        <div class="feature__img">
                            <img src="assets/images/feature2.png" alt="feature">
                        </div>
                        <div class="feature__title">
                            <h3>100% Responsive</h3>
                        </div>
                        <div class="feature__desc">
                            <p>
                                Si tienes tu movil a la mano, basta con que ingreses a nuestra web para poder disfrutar
                                de todos los producto que te ofrece {{APP}}.
                            </p>
                        </div>
                    </div>
                    <!-- end /.feature -->
                </div>
                <!-- end /.col-lg-4 col-md-6 -->

                <!-- start search-area -->
                <div class="col-lg-4 col-md-6">
                    <div class="feature">
                        <div class="feature__img">
                            <img src="assets/images/feature3.png" alt="feature">
                        </div>
                        <div class="feature__title">
                            <h3>Tipo de Pago</h3>
                        </div>
                        <div class="feature__desc">
                            <p>
                                {{APP}} te ofrece una variedad de tipos de pago como Tarjetas de credito o debito, efectivo,
                                trasferencia bancaria y tambien tu tarjeta de puntos.
                            </p>
                        </div>
                    </div>
                    <!-- end /.feature -->
                </div>
                <!-- end /.col-lg-4 col-md-6 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
    END FEATURE AREA
=================================-->

    <!--================================
    START PRODUCTS AREA
=================================-->
    <section class="products section--padding">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <!-- start col-md-12 -->
                <div class="col-md-12">
                    <div class="product-title-area">
                        <div class="product__title">
                            <h2>Nuestros productos más recientes</h2>
                        </div>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->

            <!-- start .row -->
            <div class="row">
                <div *ngFor="let i of filtro" class="col-lg-3 col-md-6">
                    <!-- start .single-product -->
                    <div class="product product--card product--card-small">

                        <div class="product__thumbnail">
                            <img *ngIf="i.Imagen != null" src="http://localhost:3000/productos/imagen/{{i.Imagen}}" alt="Sin Imagen">
                            <img *ngIf="i.Imagen == null" src="../../../assets/images/sin-imagen.jpg" alt="Sin Imagen">
                            <div class="prod_btn">
                                <a (click)="setData(i.IDProducto)" href="" data-dismiss="modal" data-toggle="modal" data-target="#detalles"  class="transparent btn--sm btn--round">Ver Detalles</a>
                            </div>
                            <!-- end /.prod_btn -->
                        </div>
                        <!-- end /.product__thumbnail -->

                        <div class="product-desc">
                            <a href="#" class="product_title">
                                <h4>{{i.Producto}}</h4>
                            </a>
                            <ul class="titlebtm">
                                <li>
                                    <img *ngIf="i.Imagen != null" class="auth-img" src="http://localhost:3000/productos/imagen/{{i.Imagen}}" alt="author image">
                                    <img *ngIf="i.Imagen == null" class="auth-img" src="../../../assets/images/sin-imagen.jpg" alt="author image">
                                    <p>
                                        <a href="#">{{getCategoria(i.IDCategoria)}}</a>
                                    </p>
                                </li>
                                <li class="out_of_class_name">
                                    <div class="sell">
                                        <p>
                                            <span style="color:crimson" *ngIf="i.Cantidad == 0">{{i.Estado}} <i class="fas fa-box-open"></i> {{i.Cantidad}}</span>
                                            <span style="color:limegreen" *ngIf="i.Cantidad != 0">{{i.Estado}} <i class="fas fa-box-open"></i> {{i.Cantidad}}</span>
                                        </p>
                                    </div>
                                    <div class="rating product--rating">
                                        <ul>
                                            <li>
                                                <span class="fa fa-star"></span>
                                            </li>
                                            <li>
                                                <span class="fa fa-star"></span>
                                            </li>
                                            <li>
                                                <span class="fa fa-star"></span>
                                            </li>
                                            <li>
                                                <span class="fa fa-star"></span>
                                            </li>
                                            <li>
                                                <span class="fa fa-star-half-o"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <!-- end /.product-desc -->

                        <div class="product-purchase">
                            <div class="price_love">
                                <span>Q{{i.Precio}}</span>
                            </div>
                            <a data-toggle="modal" data-target="#register" [class]="puntero" (click) = "AgregarAlCarrito(i.IDProducto)">
                                <i class="fas fa-cart-plus"></i> Agregar
                            </a>
                        </div>
                        <!-- end /.product-purchase -->
                    </div>
                    <!-- end /.single-product -->
                </div>
            </div>
            <!-- end /.row -->

            <!-- start .row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="more-product">
                        <a routerLink="/tienda" class="btn btn--lg btn--round">Todos los Productos</a>
                    </div>
                </div>
                <!-- end ./col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
    END PRODUCTS AREA
=================================-->

    <!--================================
    START COUNTER UP AREA
=================================-->
    <section class="counter-up-area bgimage">
        <div class="bg_image_holder">
            <img src="assets/images/countbg.jpg" alt="">
        </div>
        <!-- start .container -->
        <div class="container content_above">
            <!-- start .col-md-12 -->
            <div class="col-md-12">
                <div class="counter-up">
                    <div class="counter mcolor2">
                        <i class="fas fa-box-open fa-6x"></i><br/>
                        <span class="count">{{listaProductos.length}}</span>
                        <p>Productos</p>
                    </div>
                    <div class="counter mcolor1">
                        <i class="fas fa-store fa-6x"></i><br/>
                        <span class="count">{{listaSucursales.length}}</span>
                        <p>Sucursales</p>
                    </div>
                    <div class="counter mcolor3">
                        <i class="fas fa-shipping-fast fa-6x"></i><br/>
                        <span class="count">{{listaCategorias.length}}</span>
                        <p>Categorias</p>
                    </div>
                    <div class="counter mcolor4">
                        <i class="fas fa-users fa-6x"></i><br/>
                        <span class="count">{{listaUsuarios.length}}</span>
                        <p>Usuarios</p>
                    </div>
                </div>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
    END COUNTER UP AREA
=================================-->


    <section class="why_choose section--padding">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <!-- start col-md-12 -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>¿Por qué usar
                            <span class="highlighted">{{APP}}?</span>
                        </h1>
                        <p>
                            Aca algunas caracteristicas del sistema
                        </p>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->

            <!-- start row -->
            <div class="row">
                <!-- start .col-md-4 -->
                <div class="col-lg-4 col-md-6">
                    <!-- start .reason -->
                    <div class="feature2">
                        <span class="feature2__count">01</span>
                        <div class="feature2__content">
                            <span class="pcolor"><i class="fas fa-box-open fa-5x"></i></span>
                            <h3 class="feature2-title pcolor">Productos Confiables</h3>
                            <p>
                                Los mejores productos y de la mejor calidad exclusivamente para ti,
                                encuentra lo que buscas.
                            </p>
                        </div>
                        <!-- end /.feature2__content -->
                    </div>
                    <!-- end /.feature2 -->
                </div>
                <!-- end /.col-md-4 -->

                <!-- start .col-md-4 -->
                <div class="col-lg-4 col-md-6">
                    <!-- start .feature2 -->
                    <div class="feature2">
                        <span class="feature2__count">02</span>
                        <div class="feature2__content">
                            <span class="scolor"><i class="fas fa-shopping-cart fa-5x"></i></span>
                            <h3 class="feature2-title scolor">Carrito de Compras</h3>
                            <p>
                                Lleva un carrito en linea para agregar todos los producto que desees
                                incluir en tu compra.
                            </p>
                        </div>
                        <!-- end /.feature2__content -->
                    </div>
                    <!-- end /.feature2 -->
                </div>
                <!-- end /.col-md-4 -->

                <!-- start .col-md-4 -->
                <div class="col-lg-4 col-md-6">
                    <!-- start .feature2 -->
                    <div class="feature2">
                        <span class="feature2__count">03</span>
                        <div class="feature2__content">
                            <span class="mcolor1"><i class="fas fa-user-lock fa-5x"></i></span>
                            <h3 class="feature2-title mcolor1">Alta Seguridad</h3>
                            <p>
                                Tus datos personales estan altamente protegidos por nuestro sistema,
                                no corres nigun riesgo.
                            </p>
                        </div>
                        <!-- end /.feature2__content -->
                    </div>
                    <!-- end /.feature2 -->
                </div>
                <!-- end /.col-md-4 -->

                <!-- start .col-md-4 -->
                <div class="col-lg-4 col-md-6">
                    <!-- start .feature2 -->
                    <div class="feature2">
                        <span class="feature2__count">04</span>
                        <div class="feature2__content">
                            <span class="mcolor2"><i class="fas fa-shipping-fast fa-5x"></i></span>
                            <h3 class="feature2-title mcolor2">A Dominiclio</h3>
                            <p>
                                Con {{APP}} puedes recibir los productos a la puerta de tu casa
                                sin nigun problema.
                            </p>
                        </div>
                        <!-- end /.feature2__content -->
                    </div>
                    <!-- end /.feature2 -->
                </div>
                <!-- end /.col-md-4 -->

                <!-- start .col-md-4 -->
                <div class="col-lg-4 col-md-6">
                    <!-- start .feature2 -->
                    <div class="feature2">
                        <span class="feature2__count">05</span>
                        <div class="feature2__content">
                            <span class="mcolor3"><i class="fas fa-credit-card fa-5x"></i></span>
                            <h3 class="feature2-title mcolor3">Canjea puntos</h3>
                            <p>
                                Se miembro premiun y disfruta de descuentos, envios gratis y 
                                promociones exclusivas.
                            </p>
                        </div>
                        <!-- end /.feature2__content -->
                    </div>
                    <!-- end /.feature2 -->
                </div>
                <!-- end /.col-md-4 -->

                <!-- start .col-md-4 -->
                <div class="col-lg-4 col-md-6">
                    <!-- start .feature2 -->
                    <div class="feature2">
                        <span class="feature2__count">06</span>
                        <div class="feature2__content">
                            <span class="mcolor4"><i class="fas fa-phone fa-5x"></i></span>
                            <h3 class="feature2-title mcolor4">Soporte Tecnico</h3>
                            <p>
                                Estamos las 24 horas disponibles para ayudarte en cualquier
                                problema que pueda surgirte.
                            </p>
                        </div>
                        <!-- end /.feature2__content -->
                    </div>
                    <!-- end /.feature2 -->
                </div>
                <!-- end /.col-md-4 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
    END COUNTER UP AREA
=================================-->

    <!--================================
    START SELL BUY
=================================-->
    <section class="proposal-area">

        <!-- start container-fluid -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 no-padding">
                    <div class="proposal proposal--left bgimage">
                        <div class="bg_image_holder">
                            <img src="assets/images/bbg.png" alt="prop image">
                        </div>
                        <div class="content_above">
                            <div class="proposal__icon ">
                                <i class="fas fa-lock fa-5x" style="color: #fff"></i>
                            </div>
                            <div class="proposal__content ">
                                <h1 class="text--white">Crea Una Cuenta</h1>
                                <p class="text--white">
                                    Para poder comprar en {{APP}} debes crear una cuenta
                                </p>
                            </div>
                            <a routerLink="/registro" class="btn--round btn btn--lg btn--white">Registrate</a>
                        </div>
                    </div>
                    <!-- end /.proposal -->
                </div>

                <div class="col-md-6 no-padding">
                    <div class="proposal proposal--right">
                        <div class="bg_image_holder">
                            <img src="assets/images/sbg.png" alt="this is magic">
                        </div>
                        <div class="content_above">
                            <div class="proposal__icon">
                                <i class="fas fa-lock-open fa-5x" style="color: #fff"></i>
                            </div>
                            <div class="proposal__content ">
                                <h1 class="text--white">Accede a Tu Cuenta</h1>
                                <p class="text--white">
                                    Si ya tienes una cuenta, ingresa tus datos para acceder.
                                </p>
                            </div>
                            <a routerLink="/login" class="btn--round btn btn--lg btn--white">Acceder</a>
                        </div>
                    </div>
                    <!-- end /.proposal -->
                </div>
            </div>
        </div>
        <!-- start container-fluid -->
    </section>
    <!--================================
    END SELL BUY
=================================-->

    <!--================================
    START TESTIMONIAL
=================================-->
    <section class="testimonial-area section--padding">
        <!-- start .container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <!-- start col-md-12 -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>Comentarios de 
                            <span class="highlighted">Clientes</span>
                        </h1>
                        <p>
                            Lo que nuestros clientes piesan de nosotros
                        </p>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->

            <!-- start row -->
            <div class="row">
                <!-- start .col-md-12 -->
                <div class="col-md-12">
                    <div class="testimonial-slider">
                        <div class="testimonial">
                            <div class="testimonial__about">
                                <div class="avatar v_middle">
                                    <img src="assets/images/test1.jpg" alt="Testimonial Avatar">
                                </div>
                                <div class="name-designation v_middle">
                                    <h4 class="name">Tubeda Pagla</h4>
                                    <span class="desig">Product Designer</span>
                                </div>
                                <span class="lnr lnr-bubble quote-icon"></span>
                            </div>
                            <div class="testimonial__text">
                                <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis,
                                    leo quam aliquet diam congue is the laoreet elit metus. Nunc placerat mi is id nisi interdum
                                    is mollis. Praesent the pharetra, justo ut scelerisque.</p>
                            </div>
                        </div>
                        <!-- end /.testimonial -->

                    </div>
                    <!-- end /.testimonial_slider -->

                    <div class="all-testimonial">
                        <a routerLink="/comentarios" class="btn btn--lg btn--round">Ver Todos</a>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end container -->
    </section>
    <!--================================
    END TESTIMONIAL
=================================-->

    <!--================================
    START CALL TO ACTION AREA
=================================-->
    <section class="call-to-action bgimage">
        <div class="bg_image_holder">
            <img src="assets/images/calltobg.jpg" alt="">
        </div>
        <div class="container content_above">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-wrap">
                        <h1 class="text--white">¿Estas listo para comprar?</h1>
                        <h4 class="text--white">Empieza en {{APP}}.</h4>
                        <a routerLink="/tienda" class="btn btn--lg btn--round btn--white callto-action-btn">Tienda</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================================
    END CALL TO ACTION AREA
=================================-->