    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area breadcrumb--center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page_title">
                        <h3>¿Quienes Somos?</h3>
                        <p>Conoce mas sobre Woomper</p>
                    </div>
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">Inicio</a>
                            </li>
                            <li class="active">
                                <a href="#">Nosotros</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
        START HOW IT WORKS AREA
    =================================-->
    <section class="how_it_works">
        <div class="how_it_works_module">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 v_middle">
                        <div class="area_image">
                            <img src="../../assets/images/vision.png" alt="area images">
                        </div>
                    </div>
                    <!-- end /.col-md-12 -->

                    <div class="col-lg-5 col-md-6 offset-lg-2 v_middle">
                        <div class="area_content">
                            <h2>Vision</h2>
                            <p>
                                Ser el único supermercado en linea que proporcione la mejor atencion tanto en nuestro productos
                                como tambien en nuestros multiples servicios.
                            </p>
                            <a routerLink="/registro" class="btn btn--default btn--white btn--round">Registrate</a>
                        </div>
                    </div>
                    <!-- end /.col-md-12 -->
                </div>
            </div>
        </div>
        <!-- end /.how_it_works_module -->

        <div class="how_it_works_module">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 v_middle">
                        <div class="area_content">
                            <h2>Mision</h2>
                            <p>
                                Alcanzar a nuestros clientes con producto de alta calidad y facilitarle a los mismos
                                entregandolos a la puerta de su casa.
                            </p>
                            <a routerLink="/login" class="btn btn--white btn--default btn--round">Acceder</a>
                        </div>
                    </div>
                    <!-- end /.col-md-12 -->

                    <div class="col-lg-5 col-md-6 v_middle offset-lg-2">
                        <div class="area_image">
                            <img src="../../assets/images/mision.png" alt="area images">
                        </div>
                    </div>
                    <!-- end /.col-md-12 -->
                </div>
            </div>
        </div>
        <!-- end /.how_it_works_module -->

        <div class="how_it_works_module">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 v_middle">
                        <div class="area_image">
                            <img src="../../assets/images/cuentas.png" alt="area images">
                        </div>
                    </div>
                    <!-- end /.col-md-12 -->

                    <div class="col-lg-5 col-md-6 offset-lg-2 v_middle">
                        <div class="area_content">
                            <h2>Propósito</h2>
                            <p>
                                Revolucionar la gestión de compras en nuestro país, haciéndole ver a las personas una
                                nueva manera de realizar sus pagos y por ende adquirir sus productos de manera rápida 
                                y sencilla.
                            </p>
                            <a routerLink="/tienda" class="btn btn--default btn--white btn--round">Tienda</a>
                        </div>
                    </div>
                    <!-- end /.col-md-12 -->
                </div>
            </div>
        </div>
        <!-- end /.how_it_works_module -->

        <div class="how_it_works_module">
            <div class="container">
                <div class="faqs">
                    <div class="panel-group accordion" role="tablist" id="accordion">
                        <div class="panel accordion__single" id="panel-one">
                            <div class="single_acco_title">
                                <h4>
                                    <a data-toggle="collapse" href="#collapse1" class="collapsed" aria-expanded="false" data-target="#collapse1" aria-controls="collapse1">
                                        <span>Objetivos</span>
                                        <i class="lnr lnr-chevron-down indicator"></i>
                                    </a>
                                </h4>
                            </div>
        
                            <div id="collapse1" class="panel-collapse collapse" aria-labelledby="panel-one" data-parent="#accordion">
                                <div class="panel-body">
                                    <p>
                                        <li>1. Facilitar los métodos de compra.</li>
                                        <li>2. Consolidarnos en el mercado web de nuestro país.</li>
                                        <li>3. Generar ingresos.</li>
                                        <li>4. Ofrecer excelentes servicios a cada uno de los clientes.</li>
                                        <li>5. Brindar seguridad a los usuarios sobre su información personal</li>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="faqs">
                    <div class="panel-group accordion" role="tablist" id="accordion">
                        <div class="panel accordion__single" id="panel-one">
                            <div class="single_acco_title">
                                <h4>
                                    <a data-toggle="collapse" href="#collapse2" class="collapsed" aria-expanded="false" data-target="#collapse2" aria-controls="collapse2">
                                        <span>Alcances</span>
                                        <i class="lnr lnr-chevron-down indicator"></i>
                                    </a>
                                </h4>
                            </div>
        
                            <div id="collapse2" class="panel-collapse collapse" aria-labelledby="panel-one" data-parent="#accordion">
                                <div class="panel-body">
                                    <p>
                                        <li>1. Nuestra habilidad de dar soluciones y servicios personalizados al más alto nivel.</li>
                                        <li>2. Ofrecer los mejores productos y al mejor precio.</li>
                                        <li>3. Mantener actualizados nuestros productos y estar al día con lo nuevo.</li>
                                        <li>4. Ser los mejores en compras en línea</li>
                                        <li>5. Llegar a expandirnos internacionalmente</li>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--================================
        END HOW IT WORKS AREA
    =================================-->

    <!--================================
    START CALL TO ACTION AREA
=================================-->
<section class="call-to-action bgimage">
    <div class="bg_image_holder">
        <img src="assets/images/calltobg.jpg" alt="">
    </div>
    <div class="container content_above">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-wrap">
                    <h1 class="text--white">¿Estas listo para comprar?</h1>
                    <h4 class="text--white">Empieza en Woomper.</h4>
                    <a routerLink="/tienda" class="btn btn--lg btn--round btn--white callto-action-btn">Tienda</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================
END CALL TO ACTION AREA
=================================-->