    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">Inicio</a>
                            </li>
                            <li>
                                <a href="dashboard.html">Panel</a>
                            </li>
                            <li class="active">
                                <a href="#">Sucursales</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">Sucursales</h1>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START DASHBOARD AREA
    =================================-->
    <section class="dashboard-area">
        
        <app-menu></app-menu>

        <div class="dashboard_contents dashboard_statement_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dashboard_title_area">
                            <div class="dashboard__title pull-left">
                                <h3>Sucursales</h3>
                            </div>
                            <input [(ngModel)]="data" (keyup)="buscar(data)" class="relative-field rounded ng-pristine ng-valid ng-touched" placeholder="Busca tus sucursales" style="width: 30%; margin-left: 40px" type="text">
                            <div class="pull-right">
                                <a (click) = "limpiar()" data-target="#agregarSucursal" data-toggle="modal" style="color: #fff" class="btn btn--md btn--round">Agregar</a>
                            </div>
                        </div>
                    </div>
                    <!-- end /.col-md-12 -->
                </div>
                <!-- end /.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="statement_table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr style="text-align: center">
                                        <th>IDSucursal</th>
                                        <th>Sucursal</th>
                                        <th>Direccion</th>
                                        <th>Telefono</th>
                                        <th>Ubicacion</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr style="text-align: center" *ngFor="let i of listaSucursales">
                                        <td>{{i.IDSucursal}}</td>
                                        <td>{{i.Sucursal}}</td>
                                        <td>{{i.Direccion}}</td>
                                        <td>{{i.Telefono}}</td>
                                        <td>{{i.Ubicacion}}</td>
                                        <td>
                                            <button (click) = "setData(i)" data-target="#editarSucursal" data-toggle="modal" class="btn btn-sm btn--round btn-primary">
                                                <span class="lnr lnr-cog"></span>
                                            </button>
                                        </td>
                                        <!-- <td class="action">
                                            <a (click) = "setData(i)" data-target="#editarCategoria" data-toggle="modal" >
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <a (click) = "deleteCategorias(i.IDCategoria)" >
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>

                            <div class="pagination-area pagination-area2">
                                <nav class="navigation pagination " role="navigation">
                                    <div class="nav-links">
                                        <a class="prev page-numbers" href="#">
                                            <span class="lnr lnr-arrow-left"></span>
                                        </a>
                                        <a class="page-numbers current" href="#">1</a>
                                        <a class="page-numbers" href="#">2</a>
                                        <a class="page-numbers" href="#">3</a>
                                        <a class="next page-numbers" href="#">
                                            <span class="lnr lnr-arrow-right"></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.dashboard_menu_area -->
    </section>
    <!--================================
            END DASHBOARD AREA
    =================================-->

    <div class="modal fade rating_modal" id="agregarSucursal" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 style="text-align: center" class="modal-title" id="rating_modal"><i class="fas fa-store"></i> Agregar Sucursal</h3>
                </div>
                <div class="modal-body">
                    <div class="information_wrapper form--fields">
                        <div class="form-group">
                            <label for="acname">Sucursal
                                <sup>*</sup>
                            </label>
                            <input [(ngModel)] = 'Sucursal' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Sucursal" type="text">
                        </div>
                        <div class="form-group">
                            <label for="acname">Direccion
                                <sup>*</sup>
                            </label>
                            <input [(ngModel)] = 'Direccion' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Direccion" type="text">
                        </div>
                        <div class="form-group">
                            <label for="acname">Telefono
                                <sup>*</sup>
                            </label>
                            <input [(ngModel)] = 'Telefono' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Telefono" type="text">
                        </div>
                        <div class="form-group">
                            <label for="acname">Ubicacion
                                <sup>*</sup>
                            </label>
                            <input [(ngModel)] = 'Ubicacion' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Ubicacion" type="text">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="dashboard_setting_btn">
                            <button data-dismiss="modal" (click) = "postSucursales()" type="submit" class="btn btn--round btn--md">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade rating_modal" id="editarSucursal" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 style="text-align: center" class="modal-title" id="rating_modal"><i class="fas fa-store"></i> Editar Sucursal</h3>
                </div>
                <div class="modal-body">
                    <div class="information_wrapper form--fields">
                        <div class="form-group">
                            <label for="acname">IDSucursal
                                <sup>*</sup>
                            </label>
                            <input disabled="disabled" [(ngModel)] = 'IDSucursal' [ngModelOptions]="{standalone: true}" id="acname" placeholder="IDSucursal" type="text">
                        </div>
                        <div class="form-group">
                            <label for="acname">Sucursal
                                <sup>*</sup>
                            </label>
                            <input [(ngModel)] = 'Sucursal' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Sucursal" type="text">
                        </div>
                        <div class="form-group">
                            <label for="acname">Direccion
                                <sup>*</sup>
                            </label>
                            <input [(ngModel)] = 'Direccion' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Direccion" type="text">
                        </div>
                        <div class="form-group">
                            <label for="acname">Telefono
                                <sup>*</sup>
                            </label>
                            <input [(ngModel)] = 'Telefono' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Telefono" type="text">
                        </div>
                        <div class="form-group">
                            <label for="acname">Ubicacion
                                <sup>*</sup>
                            </label>
                            <input [(ngModel)] = 'Ubicacion' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Ubicacion" type="text">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="dashboard_setting_btn">
                            <button data-dismiss="modal" (click) = "putSucursales()" type="submit" class="btn btn--round btn--md">Guardar</button>
                            <button data-dismiss="modal" (click) = "deleteSucursales(IDSucursal)" type="submit" class="btn btn--round btn--md">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>