    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">Inicio</a>
                            </li>
                            <li class="active">
                                <a href="#">Carrito</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">Carrito</h1>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START DASHBOARD AREA
    =================================-->
    <section class="cart_area section--padding2 bgcolor">
        <div class="container">
            <div class="row">
                    <div class="col-lg-12">
                            <div class="dashboard_module recent_sells">
                                <div class="dashboard__title">
                                    <h4>Carrtio de Compras</h4>
    
                                    <div class="loading">
                                        <a href="#">
                                            <span class="lnr lnr-sync"></span>
                                        </a>
                                    </div>
                                </div>
    
                                <div class="dashboard__content">
                                    <ul *ngFor="let i of carrito">
                                        <li>
                                            <div class="single_sell">
                                                <div class="single_sell__thumb-title">
                                                    <div class="prod_thumbnail">
                                                        <img *ngIf="i.Imagen != null" src="http://localhost:3000/productos/imagen/{{i.Imagen}}" alt="Sin Imagen">
                                                        <img *ngIf="i.Imagen == null" src="../../../assets/images/sin-imagen.jpg" alt="Sin Imagen">
                                                    </div>
                                                    <div class="prod_title">
                                                        <h4>{{i.Producto}}</h4>
                                                        <div class="category">
                                                            
                                                            <span><i class="fas fa-box-open"></i> {{i.Cantidad}} * <i class="fas fa-coins"></i> Q{{i.Precio}}</span>
                                                        </div>
                                                    </div>
                                                </div>
    
                                                <div class="ammount">
                                                    <p>Q{{i.Cantidad * i.Precio}}</p>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            
                        </div>
            </div>

            <div class="row">
                    <div class="col-md-6 offset-md-6">
                        <div class="cart_calculation">
                            <div class="cart--total">
                                <p>
                                    <span>Total </span>Q{{Total}}</p>
                            </div>

                            <a [routerLink]="['/caja']" class="btn btn--round btn--md checkout_link">Ir a Caja</a>
                        </div>
                    </div>
                    <!-- end .col-md-12 -->
                </div>
            <!-- end .row -->

        </div>
        <!-- end .container -->
    </section>
    <!--================================
            END DASHBOARD AREA
    =================================-->