<div class="menu-area">
    <!-- start .top-menu-area -->
    <div class="top-menu-area">
        <!-- start .container -->
        <div class="container">
            <!-- start .row -->
            <div class="row">
                <!-- start .col-md-3 -->
                <div class="col-lg-3 col-md-3 col-6 v_middle">
                    <div class="logo">
                        <!-- <a href="index.html">
                            <img src="assets/images/logo.png" alt="logo image" class="img-fluid">
                        </a> -->
                        <h1 style="color: #0674ec; font-weight: 900">
                            <img src="../../../assets/images/logo-woomper.png" alt="" width="70">
                            {{APP}}
                        </h1>
                    </div>
                </div>
                <!-- end /.col-md-3 -->

                <!-- start .col-md-5 -->
                <div class="col-lg-8 offset-lg-1 col-md-9 col-6 v_middle">
                    <!-- start .author-area -->
                    <div *ngIf='Acceso == false' class="author-area">
                        <a style="margin: 20px 3px 20px" [routerLink]="['/registro']" class="btn btn--icon btn-sm btn--round btn-primary">Crear una Cuenta</a>
                        <a style="margin: 20px 3px 20px" [routerLink]="['/login']" class="btn btn--icon btn-sm btn--round btn-primary">Iniciar Sesion</a>
                    </div>
                    <div *ngIf="Acceso == true" class="author-area">

                        <div class="author__notification_area">
                            <ul>
                                <li class="has_dropdown">
                                    <div class="icon_wrap">
                                        <span class="lnr lnr-alarm"></span>
                                        <span class="notification_count noti">25</span>
                                    </div>

                                    <div class="dropdown notification--dropdown">

                                        <div class="dropdown_module_header">
                                            <h4>Mis Notificaciones</h4>
                                            <a routerLink="/notificaciones">Ver todas</a>
                                        </div>

                                        <div class="notifications_module">
                                            <div class="notification">
                                                <div class="notification__info">
                                                    <div class="info_avatar">
                                                        <img src="assets/images/notification_head.png" alt="">
                                                    </div>
                                                    <div class="info">
                                                        <p>
                                                            <span>Anderson</span> added to Favourite
                                                            <a href="#">Mccarther Coffee Shop</a>
                                                        </p>
                                                        <p class="time">Just now</p>
                                                    </div>
                                                </div>
                                                <!-- end /.notifications -->

                                                <div class="notification__icons ">
                                                    <span class="lnr lnr-heart loved noti_icon"></span>
                                                </div>
                                                <!-- end /.notifications -->
                                            </div>
                                            <!-- end /.notifications -->

                                            <div class="notification">
                                                <div class="notification__info">
                                                    <div class="info_avatar">
                                                        <img src="assets/images/notification_head2.png" alt="">
                                                    </div>
                                                    <div class="info">
                                                        <p>
                                                            <span>Michael</span> commented on
                                                            <a href="#">MartPlace Extension Bundle</a>
                                                        </p>
                                                        <p class="time">Just now</p>
                                                    </div>
                                                </div>
                                                <!-- end /.notifications -->

                                                <div class="notification__icons ">
                                                    <span class="lnr lnr-bubble commented noti_icon"></span>
                                                </div>
                                                <!-- end /.notifications -->
                                            </div>
                                            <!-- end /.notifications -->

                                            <div class="notification">
                                                <div class="notification__info">
                                                    <div class="info_avatar">
                                                        <img src="assets/images/notification_head3.png" alt="">
                                                    </div>
                                                    <div class="info">
                                                        <p>
                                                            <span>Khamoka </span>purchased
                                                            <a href="#"> Visibility Manager Subscriptions</a>
                                                        </p>
                                                        <p class="time">Just now</p>
                                                    </div>
                                                </div>
                                                <!-- end /.notifications -->

                                                <div class="notification__icons ">
                                                    <span class="lnr lnr-cart purchased noti_icon"></span>
                                                </div>
                                                <!-- end /.notifications -->
                                            </div>
                                            <!-- end /.notifications -->

                                            <div class="notification">
                                                <div class="notification__info">
                                                    <div class="info_avatar">
                                                        <img src="assets/images/notification_head4.png" alt="">
                                                    </div>
                                                    <div class="info">
                                                        <p>
                                                            <span>Anderson</span> added to Favourite
                                                            <a href="#">Mccarther Coffee Shop</a>
                                                        </p>
                                                        <p class="time">Just now</p>
                                                    </div>
                                                </div>
                                                <!-- end /.notifications -->

                                                <div class="notification__icons ">
                                                    <span class="lnr lnr-star reviewed noti_icon"></span>
                                                </div>
                                                <!-- end /.notifications -->
                                            </div>
                                            <!-- end /.notifications -->
                                        </div>
                                        <!-- end /.dropdown -->
                                    </div>
                                </li>

                                <li class="has_dropdown">
                                    <div class="icon_wrap">
                                        <span class="lnr lnr-envelope"></span>
                                        <span class="notification_count msg">6</span>
                                    </div>

                                    <div class="dropdown messaging--dropdown">
                                        <div class="dropdown_module_header">
                                            <h4>Chats</h4>
                                            <a href="message.html">Ver todo</a>
                                        </div>

                                        <div *ngFor="let i of listaFiltroChats" class="messages">
                                            <a data-toggle="modal" data-target="#chat" (click)="chat()" href="message.html" class="message recent">
                                                <div class="message__actions_avatar">
                                                    <div class="avatar">
                                                        <img src="assets/images/notification_head4.png" alt="">
                                                    </div>
                                                </div>
                                                <!-- end /.actions -->

                                                <div class="message_data">
                                                    <div class="name_time">
                                                        <div class="name">
                                                            <p [(ngModel)] = 'Emisor' [ngModelOptions]="{standalone: true}">{{i.Emisor}}</p>
                                                            <span class="lnr lnr-envelope"></span>
                                                        </div>

                                                        <span class="time">Justo ahora</span>
                                                        <p>{{i.Mensaje}}</p>
                                                    </div>
                                                </div>
                                                <!-- end /.message_data -->
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li class="has_dropdown">
                                    <div class="icon_wrap">
                                        <span class="lnr lnr-cart"></span>
                                        <span class="notification_count purch">{{CantCarrito}}</span>
                                    </div>

                                    <div class="dropdown dropdown--cart">
                                        <div *ngIf="CartVacio == false" class="cart_area">
                                            <div *ngFor="let i of carrito; let f = index" class="cart_product">
                                                <div class="product__info">
                                                    <div class="thumbn">
                                                        <img *ngIf="i.Imagen != null" src="http://localhost:3000/productos/imagen/{{i.Imagen}}" alt="Sin Imagen">
                                                        <img *ngIf="i.Imagen == null" src="../../../assets/images/sin-imagen.jpg" alt="Sin Imagen">
                                                    </div>

                                                    <div class="info">
                                                        <a class="title" href="single-product.html">{{i.Producto}}</a>
                                                        <div class="cat">
                                                            <a href="#">
                                                                <i class="fas fa-box-open"></i> {{i.Cantidad}} * <i class="fas fa-coins"></i> Q{{i.Precio}}</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="product__action">
                                                    <a (click)="EliminarItem(f, i.Cantidad, i.Precio, i.Producto)">
                                                        <span class="lnr lnr-trash"></span>
                                                    </a>
                                                    <p>Q{{i.Cantidad * i.Precio}}</p>
                                                </div>
                                            </div>
                                            <div class="total">
                                                <p>
                                                    <span>Total :</span>Q{{Total}}</p>
                                            </div>
                                            <div class="cart_action">
                                                <a class="go_cart" [routerLink]="['/carrito']">Carrito</a>
                                                <a class="go_checkout" [routerLink]="['/caja']">Caja</a>
                                            </div>
                                        </div>
                                        <div *ngIf="CartVacio == true" class="cart_area">
                                                <div *ngFor="let i of carrito; let f = index" class="cart_product">
                                                    <div class="product__info">
                                                        <div class="thumbn">
                                                            <img src="assets/images/capro1.jpg" alt="cart product thumbnail">
                                                        </div>
    
                                                        <div class="info">
                                                            <a class="title" href="single-product.html">{{i.Producto}}</a>
                                                            <div class="cat">
                                                                <a href="#">
                                                                    <i class="fas fa-box-open"></i> {{i.Cantidad}} * <i class="fas fa-coins"></i> Q{{i.Precio}}</a>
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                    <div class="product__action">
                                                        <a (click)="EliminarItem(f, i.Cantidad, i.Precio)">
                                                            <span class="lnr lnr-trash"></span>
                                                        </a>
                                                        <p>Q{{i.Cantidad * i.Precio}}</p>
                                                    </div>
                                                </div>
                                                <div class="total">
                                                    <p>
                                                        <span>El Carrito Se Encuenta Vacio</span></p>
                                                </div>
                                            </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--start .author__notification_area -->

                        <!--start .author-author__info-->
                        <div class="author-author__info inline has_dropdown">
                            <div class="author__avatar">
                                <img *ngIf="Image != null" style="border-radius: 30px" src="http://localhost:3000/usuarios/imagen/{{Image}}" width="50" height="50" alt="user avatar">
                                <img *ngIf="Image == null" style="border-radius: 30px" src="../../../assets/images/usr_avatar.png" width="50" height="50" alt="user avatar">
                            </div>
                            <div class="autor__info">
                                <p class="name">
                                    {{Name}}
                                </p>
                                <p class="ammount">$20.45</p>
                            </div>

                            <div class="dropdown dropdown--author">
                                <ul>
                                    <li>
                                        <a [routerLink]="['/perfil']" (click) = "cerrarmenu()" >
                                        <span class="lnr lnr-user"></span>Perfil</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/panel']" (click) = "cerrarmenu()">
                                        <span class="lnr lnr-cog"></span>Panel</a>
                                    </li>
                                    <li>
                                        <a (click) = "logout()" (click) = "cerrarmenu()" [routerLink]="['/inicio']">
                                        <span class="lnr lnr-exit"></span>Cerrar Sesion</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end /.author-author__info-->
                    </div>
                    <!-- end .author-area -->

                    <!-- author area restructured for mobile -->
                    <div *ngIf="Acceso == false" class="mobile_content ">
                        <div class="text-center">
                            <span (click) = "abrirmenu()" class="lnr lnr-user menu_icon"></span>
                            <!-- offcanvas menu -->
                            <div [class]="menu">
                                <span (click) = "cerrarmenu()" class="lnr lnr-cross close_menu"></span>
                                <br/>
                                <br/>
                                <a style="margin: 5px" [routerLink]="['/registro']" (click) = "cerrarmenu()" class="author-area__seller-btn inline">Crear una Cuenta</a>
                                <a [routerLink]="['/login']" (click) = "cerrarmenu()" class="author-area__seller-btn inline">Iniciar Sesion</a>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="Acceso == true" class="mobile_content ">
                        <span (click) = "abrirmenu()" class="lnr lnr-user menu_icon"></span>

                        <!-- offcanvas menu -->
                        <div [class]="menu">
                            <span (click) = "cerrarmenu()" class="lnr lnr-cross close_menu"></span>
                            <div class="author-author__info">
                                <div class="author__avatar v_middle">
                                    <img src="assets/images/usr_avatar.png" alt="user avatar">
                                </div>
                                <div class="autor__info v_middle">
                                    <p class="name">
                                        {{Name}}
                                    </p>
                                    <p class="ammount">$20.45</p>
                                </div>
                            </div>
                            <!--end /.author-author__info-->

                            <div class="author__notification_area">
                                <ul>
                                    <li>
                                        <a href="notification.html">
                                            <div class="icon_wrap">
                                                <span class="lnr lnr-alarm"></span>
                                                <span class="notification_count noti">25</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="message.html">
                                            <div class="icon_wrap">
                                                <span class="lnr lnr-envelope"></span>
                                                <span class="notification_count msg">6</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a [routerLink]="['/carrito']">
                                            <div class="icon_wrap">
                                                <span class="lnr lnr-cart"></span>
                                                <span class="notification_count purch">{{CantCarrito}}</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--start .author__notification_area -->

                            <div class="dropdown dropdown--author">
                                <ul>
                                    <li>
                                        <a (click) = "cerrarmenu()" [routerLink]="['/perfil']">
                                        <span class="lnr lnr-user"></span>Perfil</a>
                                    </li>
                                    <li>
                                        <a (click) = "cerrarmenu()" [routerLink]="['/panel']">
                                        <span class="lnr lnr-cog"></span>Panel</a>
                                    </li>
                                    <li>
                                        <a (click) = "cerrarmenu()" (click) = "logout()" [routerLink]="['/inicio']">
                                        <span class="lnr lnr-exit"></span>Cerrar Sesion</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- end /.mobile_content -->
                </div>
                <!-- end /.col-md-5 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </div>
    <!-- end  -->

    <!-- start .mainmenu_area -->
    <div class="mainmenu">
        <!-- start .container -->
        <div class="container">
            <!-- start .row-->
            <div class="row">
                <!-- start .col-md-12 -->
                <div class="col-md-12">
                    <div class="navbar-header">
                        <!-- start mainmenu__search -->
                        <div class="mainmenu__search">
                            <form action="#">
                                <div class="searc-wrap">
                                    <input [(ngModel)]="data" [ngModelOptions]="{standalone: true}" type="text" placeholder="Buscar">
                                    <button (click)="buscar(data)" type="submit" class="search-wrap__btn">
                                        <span class="lnr lnr-magnifier"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!-- start mainmenu__search -->
                    </div>

                    <nav class="navbar navbar-expand-md navbar-light mainmenu__menu">
                        <button *ngIf="abierto == false" (click) = "abrirmenu2()" class="navbar-toggler" type="button">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <button *ngIf="abierto == true" (click) = "cerrarmenu2()" class="navbar-toggler" type="button">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div [class]="menu2" id="navbarNav">
                            <ul class="navbar-nav">
                                <li><a [routerLink]="['/']" (click) = "cerrarmenu2()">Inicio</a></li>
                                <li><a [routerLink]="['/tienda']" (click) = "cerrarmenu2()">Tienda</a></li>
                                <li><a [routerLink]="['/faqs']" (click) = "cerrarmenu2()">FAQ's</a></li>
                                <li><a [routerLink]="['/nosotros']" (click) = "cerrarmenu2()">Nosotros</a></li>
                                <li><a [routerLink]="['/ayuda']" (click) = "cerrarmenu2()">Ayuda</a></li>
                                <li><a [routerLink]="['/contacto']" (click) = "cerrarmenu2()">Contacto</a></li>
                                <!-- <li class="has_dropdown">
                                    <a href="index.html">Inicio</a>
                                    <div class="dropdown dropdown--menu">
                                        <ul>
                                            <li>
                                                <a href="index.html">Home Multi Vendor</a>
                                            </li>
                                            <li>
                                                <a href="index-single.html">Home Two Single User</a>
                                            </li>
                                            <li>
                                                <a href="index3.html">Home Three Product</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row-->
        </div>
        <!-- start .container -->
    </div>
    <!-- end /.mainmenu-->
</div>

<div class="modal fade" id="chat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content" style="text-align: center;">
                <div class="row">
                    <div class="forum_detail_area ">
                        <div class="cardify forum--issue">
                            <div class="title_vote clearfix">
                                <h3>Hola {{NombreUsuario}} Chatea con {{Emisor}}</h3>
                            </div>
                            <div class="suppot_query_tag">
                                <a href="#" class="user"> Soporte Tecnico </a>
                                <span>conectado</span>
                                <span class="support_tag">Adminstrador</span>
                            </div>
                            
                            <div *ngFor="let i of listaFiltroChats">
                                <p *ngIf="i.Emisor == 1" style="text-align: left">{{i.Mensaje}}</p>
                                <p *ngIf="i.Emisor != 1" style="text-align: right">{{i.Mensaje}}</p>
                            </div>

                            <div class="media comment-form">
                                <div class="media-left">
                                    <a href="#">
                                        <img alt="" class="media-object" style="border-radius: 30px; margin-right: 3px" src="http://localhost:3000/usuarios/imagen/Fondo.png" width="50">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <form action="#" class="comment-reply-form ng-untouched ng-pristine ng-valid" novalidate="">
                                        <textarea [(ngModel)] = 'Mensaje' [ngModelOptions]="{standalone: true}" name="reply-comment" placeholder="Escribe tu mensaje..." ng-reflect-name="reply-comment" ng-reflect-options="[object Object]" class="ng-untouched ng-pristine ng-valid"></textarea>
                                        <button (click)="postChats()" class="btn btn--sm btn--round">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  