<section class="search-wrapper">
  <div class="search-area2 bgimage">
    <div class="bg_image_holder">
      <img alt="" src="assets/images/search.jpg">
    </div><div class="container content_above">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="search">
            <div class="search__title">
              <h3> Woomper posee un <span>Manual de Usuario</span> para solventar todas tus dudas </h3>
            </div>
            <div class="search__field">
              <form action="#" novalidate="" class="ng-untouched ng-pristine ng-valid">
                <div class="field-wrapper">
                  <input [(ngModel)]="data" (keyup)="buscar()" [ngModelOptions]="{standalone: true}" class="relative-field rounded ng-untouched ng-pristine ng-valid" placeholder="Busca tu duda" type="text">
                  <button (click)="buscar(data)" class="btn btn--round" type="submit">Buscar</button>
                </div>
              </form>
            </div>
            <div class="breadcrumb">
              <ul>
                <li><a href="#">Inicio</a></li>
                <li class="active"><a href="#">Ayuda</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="products">
    <!-- start container -->
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="product product--card">

                    <div class="product__thumbnail">
                        <img src="../../../assets/images/ayuda/registro.png" height="200" alt="Product Image">
                        <div class="prod_btn">
                            <a href="" data-toggle="modal" data-target="#detalles1" class="transparent btn--sm btn--round">Detalles</a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <a href="#" class="product_title">
                            <h4>¿Cómo crear mi cuenta?</h4>
                        </a>
                        <p>
                          Regístrate en Woomper fácilmente para poder realizar
                          tus compras de la mejor manera.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="product product--card">

                    <div class="product__thumbnail">
                        <img src="../../../assets/images/ayuda/verificacion.png" height="200" alt="Product Image">
                        <div class="prod_btn">
                            <a href="" data-toggle="modal" data-target="#detalles2" class="transparent btn--sm btn--round">Detalles</a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <a href="#" class="product_title">
                            <h4>¿Cómo verificar mi cuenta?</h4>
                        </a>
                        <p>
                          Woomper necesita una validación vía correo electrónico para 
                          poder verificar tu cuenta.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="product product--card">

                    <div class="product__thumbnail">
                        <img src="../../../assets/images/ayuda/editar-perfil.png" height="200" alt="Product Image">
                        <div class="prod_btn">
                            <a href="" data-toggle="modal" data-target="#detalles3" class="transparent btn--sm btn--round">Detalles</a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <a href="#" class="product_title">
                            <h4>¿Cómo editar mi perfil?</h4>
                        </a>
                        <p>
                          Actualiza cualquier dato de tu perfil para una mejor
                          experiencia en Woomper.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="product product--card">

                    <div class="product__thumbnail">
                        <img src="../../../assets/images/ayuda/cambiar-pass.png" height="200" alt="Product Image">
                        <div class="prod_btn">
                            <a href="" data-toggle="modal" data-target="#detalles4" class="transparent btn--sm btn--round">Detalles</a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <a href="#" class="product_title">
                            <h4>¿Cómo cambiar mi contraseña?</h4>
                        </a>
                        <p>
                          Por tu seguridad aprende como cambiar tu contraseña de
                          forma correcta.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="product product--card">

                    <div class="product__thumbnail">
                        <img src="../../../assets/images/ayuda/como-comprar.png" height="200" alt="Product Image">
                        <div class="prod_btn">
                            <a href="" data-toggle="modal" data-target="#detalles5" class="transparent btn--sm btn--round">Detalles</a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <a href="#" class="product_title">
                            <h4>¿Cómo realizar una compra?</h4>
                        </a>
                        <p>
                          Aprende a usar compras Woomper y a realizar de forma correcta
                          todos tus pedidos.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end /.container -->
</section>

<div class="modal fade" id="detalles1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content" style="text-align: center;">
            <div class="col-lg-12">
              <br>
                <div class="single_blog blog--default">
                    <article>
                        <figure>
                            <img src="../../../assets/images/ayuda/registro.png" alt="Blog image">
                        </figure>
                        <div class="blog__content">
                            <a href="#" class="blog__title">
                                <h4>¿Cómo crear mi cuenta?</h4>
                            </a>
                        </div>

                        <div class="single_blog_content">
                            <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis,
                                leo quam aliquet congue. incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in henderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. Excepteur sint occaecat sunt in culpa qui officia sunt in culpa qui officia.
                            </p>
                        </div>
                        <iframe width="500" height="290" src="https://www.youtube.com/embed/_clBd42scKU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </article>
                </div>  
            </div>
        </div>
    </div>
</div>  

<div class="modal fade" id="detalles2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content" style="text-align: center;">
            <div class="col-lg-12">
                <br>
                <div class="single_blog blog--default">
                    <article>
                        <figure>
                            <img src="../../../assets/images/ayuda/verificacion.png" alt="Blog image">
                        </figure>
                        <div class="blog__content">
                            <a href="#" class="blog__title">
                                <h4>¿Cómo verificar mi cuenta?</h4>
                            </a>
                        </div>

                        <div class="single_blog_content">
                            <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis,
                                leo quam aliquet congue. incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in henderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. Excepteur sint occaecat sunt in culpa qui officia sunt in culpa qui officia.
                            </p>
                        </div>
                        <iframe width="500" height="290" src="https://www.youtube.com/embed/_clBd42scKU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </article>
                </div>  
            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="detalles3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content" style="text-align: center;">
            <div class="col-lg-12">
                <br>
                <div class="single_blog blog--default">
                    <article>
                        <figure>
                            <img src="../../../assets/images/ayuda/editar-perfil.png" alt="Blog image">
                        </figure>
                        <div class="blog__content">
                            <a href="#" class="blog__title">
                                <h4>¿Cómo editar mi perfil?</h4>
                            </a>
                        </div>

                        <div class="single_blog_content">
                            <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis,
                                leo quam aliquet congue. incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in henderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. Excepteur sint occaecat sunt in culpa qui officia sunt in culpa qui officia.
                            </p>
                        </div>
                        <iframe width="500" height="290" src="https://www.youtube.com/embed/_clBd42scKU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </article>
                </div>  
            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="detalles4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content" style="text-align: center;">
            <div class="col-lg-12">
                <br>
                <div class="single_blog blog--default">
                    <article>
                        <figure>
                            <img src="../../../assets/images/ayuda/cambiar-pass.png" alt="Blog image">
                        </figure>
                        <div class="blog__content">
                            <a href="#" class="blog__title">
                                <h4>¿Cómo cambiar mi contraseña?</h4>
                            </a>
                        </div>

                        <div class="single_blog_content">
                            <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis,
                                leo quam aliquet congue. incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in henderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. Excepteur sint occaecat sunt in culpa qui officia sunt in culpa qui officia.
                            </p>
                        </div>
                        <iframe width="500" height="290" src="https://www.youtube.com/embed/_clBd42scKU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </article>
                </div>  
            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="detalles5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content" style="text-align: center;">
            <div class="col-lg-12">
                <br>
                <div class="single_blog blog--default">
                    <article>
                        <figure>
                            <img src="../../../assets/images/ayuda/como-comprar.png" alt="Blog image">
                        </figure>
                        <div class="blog__content">
                            <a href="#" class="blog__title">
                                <h4>¿Cómo realizar una compra?</h4>
                            </a>
                        </div>

                        <div class="single_blog_content">
                            <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis,
                                leo quam aliquet congue. incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in henderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur. Excepteur sint occaecat sunt in culpa qui officia sunt in culpa qui officia.
                            </p>
                        </div>
                        <iframe width="500" height="290" src="https://www.youtube.com/embed/_clBd42scKU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </article>
                </div>  
            </div>
        </div>
    </div>
</div> 