    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">Inicio</a>
                            </li>
                            <li>
                                <a href="dashboard.html">Panel</a>
                            </li>
                            <li class="active">
                                <a href="#">Categorias</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">Categorias</h1>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START DASHBOARD AREA
    =================================-->
    <section class="dashboard-area">
        
        <app-menu></app-menu>

        <div class="dashboard_contents dashboard_statement_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="dashboard_title_area">
                            <div class="dashboard__title pull-left">
                                <h3>Categorias</h3>
                            </div>
                            <input [(ngModel)]="data" (keyup)="buscar(data)" class="relative-field rounded ng-pristine ng-valid ng-touched" placeholder="Busca tus categorias" style="width: 30%; margin-left: 40px" type="text">
                            <div class="pull-right">
                                <a (click) = "limpiar()" data-target="#agregarCategoria" data-toggle="modal" style="color: #fff" class="btn btn--md btn--round">Agregar</a>
                            </div>
                        </div>
                    </div>
                    <!-- end /.col-md-12 -->
                </div>
                <!-- end /.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="statement_table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr style="text-align: center">
                                        <th>IDCategoria</th>
                                        <th>Categoria</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr style="text-align: center" *ngFor="let i of listaCategorias">
                                        <td>{{i.IDCategoria}}</td>
                                        <td>{{i.Categoria}}</td>
                                        <td>
                                            <button (click) = "setData(i)" data-target="#editarCategoria" data-toggle="modal" class="btn btn-sm btn--round btn-primary">
                                                <span class="lnr lnr-cog"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="pagination-area pagination-area2">
                                <nav class="navigation pagination " role="navigation">
                                    <div class="nav-links">
                                        <a class="prev page-numbers" href="#">
                                            <span class="lnr lnr-arrow-left"></span>
                                        </a>
                                        <a class="page-numbers current" href="#">1</a>
                                        <a class="page-numbers" href="#">2</a>
                                        <a class="page-numbers" href="#">3</a>
                                        <a class="next page-numbers" href="#">
                                            <span class="lnr lnr-arrow-right"></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.dashboard_menu_area -->
    </section>
    <!--================================
            END DASHBOARD AREA
    =================================-->

    <div class="modal fade rating_modal" id="agregarCategoria" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 style="text-align: center" class="modal-title" id="rating_modal"><i class="fas fa-th-large"></i> Agregar Categoria</h3>
                </div>
                <div class="modal-body">
                    <div class="information_wrapper form--fields">
                        <div class="form-group">
                            <label for="acname">Categoria
                                <sup>*</sup>
                            </label>
                            <input [(ngModel)] = 'Categoria' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Categoria" type="text">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="dashboard_setting_btn">
                            <button data-dismiss="modal" (click) = "postCategorias()" type="submit" class="btn btn--round btn--md">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade rating_modal" id="editarCategoria" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 style="text-align: center" class="modal-title" id="rating_modal"><i class="fas fa-th-large"></i> Editar Categoria</h3>
                </div>
                <div class="modal-body">
                    <div class="information_wrapper form--fields">
                        <div class="form-group">
                            <label for="acname">IDCategoria
                                <sup>*</sup>
                            </label>
                            <input disabled="disabled" [(ngModel)] = 'IDCategoria' [ngModelOptions]="{standalone: true}" id="acname" placeholder="IDCategoria" type="text">
                        </div>
                        <div class="form-group">
                            <label for="acname">Categoria
                                <sup>*</sup>
                            </label>
                            <input [(ngModel)] = 'Categoria' [ngModelOptions]="{standalone: true}" id="acname" placeholder="Categoria" type="text">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="dashboard_setting_btn">
                            <button data-dismiss="modal" (click) = "putCategorias()" type="submit" class="btn btn--round btn--md">Guardar</button>
                            <button data-dismiss="modal" (click) = "deleteCategorias(IDCategoria)" type="submit" class="btn btn--round btn--md">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>