    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">Inicio</a>
                            </li>
                            <li class="active">
                                <a href="dashboard.html">Panel</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">Panel</h1>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START DASHBOARD AREA
    =================================-->
    <section class="dashboard-area">

        <app-menu></app-menu>

        <div class="dashboard_contents">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="author-info author-info--dashboard mcolorbg4">
                            <p>Usuarios</p>
                            <h3>{{listaUsuarios.length}}</h3>
                        </div>
                    </div>
                    <!-- end /.col-md-3 -->

                    <div class="col-lg-3 col-md-6">
                        <div class="author-info author-info--dashboard mcolorbg2">
                            <p>Sucursales</p>
                            <h3>{{listaSucursales.length}}</h3>
                        </div>
                    </div>
                    <!-- end /.col-md-3 -->

                    <div class="col-lg-3 col-md-6">
                        <div class="author-info author-info--dashboard mcolorbg3">
                            <p>Productos</p>
                            <h3>{{listaProductos.length}}</h3>
                        </div>
                    </div>
                    <!-- end /.col-md-3 -->

                    <div class="col-lg-3 col-md-6">
                        <div class="author-info author-info--dashboard mcolorbg1">
                            <p>Pedidos</p>
                            <h3>{{listaPedidos.length}}</h3>
                        </div>
                    </div>
                    <!-- end /.col-md-3 -->
                </div>
                <!-- end /.row -->

                <div class="row">

                    <div class="col-lg-8">
                        <div class="dashboard_module recent_sells">
                            <div class="dashboard__title">
                                <h4>Productos Recientes</h4>

                                <div class="loading">
                                    <a href="#">
                                        <span class="lnr lnr-sync"></span>
                                    </a>
                                </div>
                            </div>

                            <div class="dashboard__content">
                                <ul>
                                    <li *ngFor="let i of listaProductosRecientes">
                                        <div class="single_sell">
                                            <div class="single_sell__thumb-title">
                                                <div class="prod_thumbnail">
                                                    <img *ngIf="i.Imagen != null" src="http://localhost:3000/productos/imagen/{{i.Imagen}}" alt="Sin Imagen">
                                                    <img *ngIf="i.Imagen == null" src="../../../../assets/images/sin-imagen.jpg" alt="Sin Imagen">
                                                </div>
                                                <div class="prod_title">
                                                    <h4>{{i.Producto}}</h4>
                                                    <div class="category">
                                                        <img *ngIf="i.Imagen != null" src="http://localhost:3000/productos/imagen/{{i.Imagen}}" width="20" alt="category">
                                                        <img *ngIf="i.Imagen == null" src="../../../../assets/images/sin-imagen.jpg" width="20" alt="category">
                                                        <span>{{getCategoria(IDCategoria)}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="ammount">
                                                <p>Q{{i.Precio}}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end /.dashboard_module -->
                    </div>
                    <!-- end /.col-md-8 -->


                    <div class="col-lg-4">
                        <div class="dashboard_module recent_buyers">
                            <div class="dashboard__title">
                                <h4>Clientes Recientes</h4>
                                <div class="loading">
                                    <a href="#">
                                        <span class="lnr lnr-sync"></span>
                                    </a>
                                </div>
                            </div>

                            <div class="dashboard__content">
                                <ul>
                                    <li *ngFor="let i of listaUsuariosRecientes">
                                        <div class="single_buyer">
                                            <div class="buyer__thumb_title">
                                                <div class="thumb">
                                                    <img *ngIf="i.Imagen != null" src="http://localhost:3000/usuarios/imagen/{{i.Imagen}}" width="55" alt="Buyer Images">
                                                    <img *ngIf="i.Imagen == null" src="../../../../assets/images/sin-imagen.jpg" width="55" alt="Buyer Images">
                                                </div>
                                                <div class="title">
                                                    <h4>{{i.NombreUsuario}}</h4>
                                                    <p>{{i.CorreoUsuario}}</p>
                                                </div>
                                            </div>

                                            <div class="price">
                                                <p>{{getRol(i.IDRol)}}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end /.col-md-4 -->

                    <div class="col-lg-6">
                        <div class="dashboard_module recent_comment">
                            <div class="dashboard__title">
                                <h4>Recent Comments</h4>
                            </div>

                            <div class="dashboard__content">
                                <div class="thread">
                                    <ul class="media-list thread-list">
                                        <li class="single-thread">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" src="assets/images/m1.png" alt="Commentator Avatar">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        <div class="media-heading">
                                                            <a href="author.html">
                                                                <h4>Themexylum</h4>
                                                            </a>
                                                            <span>9 Hours Ago</span>
                                                        </div>
                                                        <span class="comment-tag buyer">Purchased</span>
                                                        <a href="#" class="reply-link">Reply</a>
                                                    </div>
                                                    <p>Nunc placerat mi id nisi interdum mollis. Praesent there pharetra, justo
                                                        ut sceleris que the mattis.</p>
                                                </div>
                                            </div>

                                            <!-- comment reply -->
                                            <div class="media depth-2 reply-comment">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" src="assets/images/m2.png" alt="Commentator Avatar">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <form action="#" class="comment-reply-form">
                                                        <textarea class="bla" name="reply-comment" placeholder="Write your comment..."></textarea>
                                                        <button class="btn btn--md btn--round">Post Comment</button>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- comment reply -->
                                        </li>
                                        <!-- end single comment thread /.comment-->

                                        <li class="single-thread">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" src="assets/images/m3.png" alt="Commentator Avatar">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        <div class="media-heading">
                                                            <a href="author.html">
                                                                <h4>Fierce Coder</h4>
                                                            </a>
                                                            <span>9 Hours Ago</span>
                                                        </div>
                                                        <a href="#" class="reply-link">Reply</a>
                                                    </div>
                                                    <p>Nunc placerat mi id nisi interdum mollis. Praesent phare tra, justo ut
                                                        sceleris que the mattis, leo quam.</p>
                                                </div>
                                            </div>

                                            <!-- comment reply -->
                                            <div class="media depth-2 reply-comment">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" src="assets/images/m2.png" alt="Commentator Avatar">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <form action="#" class="comment-reply-form">
                                                        <textarea name="reply-comment" placeholder="Write your comment..."></textarea>
                                                        <button class="btn btn--sm btn--round">Post Comment</button>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- comment reply -->
                                        </li>
                                        <!-- end single comment thread /.comment-->
                                    </ul>
                                    <!-- end /.media-list -->
                                </div>
                                <!-- end /.comments -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="dashboard_module recent_message">
                            <div class="dashboard__title">
                                <h4>Recent Message</h4>
                                <div class="loading">
                                    <a href="#">View All</a>
                                </div>
                            </div>

                            <div class="dashboard__content">
                                <div class="messages">
                                    <div class="message">
                                        <div class="message__actions_avatar">
                                            <div class="actions">
                                                <span class="fa fa-star"></span>
                                                <div class="custom_checkbox">
                                                    <input type="checkbox" id="ch1">
                                                    <label for="ch1">
                                                        <span class="shadow_checkbox"></span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="avatar">
                                                <img src="assets/images/notification_head4.png" alt="">
                                            </div>
                                        </div>
                                        <!-- end /.actions -->

                                        <div class="message_data">
                                            <div class="name_time">
                                                <div class="name">
                                                    <p>NukeThemes</p>
                                                    <span class="lnr lnr-envelope"></span>
                                                </div>

                                                <span class="time">Just now</span>
                                                <p>Hello John Smith! Nunc placerat mi ...</p>
                                            </div>
                                        </div>
                                        <!-- end /.message_data -->
                                    </div>
                                    <!-- end /.message -->

                                    <div class="message">
                                        <div class="message__actions_avatar">
                                            <div class="actions">
                                                <span class="fa fa-star-o"></span>
                                                <div class="custom_checkbox">
                                                    <input type="checkbox" id="ch2">
                                                    <label for="ch2">
                                                        <span class="shadow_checkbox"></span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="avatar">
                                                <img src="assets/images/notification_head5.png" alt="">
                                            </div>
                                        </div>
                                        <!-- end /.actions -->

                                        <div class="message_data">
                                            <div class="name_time">
                                                <div class="name">
                                                    <p>Crazy Coder</p>
                                                    <span class="lnr lnr-envelope"></span>
                                                </div>

                                                <span class="time">Just now</span>
                                                <p>Hi! Nunc placerat mi id nisi interum ...</p>
                                            </div>
                                        </div>
                                        <!-- end /.message_data -->
                                    </div>
                                    <!-- end /.message -->

                                    <div class="message_composer">
                                        <div class="composer_field" id="trumbowyg-demo"></div>
                                        <!-- end /.trumbowyg-demo -->

                                        <div class="attached"></div>

                                        <div class="btns">
                                            <button class="btn send btn--sm btn--round">Reply</button>
                                            <label for="att">
                                                <input type="file" class="attachment_field" id="att" multiple="">
                                                <span class="lnr lnr-paperclip"></span>Attachment</label>
                                        </div>
                                        <!-- end /.message_composer -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end /.col-md-6 -->

                    <div class="col-lg-8">
                        <div class="dashboard_module recent_notification">
                            <div class="dashboard__title">
                                <h4>Recent Notification</h4>
                                <div class="loading">
                                    <a href="#">View All</a>
                                </div>
                            </div>
                            <div class="dashboard__content">
                                <div class="notifications_module">
                                    <div class="notification">
                                        <span class="line"></span>
                                        <div class="notification__info">
                                            <div class="info_avatar">
                                                <img src="assets/images/notification_head.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p>
                                                    <span>Anderson</span> added to Favourite
                                                    <a href="#">Mccarther Coffee Shop</a>
                                                </p>
                                                <p class="time">Just now</p>
                                            </div>
                                        </div>
                                        <!-- end /.notifications -->

                                        <div class="notification__icons ">
                                            <span class="lnr lnr-heart loved noti_icon"></span>
                                            <span class="lnr lnr-cross"></span>
                                        </div>
                                        <!-- end /.notifications -->
                                    </div>
                                    <!-- end /.notifications -->

                                    <div class="notification">
                                        <div class="notification__info">
                                            <div class="info_avatar">
                                                <img src="assets/images/notification_head2.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p>
                                                    <span>Michael Jorden</span> commented on
                                                    <a href="#">MartPlace Extension Bundle</a>
                                                </p>
                                                <p class="time">Just now</p>
                                            </div>
                                        </div>
                                        <!-- end /.notifications -->

                                        <div class="notification__icons ">
                                            <span class="lnr lnr-bubble commented noti_icon"></span>
                                            <span class="lnr lnr-cross"></span>
                                        </div>
                                        <!-- end /.notifications -->
                                    </div>
                                    <!-- end /.notifications -->

                                    <div class="notification">
                                        <div class="notification__info">
                                            <div class="info_avatar">
                                                <img src="assets/images/notification_head3.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p>
                                                    <span>Khamoka </span>purchased
                                                    <a href="#"> Visibility Manager Subscriptions</a>
                                                </p>
                                                <p class="time">Just now</p>
                                            </div>
                                        </div>
                                        <!-- end /.notifications -->

                                        <div class="notification__icons ">
                                            <span class="lnr lnr-cart purchased noti_icon"></span>
                                            <span class="lnr lnr-cross"></span>
                                        </div>
                                        <!-- end /.notifications -->
                                    </div>
                                    <!-- end /.notifications -->

                                    <div class="notification">
                                        <div class="notification__info">
                                            <div class="info_avatar">
                                                <img src="assets/images/notification_head4.png" alt="">
                                            </div>
                                            <div class="info">
                                                <p>
                                                    <span>Anderson</span> added to Favourite
                                                    <a href="#">Mccarther Coffee Shop</a>
                                                </p>
                                                <p class="time">Just now</p>
                                            </div>
                                        </div>
                                        <!-- end /.notifications -->

                                        <div class="notification__icons ">
                                            <span class="lnr lnr-star reviewed noti_icon"></span>
                                            <span class="lnr lnr-cross"></span>
                                        </div>
                                        <!-- end /.notifications -->
                                    </div>
                                    <!-- end /.notifications -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="dashboard_module product_que">
                            <div class="dashboard__title">
                                <h4>Product Upload Queue</h4>
                            </div>

                            <div class="dashboard__content">
                                <ul>
                                    <li>
                                        <div class="uploaded_product">
                                            <h4>Job Portal HTML Template</h4>
                                            <p>8 days ago</p>
                                        </div>

                                        <a href="#" class="cross" data-toggle="modal" data-target="#myModal">
                                            <span class="lnr lnr-cross"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <div class="uploaded_product">
                                            <h4>Classic WordPress Blog Theme</h4>
                                            <p>12 days ago</p>
                                        </div>

                                        <a href="#" class="cross" data-toggle="modal" data-target="#myModal">
                                            <span class="lnr lnr-cross"></span>
                                        </a>
                                    </li>

                                    <li>
                                        <div class="uploaded_product">
                                            <h4>Biplob Vai is Boss Public</h4>
                                            <p>8 days ago</p>
                                        </div>

                                        <a href="#" class="cross" data-toggle="modal" data-target="#myModal">
                                            <span class="lnr lnr-cross"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.dashboard_menu_area -->
    </section>
    <!--================================
            END DASHBOARD AREA
    =================================-->