    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area breadcrumb--center breadcrumb--smsbtl">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page_title">
                        <h3>Contactanos</h3>
                        <p class="subtitle">Será un gusto atenderte</p>
                    </div>
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">Inicio</a>
                            </li>
                            <li class="active">
                                <a href="#">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
        START AFFILIATE AREA
    =================================-->
    <section class="contact-area section--padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <!-- start col-md-12 -->
                        <div class="col-md-12">
                            <div class="section-title">
                                <h1>¿Cómo podemos
                                    <span class="highlighted">ayudarte?</span>
                                </h1>
                                <p>
                                  Puedes contactarnos a travez de estos medios
                                </p>
                            </div>
                        </div>
                        <!-- end /.col-md-12 -->
                    </div>
                    <!-- end /.row -->

                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="contact_tile">
                                <span class="tiles__icon lnr lnr-map-marker"></span>
                                <h4 class="tiles__title">Direccion Central</h4>
                                <div class="tiles__content">
                                    <p>202 New Hampshire Avenue , Northwest #100, New York-2573</p>
                                </div>
                            </div>
                        </div>
                        <!-- end /.col-lg-4 col-md-6 -->

                        <div class="col-lg-4 col-md-6">
                            <div class="contact_tile">
                                <span class="tiles__icon lnr lnr-phone"></span>
                                <h4 class="tiles__title">Numeros de Telefono</h4>
                                <div class="tiles__content">
                                    <p>+502 4554 - 4554</p>
                                    <p>+502 4554 - 4555</p>
                                </div>
                            </div>
                            <!-- end /.contact_tile -->
                        </div>
                        <!-- end /.col-lg-4 col-md-6 -->

                        <div class="col-lg-4 col-md-6">
                            <div class="contact_tile">
                                <span class="tiles__icon lnr lnr-inbox"></span>
                                <h4 class="tiles__title">Correo Electronico</h4>
                                <div class="tiles__content">
                                    <p>info@woomper.com</p>
                                    <p>info@woomper.com</p>
                                </div>
                            </div>
                            <!-- end /.contact_tile -->
                        </div>
                        <!-- end /.col-lg-4 col-md-6 -->

                        <div class="col-md-12">
                            <div class="contact_form cardify">
                                <div class="contact_form__title">
                                    <h3>Dejanos tu mensaje</h3>
                                </div>

                                <div class="row">
                                    <div class="col-md-8 offset-md-2">
                                        <div class="contact_form--wrapper">
                                            <form action="#">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input [(ngModel)] = 'NombreUsuario' [ngModelOptions]="{standalone: true}" type="text" placeholder="Nombre">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input [(ngModel)] = 'ApellidoUsuario' [ngModelOptions]="{standalone: true}" type="text" placeholder="Apellido">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <input [(ngModel)] = 'CorreoUsuario' [ngModelOptions]="{standalone: true}" type="text" placeholder="Correo">
                                                        </div>
                                                    </div>
                                                </div>

                                                <textarea [(ngModel)] = 'Mensaje' [ngModelOptions]="{standalone: true}" cols="30" rows="10" placeholder="Mensaje"></textarea>

                                                <div class="sub_btn">
                                                    <button (click)="postEmail()" data-toggle="modal" data-target="#push-contacto" type="button" class="btn btn--round btn--default">Enviar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- end /.col-md-8 -->
                                </div>
                                <!-- end /.row -->
                            </div>
                            <!-- end /.contact_form -->
                        </div>
                        <!-- end /.col-md-12 -->
                    </div>
                    <!-- end /.row -->
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <div data-dismiss="modal" class="modal fade" id="push-contacto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content" style="text-align: center;">
                <div *ngIf="Fallo == true" role="alert" class="alert alert-danger alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="far fa-frown"></i></div>
                    <div class="message"><strong>¡Error!</strong> El correo no pudo ser enviado</div>
                </div>
                <div *ngIf="Fallo == false" role="alert" class="alert alert-success alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="far fa-smile"></i></div>
                    <div class="message"><strong>Enhorabuena {{NombreUsuario}}</strong> <br> Tu mensaje a sido enviado </div>
                </div>
                <div *ngIf="Vacio == true" role="alert" class="alert alert-warning alert-dismissible">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                    <div class="icon"><i class="fas fa-exclamation-triangle"></i></div>
                    <div class="message"><strong>¡Error!</strong> <br> Completa todos los campos </div>
                </div>
            </div>
        </div>
    </div>