    <!--================================
        START SEARCH AREA
    =================================-->
    <section class="search-wrapper">
            <div class="search-area2 bgimage">
                <div class="bg_image_holder">
                    <img src="assets/images/search.jpg" alt="">
                </div>
                <div class="container content_above">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="search">
                                <div class="search__title">
                                    <h3>
                                        Mas de <span>{{listaProductos.length}}</span> productos en nuestras tiendas 
                                    </h3>
                                </div>
                                <div class="search__field">
                                    <form action="#">
                                        <div class="field-wrapper">
                                            <input [(ngModel)]="data" (keyup)="buscar()" [ngModelOptions]="{standalone: true}" class="relative-field rounded" type="text" placeholder="Busca tus productos">
                                            <button (click)="buscar(data)" class="btn btn--round" type="submit">Buscar</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="breadcrumb">
                                    <ul>
                                        <li>
                                            <a href="#">Inicio</a>
                                        </li>
                                        <li class="active">
                                            <a href="#">Tienda</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end /.row -->
                </div>
                <!-- end /.container -->
            </div>
            <!-- end /.search-area2 -->
        </section>
        <!--================================
            END SEARCH AREA
        =================================-->
    
        <!--================================
            START FILTER AREA
        =================================-->
        <div class="filter-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="filter-bar filter--bar2">
                            <div class="pull-right">
                                <div class="filter__option filter--select">
                                    <div class="select-wrap">
                                        <select>
                                            <option (click) = "filtrar(0)">Sucursal</option>
                                            <option (click) = "filtrar(i.IDSucursal)" *ngFor="let i of listaSucursales" value="{{i.IDSucursal}}">{{i.Sucursal}}</option>
                                        </select>
                                        <span class="lnr lnr-chevron-down"></span>
                                    </div>
                                </div>
                                <div class="filter__option filter--select">
                                    <div class="select-wrap">
                                        <select>
                                            <option (click) = "filtrar2(0)">Categoria</option>
                                            <option (click) = "filtrar2(i.IDCategoria)" *ngFor="let i of listaCategorias" value="{{i.IDCategoria}}">{{i.Categoria}}</option>
                                        </select>
                                        <span class="lnr lnr-chevron-down"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end filter-bar -->
                    </div>
                    <!-- end /.col-md-12 -->
                </div>
                <!-- end filter-bar -->
            </div>
        </div>
        <!--================================
            END FILTER AREA
        =================================-->
    
    
        <!--================================
            START PRODUCTS AREA
        =================================-->
        <section class="products section--padding2">
            <!-- start container -->
            <div class="container">
                <!-- start .row -->
                <div class="row">
    
                    <!-- start col-md-9 -->
                    <div class="col-lg-12">
                        <div class="row">
                            <div *ngFor="let i of filtro" class="col-lg-3 col-md-6">
                                <!-- start .single-product -->
                                <div class="product product--card product--card-small">
    
                                    <div class="product__thumbnail">
                                        <img *ngIf="i.Imagen != null" src="http://localhost:3000/productos/imagen/{{i.Imagen}}" alt="Sin Imagen">
                                        <img *ngIf="i.Imagen == null" src="../../../assets/images/sin-imagen.jpg" alt="Sin Imagen">
                                        <div class="prod_btn">
                                            <a (click)="setData(i.IDProducto)" href="" data-dismiss="modal" data-toggle="modal" data-target="#detalles"  class="transparent btn--sm btn--round">Ver Detalles</a>
                                        </div>
                                        <!-- end /.prod_btn -->
                                    </div>
                                    <!-- end /.product__thumbnail -->
    
                                    <div class="product-desc">
                                        <a href="#" class="product_title">
                                            <h4>{{i.Producto}}</h4>
                                        </a>
                                        <ul class="titlebtm">
                                            <li>
                                                <img *ngIf="i.Imagen != null" class="auth-img" src="http://localhost:3000/productos/imagen/{{i.Imagen}}" alt="author image">
                                                <img *ngIf="i.Imagen == null" class="auth-img" src="../../../assets/images/sin-imagen.jpg" alt="author image">
                                                <p>
                                                    <a href="#">{{getCategoria(i.IDCategoria)}}</a>
                                                </p>
                                            </li>
                                            <li class="out_of_class_name">
                                                <div class="sell">
                                                    <p>
                                                        <span style="color:crimson" *ngIf="i.Cantidad == 0">{{i.Estado}} <i class="fas fa-box-open"></i> {{i.Cantidad}}</span>
                                                        <span style="color:limegreen" *ngIf="i.Cantidad != 0">{{i.Estado}} <i class="fas fa-box-open"></i> {{i.Cantidad}}</span>
                                                    </p>
                                                </div>
                                                <div class="rating product--rating">
                                                    <ul>
                                                        <li>
                                                            <span class="fa fa-star"></span>
                                                        </li>
                                                        <li>
                                                            <span class="fa fa-star"></span>
                                                        </li>
                                                        <li>
                                                            <span class="fa fa-star"></span>
                                                        </li>
                                                        <li>
                                                            <span class="fa fa-star"></span>
                                                        </li>
                                                        <li>
                                                            <span class="fa fa-star-half-o"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
    
                                    </div>
                                    <!-- end /.product-desc -->
    
                                    <div class="product-purchase">
                                        <div class="price_love">
                                            <span>Q{{i.Precio}}</span>
                                        </div>
                                        <a data-toggle="modal" data-target="#login" [class]="puntero" (click) = "AgregarAlCarrito(i.IDProducto)">
                                            <i class="fas fa-cart-plus"></i> Agregar
                                        </a>
                                    </div>
                                    <!-- end /.product-purchase -->
                                </div>
                                <!-- end /.single-product -->
                            </div>
                            <!-- end /.col-md-4 -->
                        </div>
                    </div>
                    <!-- end /.col-md-9 -->
                </div>
                <!-- end /.row -->
    
                <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="call-to-wrap">
                            <a (click)="cargarMas()" class="btn btn--lg btn--round btn--white callto-action-btn">Cargar Mas</a>
                        </div>
                    </div>
                </div> -->
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
    
        </section>
        <!--================================
            END PRODUCTS AREA
        =================================-->
    
            <div *ngIf="click == false" class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" >
                    <div class="modal-content">
                            <div class="modal-body">

                            <form action="#">
                                    <div class="cardify login">
                                        <div class="login--header">
                                            <h3>Inicia Sesion en Woomper</h3>
                                            <p>Para comprar debes acceder a tu cuenta</p>
                                        </div>
                                        <!-- end .login_header -->
            
                                        <div class="login--form">
                                            <div class="form-group">
                                                <label for="user_name">Ususario</label>
                                                <input id="user_name" [(ngModel)] = 'Usuario' [ngModelOptions]="{standalone: true}" type="text" class="text_field" placeholder="Enter your username...">
                                            </div>
            
                                            <div class="form-group">
                                                <label for="pass">Contrasena</label>
                                                <input id="pass" [(ngModel)] = 'Contrasena' [ngModelOptions]="{standalone: true}" type="password" class="text_field" placeholder="Enter your password...">
                                            </div>
            
                                            <div class="form-group">
                                                <div class="custom_checkbox">
                                                    <input (change)="mon($event)" [checked]="false" type="checkbox" id="ch2">
                                                    <label for="ch2">
                                                        <span class="shadow_checkbox"></span>
                                                        <span class="label_text">Recuerdame</span>
                                                    </label>
                                                </div>
                                            </div>
            
                                            <button data-dismiss="modal" data-toggle="modal" data-target="#push-login" (click) = "login()" class="btn btn--md btn--round" type="submit">Acceder</button>
        
                                        </div>
                                        <!-- end .login--form -->
                                    </div>
                                    <!-- end .cardify -->
                                </form>
                                </div>
                    </div>
                </div>
            </div>
                
                <div class="modal fade" id="push-login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" >
                        <div class="modal-content" style="text-align: center;">
                            <div *ngIf="Fallo == true" role="alert" class="alert alert-danger alert-dismissible">
                                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                                <div class="icon"><i class="far fa-frown"></i></div>
                                <div class="message"><strong>¡Error!</strong> Usuario o Contraseña incorrectos</div>
                            </div>
                            <div *ngIf="Fallo == false" role="alert" class="alert alert-success alert-dismissible">
                                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                                <div class="icon"><i class="far fa-smile"></i></div>
                                <div class="message"><strong>¡Bienvenido {{NombreUsuario}}!</strong> <br> Nos alegra tenerte de nuevo con nosotros </div>
                            </div>
                            <div *ngIf="Verificar == true" role="alert" class="alert alert-success alert-dismissible">
                                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                                <div class="icon"><i class="far fa-smile"></i></div>
                                <div class="message">
                                        <strong>¡Hola {{NombreUsuario}}!</strong> 
                                        <br> 
                                        Para continuar debes ingresar el codigo de verificacion que hemos enviado a tu correo electronico 
                                    </div>
                                <br>
                                <div class="form-group">
                                    <input style="text-align: center" id="user_name" [(ngModel)] = 'Codigo' [ngModelOptions]="{standalone: true}" type="text" class="text_field" placeholder="Ingresa el codigo...">
                                </div>
                                <button (click)="verificar()" class="btn btn--icon btn-sm btn--round btn-success"><i class="fas fa-user-lock"></i> Verificar Cuenta</button> 
                            </div>
                            <div *ngIf="Verificar == false" role="alert" class="alert alert-danger alert-dismissible">
                                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                                <div class="icon"><i class="far fa-frown"></i></div>
                                <div class="message"><strong>¡Error!</strong> El codigo es incorrecto</div>
                            </div>
                            <div *ngIf="Vacio == true" role="alert" class="alert alert-warning alert-dismissible">
                                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>
                                <div class="icon"><i class="fas fa-exclamation-triangle"></i></div>
                                <div class="message"><strong>¡Error!</strong> <br> Completa todos los campos </div>
                            </div>
                        </div>
                    </div>
                </div>    

                <div class="modal fade" id="detalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" >
                            <div class="modal-content" style="text-align: center;">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="item-preview">
                                            <div class="item__preview-slider slick-initialized slick-slider">
                                                <div class="slick-list draggable">
                                                    <div class="slick-track" style="opacity: 1; width: 6100px;">
                                                        <div class="prev-slide slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 610px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" tabindex="0">
                                                            <img width="500px" height="500px" src="http://localhost:3000/productos/imagen/{{Imagen}}" alt="">
                                                        </div>
                                                
                                                    </div>
                                                </div>                            
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="item-navigation">
                                                <ul class="nav nav-tabs">
                                                    <li>
                                                        <a href="#product-details" class="active show" aria-controls="product-details" role="tab" data-toggle="tab" aria-selected="true">Detalles</a>
                                                    </li>
                                                    <li>
                                                        <a href="#product-comment" aria-controls="product-comment" role="tab" data-toggle="tab" class="" aria-selected="false">Comentarios </a>
                                                    </li>
                                                    <li>
                                                        <a href="#product-faq" aria-controls="product-faq" role="tab" data-toggle="tab" class="" aria-selected="false">item FAQ</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- end /.item-navigation -->
                    
                                            <div class="tab-content">
                                                <div class="fade tab-pane product-tab active show" id="product-details">
                                                    <div class="tab-content-wrapper">
                                                        <h1>{{Producto}}</h1>
                                                        <p><b>Cantidad: </b> {{Cantidad}}</p>
                                                        <p><b>Fecha: </b> {{Fecha}}</p>
                                                        <p><b>Estado: </b> {{Estado}}</p>
                                                        <p><b>Categoria: </b> {{getCategoria(IDCategoria)}}</p>
                                                        <p><b>SubCategoria: </b> {{getSubCategoria(IDSubCategoria)}}</p>
                                                        <p><b>Sucursal: </b> {{getSucursal(IDSucursal)}}</p>
                                                    </div>
                                                </div>
                                                <!-- end /.tab-content -->
                    
                                                <div class="fade tab-pane product-tab" id="product-comment">
                                                    <div class="thread">
                                                        <ul class="media-list thread-list">
                                                            <li *ngFor="let i of listaComentariosFiltro" class="single-thread">
                                                                <div class="media">
                                                                    <div class="media-left">
                                                                        <a href="#">
                                                                            <img class="media-object" style="border-radius: 40px" src="http://localhost:3000/usuarios/imagen/{{getImagen(i.IDUsuario)}}" alt="Commentator Avatar">
                                                                        </a>
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <div>
                                                                            <div class="media-heading">
                                                                                <a href="http://localhost:3000/usuarios/imagen/{{getImagen(i.IDUsuario)}}">
                                                                                    <h4>{{getUsuario(i.IDUsuario)}}</h4>
                                                                                </a>
                                                                            </div>
                                                                            <br>
                                                                            <a *ngIf="i.IDUsuario == IDUsuario" style="cursor: pointer" (click)="deleteComentarios(i.IDComentario)">
                                                                                <span class="comment-tag buyer"><i class="fa fa-trash"></i> Eliminar</span>
                                                                            </a>
                                                                        </div>
                                                                        <p>{{i.Comentario}}</p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <!-- end single comment thread /.comment-->
                                                        </ul>
                                                        <!-- end /.media-list -->
                    
                                                        <div class="comment-form-area">
                                                            <h4>Deja un Comentario</h4>
                                                            <!-- comment reply -->
                                                            <div class="media comment-form">
                                                                <div class="media-left">
                                                                    <a href="#">
                                                                        <img *ngIf="ImagenU != null" class="media-object" width="50" style="border-radius: 30px; margin-right: 3px" src="http://localhost:3000/usuarios/imagen/{{ImagenU}}" alt="">
                                                                        <img *ngIf="ImagenU == null" class="media-object" width="50" style="margin-right: 3px" src="assets/images/m7.png" alt="">
                                                                    </a>
                                                                </div>
                                                                <div class="media-body">
                                                                    <form action="#" class="comment-reply-form">
                                                                        <textarea [(ngModel)] = 'Comentario' [ngModelOptions]="{standalone: true}" name="reply-comment" placeholder="Escribe tu comentario..."></textarea>
                                                                        <button *ngIf="click == true" (click)="postComentarios()" class="btn btn--sm btn--round">Comentar</button>
                                                                        <button *ngIf="click == false" style="cursor: no-drop;" data-dismiss="modal" data-toggle="modal" data-target="#login" class="btn btn--sm btn--round">Comentar</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            <!-- comment reply -->
                                                        </div>
                                                        <!-- end /.comment-form-area -->
                                                    </div>
                                                    <!-- end /.comments -->
                                                </div>
                                                <!-- end /.product-comment -->
                    
                                                <div class="fade tab-pane product-tab" id="product-faq">
                                                    <div class="tab-content-wrapper">
                                                        <div class="panel-group accordion" role="tablist" id="accordion">
                                                            <div class="panel accordion__single" id="panel-one">
                                                                <div class="single_acco_title">
                                                                    <h4>
                                                                        <a data-toggle="collapse" href="#collapse1" class="collapsed" aria-expanded="false" data-target="#collapse1" aria-controls="collapse1">
                                                                            <span>How to write the changelog for theme updates?</span>
                                                                            <i class="lnr lnr-chevron-down indicator"></i>
                                                                        </a>
                                                                    </h4>
                                                                </div>
                    
                                                                <div id="collapse1" class="panel-collapse collapse" aria-labelledby="panel-one" data-parent="#accordion">
                                                                    <div class="panel-body">
                                                                        <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut
                                                                            sceleris que the mattis, leo quam aliquet congue placerat mi id nisi
                                                                            interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip
                                                                            quis cardigan american apparel, butcher. Nunc placerat mi id nisi
                                                                            interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                                                                            leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip
                                                                            placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                                                                            apparel, butcher .</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end /.accordion__single -->
                                                            <div class="panel accordion__single" id="panel-two">
                                                                <div class="single_acco_title">
                                                                    <h4>
                                                                        <a data-toggle="collapse" href="#collapse2" class="collapsed" aria-expanded="false" data-target="#collapse2" aria-controls="collapse2">
                                                                            <span>Why do I need to login to purchase an item on DigiPro?</span>
                                                                            <i class="lnr lnr-chevron-down indicator"></i>
                                                                        </a>
                                                                    </h4>
                                                                </div>
                    
                                                                <div id="collapse2" class="panel-collapse collapse" aria-labelledby="panel-two" data-parent="#accordion">
                                                                    <div class="panel-body">
                                                                        <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut
                                                                            sceleris que the mattis, leo quam aliquet congue placerat mi id nisi
                                                                            interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip
                                                                            quis cardigan american apparel, butcher. Nunc placerat mi id nisi
                                                                            interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                                                                            leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip
                                                                            placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                                                                            apparel, butcher .</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end /.accordion__single -->
                                                            <div class="panel accordion__single" id="panel-three">
                                                                <div class="single_acco_title">
                                                                    <h4>
                                                                        <a data-toggle="collapse" href="#collapse3" class="collapsed" aria-expanded="false" data-target="#collapse3" aria-controls="collapse3">
                                                                            <span>How to create an account on DigiPro?</span>
                                                                            <i class="lnr lnr-chevron-down indicator"></i>
                                                                        </a>
                                                                    </h4>
                                                                </div>
                    
                                                                <div id="collapse3" class="panel-collapse collapse" aria-labelledby="panel-three" data-parent="#accordion">
                                                                    <div class="panel-body">
                                                                        <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut
                                                                            sceleris que the mattis, leo quam aliquet congue placerat mi id nisi
                                                                            interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip
                                                                            quis cardigan american apparel, butcher. Nunc placerat mi id nisi
                                                                            interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                                                                            leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip
                                                                            placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                                                                            apparel, butcher .</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end /.accordion__single -->
                                                            <div class="panel accordion__single" id="panel-four">
                                                                <div class="single_acco_title">
                                                                    <h4>
                                                                        <a data-toggle="collapse" href="#collapse4" class="collapsed" aria-expanded="false" data-target="#collapse4" aria-controls="collapse4">
                                                                            <span>How to write the changelog for theme updates?</span>
                                                                            <i class="lnr lnr-chevron-down indicator"></i>
                                                                        </a>
                                                                    </h4>
                                                                </div>
                    
                                                                <div id="collapse4" class="panel-collapse collapse" aria-labelledby="panel-four" data-parent="#accordion">
                                                                    <div class="panel-body">
                                                                        <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut
                                                                            sceleris que the mattis, leo quam aliquet congue placerat mi id nisi
                                                                            interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip
                                                                            quis cardigan american apparel, butcher. Nunc placerat mi id nisi
                                                                            interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                                                                            leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip
                                                                            placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                                                                            apparel, butcher .</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end /.accordion__single -->
                                                            <div class="panel accordion__single" id="panel-five">
                                                                <div class="single_acco_title">
                                                                    <h4>
                                                                        <a data-toggle="collapse" href="#collapse5" class="collapsed" aria-expanded="false" data-target="#collapse5" aria-controls="collapse5">
                                                                            <span>Do you recommend using a download manager software?</span>
                                                                            <i class="lnr lnr-chevron-down indicator"></i>
                                                                        </a>
                                                                    </h4>
                                                                </div>
                    
                                                                <div id="collapse5" class="panel-collapse collapse" aria-labelledby="panel-five" data-parent="#accordion">
                                                                    <div class="panel-body">
                                                                        <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut
                                                                            sceleris que the mattis, leo quam aliquet congue placerat mi id nisi
                                                                            interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip
                                                                            quis cardigan american apparel, butcher. Nunc placerat mi id nisi
                                                                            interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                                                                            leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip
                                                                            placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                                                                            apparel, butcher .</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end /.accordion__single -->
                                                            <div class="panel accordion__single" id="panel-six">
                                                                <div class="single_acco_title">
                                                                    <h4>
                                                                        <a data-toggle="collapse" href="#collapse6" class="collapsed" aria-expanded="false" data-target="#collapse6" aria-controls="collapse6">
                                                                            <span>How to purchase an item on DigiPro?</span>
                                                                            <i class="lnr lnr-chevron-down indicator"></i>
                                                                        </a>
                                                                    </h4>
                                                                </div>
                    
                                                                <div id="collapse6" class="panel-collapse collapse" aria-labelledby="panel-six" data-parent="#accordion">
                                                                    <div class="panel-body">
                                                                        <p>Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut
                                                                            sceleris que the mattis, leo quam aliquet congue placerat mi id nisi
                                                                            interdum mollis. Aliquip placeat salvia cillum iphone. Seitan aliquip
                                                                            quis cardigan american apparel, butcher. Nunc placerat mi id nisi
                                                                            interdum mollis. Praesent pharetra, justo ut sceleris que the mattis,
                                                                            leo quam aliquet congue placerat mi id nisi interdum mollis. Aliquip
                                                                            placeat salvia cillum iphone. Seitan aliquip quis cardigan american
                                                                            apparel, butcher .</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end /.accordion__single -->
                                                        </div>
                                                        <!-- end /.accordion -->
                                                    </div>
                    
                                                </div>
                                                <!-- end /.product-faq -->
                                            </div>
                                            <!-- end /.tab-content -->
                                        </div>
                                        <!-- end /.item-info -->
                                    </div>
                                    <div class="col-lg-4">
                                        <aside class="sidebar sidebar--single-product">
                                            <div class="sidebar-card card-pricing">
                                                <div class="price">
                                                    <h1>
                                                        <sup>Q</sup>{{Precio}}
                                                    </h1>
                                                </div>
                    
                                                <div class="purchase-button">
                                                    <a href="#" class="btn btn--lg btn--round">Comprar Producto</a>
                                                        <a data-dismiss="modal" data-toggle="modal" data-target="#login" (click) = "AgregarAlCarrito(IDProducto)" class="btn btn--lg btn--round cart-btn" >
                                                        <span class="lnr lnr-cart"></span> Agregar al Carrito</a>
                                                </div>
                                                <!-- end /.purchase-button -->
                                            </div>
                                            <!-- end /.sidebar--card -->
                    
                                            <div class="sidebar-card card--metadata">
                                                <ul class="data">
                                                    <li>
                                                        <p>
                                                            <span class="lnr lnr-cart pcolor"></span>Total Vendidos</p>
                                                        <span>426</span>
                                                    </li>
                                                    <li>
                                                        <p>
                                                            <span class="lnr lnr-heart scolor"></span>Favoritos</p>
                                                        <span>240</span>
                                                    </li>
                                                    <li>
                                                        <p>
                                                            <span class="lnr lnr-bubble mcolor3"></span>Comentarios</p>
                                                        <span>35</span>
                                                    </li>
                                                </ul>
                    
                    
                                                <div class="rating product--rating">
                                                    <ul>
                                                        <li>
                                                            <span class="fa fa-star"></span>
                                                        </li>
                                                        <li>
                                                            <span class="fa fa-star"></span>
                                                        </li>
                                                        <li>
                                                            <span class="fa fa-star"></span>
                                                        </li>
                                                        <li>
                                                            <span class="fa fa-star"></span>
                                                        </li>
                                                        <li>
                                                            <span class="fa fa-star-half-o"></span>
                                                        </li>
                                                    </ul>
                                                    <span class="rating__count">( 26 Ratings )</span>
                                                </div>
                                                <!-- end /.rating -->
                                            </div>
                                            <!-- end /.sidebar-card -->

                                        </aside>
                                        <!-- end /.aside -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  

                    <div class="go_top">
                        <div class="modules__content">
                            <div *ngIf="agregado == true" class="alert alert-success" role="alert">
                                <span class="alert_icon lnr lnr-checkmark-circle"></span>
                                <strong>{{Producto}}</strong> ha sido agrego al carrito.
                                <button (click) = "cerrarAlert" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span class="lnr lnr-cross" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div *ngIf="agotado == true" class="alert alert-warning" role="alert">
                                <span class="alert_icon lnr lnr-warning"></span>
                                <strong>{{Producto}}</strong> se encuentra agotado.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span class="lnr lnr-cross" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div *ngIf="borrado == true" class="alert alert-danger" role="alert">
                                <span class="alert_icon lnr lnr-warning"></span>
                                <strong>{{Producto}}</strong> ha sido eliminado del carrito.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span class="lnr lnr-cross" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>