.navbar{
    width: 100%;
    background: #fff;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}
.navbar-brand img{
    width: 100%;
}
.preview-page .btn{
  padding: 0 20px;
}
.bg_color{
  background: #f0f1f5;
}
.bg_color2{
  background: #f8f8f8;
}
.navbar-default{
  background: none;
  border: 0;
  margin: 0;
}
.prev_menu_area{
  background: #fff;
}
.prev_menu_area .navbar-nav li a{
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  line-height: 42px;
  display: block;
  padding: 17px;
}
.prev_menu_area .navbar-nav li .btn{
  margin-top: 20px;
  margin-left: 35px;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  text-transform: capitalize;
}
.navbar-default .navbar-collapse{
  background: none;
}
.prev_hero_area{
  background-image: url('images/header.jpg');
  background-size: cover;
  height: 100vh;
}
.prev_hero_area .prev_hero{
  padding-top: 10%;
}
.prev_hero .hero__content__title{
  padding-bottom: 50px;
}
.prev_hero .hero__content__title h1{
  font-size: 46px;
  line-height: 48px;
  padding-bottom: 15px;
  font-weight: 500;
}
.prev_hero .hero__content__title h1 .highlight{
  color: #0674ec;
}
.prev_hero .hero__content__title p{
  font-weight: 400;
  font-size: 24px;
  line-height: 44px;
  color: #0674ec;
  text-shadow: none;
  background: -webkit-gradient(linear,right top,left top,from(#7347c1),to(#0674ec));
  background: -webkit-linear-gradient(right,#7347c1,#0674ec);
  background: -o-linear-gradient(right,#7347c1,#0674ec);
  background: linear-gradient(to left,#7347c1,#0674ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.prev_facts{
  padding: 145px 0;
  background-image: url('images/facts.jpg');
}
.prev_hero .btn--white{
  margin-left: 20px;
}
.prev_box{
  text-align: center;
  padding-top: 55px;
  padding-bottom: 70px;
  border-radius: 8px;
}
.prev_box.even{
  margin-top: 60px;
}
.prev_box h1.num{
  font-size: 72px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 18px;
  margin: 0;
}
.prev_box span{
  color: #fff;
  font-size: 20px;
}
.prev_feature_contents{
  padding-right: 220px;
  padding-top: 91px;
}
.prev_feature_contents.pl{
  padding-left: 220px;
  padding-right: 0;
}
.prev_features_area h1{
  font-size: 44px;
  line-height: 54px;
  font-weight: 500;
  margin-bottom: 50px;
}
.highlight{
  color: #0674ec;
}
.prev_features_area h1 .highlight{
  color: #0674ec;
  font-weight: 700;
}
.prev_features_area .prev_single_feature{
  padding-top: 58px;
}
.prev_feature_contents ul{
  display: inline-block;
  vertical-align: top;
}
.prev_feature_contents h3{
  font-size: 30px;
  line-height: 54px;
  color: #555;
}
.prev_feature_contents ul+ul{
  margin-left: 30px;
}
.prev_feature_contents ul li{
  color: #000;
  font-weight: 500;
  position: relative;
  font-size: 18px;
  line-height: 34px;
}
.prev_feature_contents ul li:before{
  content: "\f00c";
  position: relative;
  color: #0674ec;
  margin-right: 15px;
  font-family: 'fontawesome', sans-serif;
}
.prev_feature_contents .bold{
  font-weight: 500;
  color: #000;
  font-size: 20px;
}
.prev_feature_contents .bold.mt{
  margin-top: 50px;
}
.prev_fe_list{
  margin-top: 30px;
}
.prev_feature_contents p{
  color: #555;
  line-height: 34px;
}
.prev_feature_contents p.fz18{
  font-size: 18px;
}
.prev_feature_contents p span{
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.prev_feature_contents .prev_content_btn{
  margin-top: 60px;
}
.prev_filter_menu{
  text-align: center;
}
.prev_filter_menu ul li{
  display: inline-block;
}
.prev_filter_menu ul li.uk-active a{
  background: #0674ec;
  border-radius: 500px;
  color: #fff;
}
.prev_filter_menu ul li a{
  color: #000;
  font-weight: 500;
  display: inline-block;
  line-height: 36px;
  font-size: 15px;
  padding: 0 21px;
  transition: 0.3s;
}
.prev_filter_menu ul li a:hover{
  color: #0674ec;
}
.prev_demos{
  background:#e3e4e8;
  padding-top: 80px;
  min-height: 800px;
}
.prev_demos a{
  display: inline-block;
}
.prev_demos .prev_images{
  box-shadow: 2px 0px 50px rgba(0, 0, 0, .15);
  transition: .3s;
  border-radius: 5px;
}
.prev_demos .prev_images:hover{
  transform: translateY(-10px);
}
.prev_demos  .text_link{
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-top: 26px;
  transition: 0.3s;
}
.prev_demos  .text_link:hover{
  color: #0674ec;
}
.prev_demos .prev_images img{
  border-radius: 5px;
}
.prev_demos .demo{
  text-align: center;
  margin-bottom: 45px;
}
.prev_section_title_area{
  margin-top: 82px;
}
.prev_section_title_area .prev_demo_title{
  margin-bottom: 76px;
}
.prev_section_title_area .prev_demo_title h2{
  font-size: 36px;
  line-height: 28px;
  color: #000;
  margin-bottom: 33px;
}
.prev_section_title_area .prev_demo_title .highlight{
  color: #0674ec;
}
.prev_filter_menu{
  margin-bottom: 58px;
}
.prev_element_area{
  background: #192027;
  padding: 160px 0 140px 0;
}
.prev_element_area .prev_elem_title_area{
  text-align: center;
  padding-bottom: 85px;
}
.prev_element_area .prev_elem_title_area h1{
  font-size: 60px;
  display: inline-block;
  font-weight: 700;
  color: #fff;
  background: #0674ec;
  padding: 10px 24px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.prev_element_area .prev_elem_title_area h2{
  font-size: 44px;
  line-height: 54px;
  color: #fff;
  font-weight: 500;
}
.prev_feature_box{
  background: #fff;
  text-align: center;
  height: 200px;
  display: table;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 30px;
}
.perv_feature_wrapper{
  vertical-align: middle;
  display: table-cell;
  box-shadow: 0px 2px 4px rgba(108, 111, 115, .1);
  padding: 0 20px;
}
.feature_box_title{
  margin-bottom: 75px;
}
.perv_feature_wrapper span{
  font-size: 40px;
  color: #0674ec;
}
.perv_feature_wrapper P{
  margin-bottom: 0;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  margin-top: 19px;
}
.features_box_area{
  padding-top: 133px;
  padding-bottom: 100px;
}
.prev_call_to_act .call-to-wrap h4{
  font-size: 24px;
}
.prev_call_to_act .call-to-wrap h1{
  font-size: 48px;
  color: #fff;
  font-weight: 500;
  padding-top: 27px;
}

/* ============================
  Responsive CSS
=============================== */
@media (max-width: 1400px){
  .prev_feature_contents {
    padding-right: 95px;
    padding-top: 50px;
    margin-bottom: 100px;
  }
  .prev_feature_contents.pl {
    padding-left: 98px;
  }
  .prev_feature_contents ul:last-child {
    margin-left: 0;
  }
  .prev_feature_contents.pl ul:last-child {
    margin-left: 30px;
  }
};

@media (min-width: 992px) and (max-width: 1199px){

}

@media (max-width: 991px){
  .prev_facts{
    padding-bottom: 85px;
  }
  .prev_box{
    margin-bottom: 60px;
  }
  .prev_box.even {
    margin-top: 0;
  }
  .prev_feature_contents {
    padding-left: 95px;
  }
  .go_top {
    right: 15px;
  }
  .go_top2 {
    right: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px){

}

@media screen and (max-width: 767px){
  .prev_hero_area{
    position: relative;
  }
  .prev_hero_area::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.6);
  }
  .prev_hero_area .navbar-header .navbar-toggle {
    float: right;
  }
  .navbar-header .navbar-toggle span {
    width: 30px;
    border: 1px solid #0674ec;
    display: block;
  }
  .navbar-toggle{
    padding: 10px;
  }
  .navbar-brand {
    padding: 0 15px;
    display: block;
  }
  .navbar-header {
    padding: 15px 0;
  }
  .prev_menu_area .navbar-nav li a {
    line-height: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .prev_menu_area .navbar-nav li .btn {
    margin-top: 10px;
    margin-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 15px;
  }
  .container {
    width: auto;
  }
  .prev_demos .prev_images {
    box-shadow: none;
  }
  .prev_demos a {
    display: block;
  }
  .prev_feature_contents.pl {
    padding-left: 15px;
  }
  .prev_feature_contents{
    padding-left: 15px;
    padding-right: 15px;
  }
  .prev_feature_contents ul:last-child{
    margin-left: 0;
  }

}

@media (min-width: 320px) and (max-width: 480px){
  .hero__btn-area a{
    margin-bottom: 15px;
  }
  .hero__btn-area a:last-child{
    margin-bottom: 0;
  }
  .go_top {
    right: 10px;
  }
  .go_top2 {
    right: 10px;
  }
  .prev_section_title_area .prev_demo_title h2 {
    line-height: 50px;
  }
  .prev_element_area .prev_elem_title_area h2 {
    font-size: 30px;
    line-height: 45px;
  }
  .navbar-brand{
      width: 50%;
  }
}