<div class="dashboard_menu_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <ul *ngIf="ID == 1" class="dashboard_menu">
                            <li>
                                <a [routerLink]="['/panel']">
                                    <i class="fas fa-tachometer-alt"></i> Dashboard
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/panel/categorias']">
                                    <i class="fas fa-th-large"></i> Categorias
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/panel/subcategorias']">
                                    <i class="fas fa-th"></i> SubCategorias
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/panel/sucursales']">
                                    <i class="fas fa-store"></i> Sucursales
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/panel/proveedores']">
                                    <i class="fas fa-truck-loading"></i> Proveedores
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/panel/productos']">
                                    <i class="fas fa-box-open"></i> Productos
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/panel/usuarios']">
                                    <i class="fas fa-users"></i> Usuarios
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/panel/pedidos']">
                                    <i class="fas fa-shipping-fast"></i> Pedidos
                                </a>
                            </li>
                    </ul>
    
                    <ul *ngIf="ID == 3" class="dashboard_menu">
                        <li>
                            <a [routerLink]="['/panel']">
                                <i class="fas fa-tachometer-alt"></i> Dashboard
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/panel/pedidos']">
                                <i class="fas fa-shipping-fast"></i> Mis Pedidos
                            </a>
                        </li>
                    </ul>
                <!-- end /.dashboard_menu -->
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</div>
<!-- end /.dashboard_menu_area -->